{% load custom_tags %}

<li class="nav-item">
    <a id="id_planning" class="nav-link active tab-icon planning-icon" data-toggle="tab" href="#planning">
        Planning
    </a>
</li>
<li class="nav-item">
    <a id="id_planning" class="nav-link poc-icon planning-icon" data-toggle="tab" href="#people">
        People
    </a>
</li>
<li class="nav-item">
    <a id="id_whitecards" class="nav-link tab-icon whitecard-icon" data-toggle="tab" href="#whitecards">
        White Cards <span class="badge badge-pill badge-light">{{ project.whitecard_set.all.count }}</span>
    </a>
</li>
<li class="nav-item">
    <a id="id_scopes" class="nav-link tab-icon bullseye-icon" data-toggle="tab" href="#scopes">
        Scope
    </a>
</li>
<li class="nav-item">
    <a id="id_objectives" class="nav-link tab-icon tasks-icon" data-toggle="tab" href="#objectives">
        Objectives <span class="badge badge-pill badge-light">{{ project.projectobjective_set.all|count_incomplete_objectives }}</span>
    </a>
</li>
<li class="nav-item">
    <a id="id_targets" class="nav-link tab-icon objective-icon" data-toggle="tab" href="#targets">
        Targets
    </a>
</li>
<li class="nav-item">
    <a id="id_activity" class="nav-link tab-icon history-icon" data-toggle="tab" href="#activity">
        Logs
    </a>
</li>
<li class="nav-item">
    <a id="id_documents" class="nav-link tab-icon folder-icon" data-toggle="tab" href="#documents">
        Reports
    </a>
</li>
<li class="nav-item">
    <a id="id_infrastructure" class="nav-link tab-icon server-icon" data-toggle="tab" href="#infrastructure">
        Infrastructure
    </a>
</li>
<li class="nav-item">
    <a id="id_deconflictions" class="nav-link tab-icon comment-icon" data-toggle="tab" href="#deconflictions">
        Deconflictions <span class="badge badge-pill badge-light">{{ project.deconfliction_set.all.count }}</span>
    </a>
</li>
<li class="nav-item">
    <a id="id_notes" class="nav-link tab-icon comment-icon" data-toggle="tab" href="#notes">
        Notes <span class="badge badge-pill badge-light">{{ project.projectnote_set.all.count }}</span>
    </a>
</li>
