{% load custom_tags %}

<li class="nav-item">
    <a id="id_overview" class="nav-link active tab-icon planning-icon" data-toggle="tab" href="#overview">
        Overview
    </a>
</li>
<li class="nav-item">
    <a id="id_workbook" class="nav-link tab-icon folder-icon" data-toggle="tab" href="#workbook">
        Workbook
    </a>
</li>
<li class="nav-item">
    <a id="id_supplementals" class="nav-link tab-icon upload-icon" data-toggle="tab" href="#supplementals">
        Additional Data <span class="badge badge-pill badge-light">{{ project.data_files.count }}</span>
    </a>
</li>
<li class="nav-item">
    <a id="id_data" class="nav-link tab-icon tasks-icon" data-toggle="tab" href="#data">
        Questionnaire <span class="badge badge-pill badge-light">{{ pending_question_sections_count }}</span>
    </a>
</li>
<li class="nav-item">
    <a id="id_processed_data" class="nav-link tab-icon chart-icon" data-toggle="tab" href="#processed-data">
        Processed Data <span class="badge badge-pill badge-light">{{ processed_data_cards|length }}</span>
    </a>
</li>
<li class="nav-item">
    <a id="id_documents" class="nav-link tab-icon file-icon" data-toggle="tab" href="#documents">
        Reporting
    </a>
</li>
{% if project_extra_fields_spec %}
    <li class="nav-item">
        <a id="id_extra_fields" class="nav-link tab-icon custom-field-icon" data-toggle="tab" href="#extra_fields">
            Extra Fields
        </a>
    </li>
{% endif %}
<li class="nav-item">
    <a id="id_ai_review" class="nav-link tab-icon comment-icon" data-toggle="tab" href="#ai-review">
        AI Review <span class="badge badge-pill badge-light">{{ ai_review_sections|length }}</span>
    </a>
</li>
