{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}{{ name }} Entries{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb" style="padding-left: 20px;">
    <ul class="breadcrumb" style="margin: 0;">
        <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'oplog:index' %}"">Operational Logs</a></li>
            <li class=" breadcrumb-item active" aria-current="page">{{ name }}</li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<!-- Oplog Table Section -->
<div id="utilBar">
    <div style="float:left;">
        <input id="searchInput" type="text" placeholder="Filter..." />
    </div>
    <div style="float:left;">

    </div>
    <div style="float:right; ">
        <a href="javascript:void(0)"><i class=" far fa-plus-square" id="createNewEntry"></i> Create a new entry</a>
    </div>
</div>
<div style="clear: both;"></div>
<a href="javascript:void(0);"><i class="far fa-plus-square" id="columnSelectDropdown"></i><label>Select
        Columns</label></a>

<div id="columnSelect" style="display:none;">
    <ul class="list-group-row" id="checkboxList">
    </ul>
</div>

<table id="oplogTable" class="table-striped mb-0">
    <thead>
        <tr id="oplogTableHeader">
        </tr>
    </thead>
    <tbody id="oplogTableBody">
    </tbody>
</table>
{% endblock %}


{% block morescripts %}
<!-- jQuery Tablesorter Script -->
<script>
    var protocol = "ws://"
    if (location.protocol == "https:") {
        protocol = "wss://"
    }
    var endpoint = protocol + window.location.host + "/ws" + window.location.pathname
    var socket = new WebSocket(endpoint)
    var $table = $("#oplogTable tbody")
    let columnInfo = []
    columnInfo = [
        ['startDateCheckBox', 'startDateColumn', 'Start Date', 'start_date'],
        ['endDateCheckbox', 'endDateColumn', 'End Date', 'end_date'],
        ['idCheckbox', 'idColumn', 'ID', 'oplog_id'],
        ['sourceIPCheckbox', 'sourceIPColumn', 'Source', 'source_ip'],
        ['destIPCheckbox', 'destIPColumn', 'Destination', 'dest_ip'],
        ['toolNameCheckbox', 'toolNameColumn', 'Tool Name', 'tool'],
        ['userContextCheckbox', 'userContextColumn', 'User Context', 'user_context'],
        ['commandCheckbox', 'commandColumn', 'Command', 'command'],
        ['descriptionCheckbox', 'descriptionColumn', 'Description', 'description'],
        ['outputCheckbox', 'outputColumn', 'Output', 'output'],
        ['commentsCheckbox', 'commentsColumn', 'Comments', 'comments'],
        ['operatorCheckbox', 'operatorColumn', 'Operator', 'operator_name'],
        ['deleteCheckbox', 'deleteColumn', 'Delete', ''],
        ['copyCheckbox', 'copyColumn', 'Copy', '']
    ]

    function coupleCheckboxColumn(checkboxId, columnClass) {
        $(checkboxId).change(function (e) {
            if (!this.checked) {
                $(columnClass).hide()
            }
            else {
                $(columnClass).show()
            }
        });
    }

    function hideColumns() {
        columnInfo.forEach(function (value, index, array) {
            $checkbox = $("#" + value[0])
            if (!$checkbox.prop("checked")) {
                $("." + value[1]).hide()
            }
        })
    }

    function getKeyName(cell) {
        var className = cell.attr("class")
        for (column of columnInfo) {
            if (className.indexOf(column[1]) >= 0) {
                return column[3]
            }
        }
    }

    // Populate the table info
    $checkboxList = $("#checkboxList")
    $tableHeader = $("#oplogTableHeader")
    columnInfo.forEach(function (value, index, array) {
        checkboxEntry = `
            <input type="checkbox" id="${value[0]}" checked/>
            <lablel>${value[2]}</label>
            `
        $checkboxList.append(checkboxEntry)
        headerColumn = `
            <th class="${value[1]}">${value[2]}</th>
            `
        $tableHeader.append(headerColumn)
        coupleCheckboxColumn("#" + value[0], "." + value[1])
    })

    // This is the filter function to search through row entries
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#oplogTableBody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    $("#columnSelectDropdown").click(function () {
        $("#columnSelect").toggle("slow");
        $("#columnSelectDropdown").toggleClass("fa-plus-square fa-minus-square")
    });

    $("#createNewEntry").click(function () {
        socket.send(JSON.stringify({
            'action': 'create',
            'oplog_id': {{ pk }}
        }))
    })

    $('#oplogTable').on('click', '[id^="deleteButton_"]', function (event) {
        // This is super janky, but we get the id of the entry by appending
        // it to the button id
        var $column = $(this).closest('td')
        var buttonName = $column.attr('id')
        var id = buttonName.split("_")[1]
        socket.send(JSON.stringify({
            'action': 'delete',
            'oplogEntryId': id
        }))
        var $tr = $(this).closest('tr')
        $tr.fadeOut('slow', function () {
            $tr.remove()
        });
    });

    $('#oplogTable').on('click', '[id^="copyButton_"]', function (event) {
        var $column = $(this).closest('td')
        var buttonName = $column.attr('id')
        var id = buttonName.split("_")[1]
        socket.send(JSON.stringify({
            'action': 'copy',
            'oplogEntryId': id
        }))
    });



    $('#oplogTable').on('dblclick', '.editableCell', function (e) {
        var text = $(this).text()
        var input = $('<textarea style="height:200px;"/>');
        $(this).html(input);
        $textArea = $(this).find("textarea")
        $textArea.focus()
        $textArea.val(text)
    });

    $('#oplogTable').on('focusout', '.editableCell', function (e) {
        var $textArea = $(this).find("textarea")
        var input = $('<div class="overflow-auto" style="max-height: 200px;">');

        var value = $textArea.val()
        var keyName = getKeyName($(this))

        socket.send(JSON.stringify({
            'action': 'edit',
            'oplogEntryId': id,
            'modifiedRow': {
                [keyName]: value
            }
        }))

        input.text(value)
        $(this).html(input)
    });

    socket.onmessage = function (e) {
        entries = JSON.parse(e.data)
        entries.forEach(element => {
            entry = element['fields']
            id = element['pk']
            var newRow = `<tr>
                            <td class="${columnInfo[0][1]} editableCell">${entry["start_date"].replace(/\.\d+/, "").replace("Z", "").replace("T", " ")}</td>
                            <td class="${columnInfo[1][1]} editableCell">${entry["end_date"].replace(/\.\d+/, "").replace("Z", "").replace("T", " ")}</td>
                            <td class="${columnInfo[2][1]}">${id}</td>
                            <td class="${columnInfo[3][1]} editableCell">${entry["source_ip"]}</td>
                            <td class="${columnInfo[4][1]} editableCell">${entry["dest_ip"]}</td>
                            <td class="${columnInfo[5][1]} editableCell">${entry["tool"]}</td>
                            <td class="${columnInfo[6][1]} editableCell">${entry["user_context"]}</td>
                            <td class="${columnInfo[7][1]} editableCell"><div class="overflow-auto" style="max-height: 200px;">${entry["command"]}<div></td>
                            <td class="${columnInfo[8][1]} editableCell"><div class="overflow-auto" style="max-height: 200px;">${entry["description"]}</div></td>
                            <td class="${columnInfo[9][1]} editableCell"><div class="overflow-auto" style="max-height: 200px;">${entry["output"]}</div></td>
                            <td class="${columnInfo[10][1]} editableCell"><div class="overflow-auto" style="max-height: 200px;">${entry["comments"]}</div></td>
                            <td class="${columnInfo[11][1]} editableCell">${entry["operator_name"]}</td>
                            <td class="${columnInfo[12][1]}" id="deleteButton_${id}"><a href="javascript:void(0);"><i class="fa fa-times" ></i></a></td>
                            <td class="${columnInfo[13][1]}" id="copyButton_${id}"><a href="javascript:void(0);"><i class="fa">&#xf0c5;</i></a></td>
                            </tr>`


            var rowFound = false
            $('#oplogTable tr').each(function () {
                if ($(this).find('td').eq(2).text() == id) {
                    $(this).replaceWith(newRow);
                    rowFound = true;
                }
            })
            if (!rowFound) {
                $newRow = $table.prepend(newRow).hide()
            }

            hideColumns()
            $newRow.fadeIn("slow");
        })
    }

    socket.onerror = function (e) {
        console.log("[!] error: ", e)
    }
</script>
{% endblock %}