{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}{{ name }} Entries{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'oplog:index' %}"">Operation Logs</a></li>
                <li class=" breadcrumb-item active" aria-current="page">{{ name }}</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div>
        <div class="dropdown">
            <div class="dropdown-menu-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="hamburger(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="oplog-dropdown-btn">
                <a href="javascript:void(0)" id="createNewEntry" class="dropdown-item icon add-icon">Create Entry</a>
                <a href="javascript:void(0)" id="importNewEntries" class="dropdown-item icon upload-icon">Import Entries</a>
                <a href="javascript:void(0)" id="exportEntries" class="dropdown-item icon export-icon">Export Entries</a>
                <a href="javascript:void(0)" id="createNewEntry" class="dropdown-item icon add-icon">Create Entry</a>
                <a href="{% url 'rolodex:project_detail' project.id %}" class="dropdown-item icon project-icon" >Jump to Project</a>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>{{ name }}</h2>
        <h4>Project: {{ project.client }} {{ project.project_type }}</h4>
    </div>

    <!-- Oplog Table Section -->
    <div id="utilBar" class="form-row my-auto align-items-center">
        <div class="col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="filter-addon"><i class="fas fa-filter"></i></span>
                </div>
                <input id="searchInput" type="text" class="form-control" placeholder="Filter Entries" aria-describedby="filter-addon">
            </div>
        </div>

        <div class="col-md-4">
            <div style="clear: both;">
                <a href="javascript:void(0);" id="columnSelectDropdown" class="align-icon icon add-icon">Select Columns</a>
            </div>
        </div>

        <div class="offset-md-2 col-md-2">
            <div id="connection">
                <div id="connectionStatus" class="js-connection-status icon network-icon">Disconnected</div>
            </div>
        </div>
    </div>

    <div id="columnSelect" style="display:none;">
        <ul class="list-group-row" id="checkboxList">
        </ul>
    </div>

    <div id="oplogTableDiv" style="overflow-x:auto;">
        <table id="oplogTable" class="table table-striped table-hover table-sm">
            <thead>
                <tr id="oplogTableHeader"></tr>
            </thead>
            <tbody id="oplogTableBody">
                <tr id="oplogTableNoEntries">
                    <td colspan="100%">No entries to display</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}


{% block morescripts %}
    <!-- Modal for Spinner -->
    <div id="spinner-modal" class="modal " tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Stand By!</h5>
                </div>
                <div class="modal-body text-center">
                    <h3><i class="fa fa-sync fa-spin"></i> Loading the log entries...</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery Tablesorter Script -->
    <script>
        var protocol = "ws://"
        if (location.protocol == "https:") {
            protocol = "wss://"
        }
        var $selectedCell = null;
        var $table = $("#oplogTable tbody")
        var socket = null;
        var errorDisplayed = false;
        var tableSynced = false;
        var pendingResult = false;

        let columnInfo = []
        columnInfo = [
            ['startDateCheckBox', 'startDateColumn', 'Start Date', 'start_date'],
            ['endDateCheckbox', 'endDateColumn', 'End Date', 'end_date'],
            ['idCheckbox', 'idColumn', 'ID', 'oplog_id'],
            ['sourceIPCheckbox', 'sourceIPColumn', 'Source', 'source_ip'],
            ['destIPCheckbox', 'destIPColumn', 'Destination', 'dest_ip'],
            ['toolNameCheckbox', 'toolNameColumn', 'Tool Name', 'tool'],
            ['userContextCheckbox', 'userContextColumn', 'User Context', 'user_context'],
            ['commandCheckbox', 'commandColumn', 'Command', 'command'],
            ['descriptionCheckbox', 'descriptionColumn', 'Description', 'description'],
            ['outputCheckbox', 'outputColumn', 'Output', 'output'],
            ['commentsCheckbox', 'commentsColumn', 'Comments', 'comments'],
            ['operatorCheckbox', 'operatorColumn', 'Operator', 'operator_name'],
            ['deleteCheckbox', 'deleteColumn', 'Delete', ''],
            ['copyCheckbox', 'copyColumn', 'Copy', '']
        ]

        function resizeContent() {
            $height = $(window).height() - 250;
            $("#oplogTableDiv").height($height);
            $width = $("#content").width();
            $("#oplogTableDiv").width($width);
        }

        function jsEscape(s){
            if (s !== null) {
                return s.toString().replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/"/g, '&quot;');
            } else {
                return '';
            }
        }

        function coupleCheckboxColumn(checkboxId, columnClass) {
            $(checkboxId).change(function (e) {
                if (!this.checked) {
                    $(columnClass).hide()
                }
                else {
                    $(columnClass).show()
                }
            });
        }

        function hideColumns() {
            columnInfo.forEach(function (value, index, array) {
                $checkbox = $("#" + value[0])
                if (!$checkbox.prop("checked")) {
                    $("." + value[1]).hide()
                }
            })
        }

        function getKeyName(cell) {
            var className = cell.attr("class")
            for (column of columnInfo) {
                if (className.indexOf(column[1]) >= 0) {
                    return column[3]
                }
            }
        }

        function clearBorder($cell) {
            $cell.css('border', '#000 solid 0px');
        }

        function selectCell($cell) {
            if ($selectedCell != null) {
                clearBorder($selectedCell)
            }
            $selectedCell = $cell
            $selectedCell.css({
                "border-color": "#666666",
                "border-width": "2px",
                "border-style": "solid"
            })
        }

        function editCell($cell) {
            if (socket.readyState == WebSocket.OPEN) {
                var oldText = $cell.text()
                clearBorder($cell)
                var input = $('<textarea style="height:200px;"/>');
                $cell.html(input);
                $textArea = $cell.find("textarea")
                $textArea.focus()
                $textArea.val(oldText)
            }
        }

        function closeAndSend($cell) {
            var $textArea = $cell.find("textarea")

            var value = $textArea.val()
            var keyName = getKeyName($cell)

            var id = $cell.parent().find(".idColumn").html()

            socket.send(JSON.stringify({
                'action': 'edit',
                'oplogEntryId': id,
                'modifiedRow': {
                    [keyName]: value
                }
            }))
        }

        function updateRow($existingRow, newRow) {
            $(newRow).children().each(function () {
                var className = $(this).attr("class").split(" ")[0]
                $existingRow.find("." + className).html($(this).html())
            });
            selectCell($selectedCell)
        }

        function connect() {
            var endpoint = protocol + window.location.host + "/ws" + window.location.pathname
            socket = new WebSocket(endpoint)

            socket.onopen = function (e) {
                $('#connectionStatus').html('Connected');
                $('#connectionStatus').toggleClass('connected');
                errorDisplayed = false;
                // Clear table in case it's a reconnect
                $table.empty()
            }

            socket.onmessage = function (e) {
                message = JSON.parse(e.data)
                if (message["action"] == "sync") {
                    $('#spinner-modal').modal('toggle');
                    entries = message["data"]
                    if (entries.length !== 0) {
                        entries.forEach(element => {
                            entry = element['fields']
                            id = element['pk']
                            var newRow = `<tr>
                                    <td class="${columnInfo[0][1]} editableCell">${jsEscape(entry["start_date"].replace(/\.\d+/, "").replace("Z", "").replace("T", " "))}</td>
                                    <td class="${columnInfo[1][1]} editableCell">${jsEscape(entry["end_date"].replace(/\.\d+/, "").replace("Z", "").replace("T", " "))}</td>
                                    <td class="${columnInfo[2][1]}">${jsEscape(id)}</td>
                                    <td class="${columnInfo[3][1]} editableCell">${jsEscape(entry["source_ip"])}</td>
                                    <td class="${columnInfo[4][1]} editableCell">${jsEscape(entry["dest_ip"])}</td>
                                    <td class="${columnInfo[5][1]} editableCell">${jsEscape(entry["tool"])}</td>
                                    <td class="${columnInfo[6][1]} editableCell">${jsEscape(entry["user_context"])}</td>
                                    <td class="${columnInfo[7][1]} editableCell"><div class="overflow-auto" style="max-height: 200px;">${jsEscape(entry["command"])}<div></td>
                                    <td class="${columnInfo[8][1]} editableCell"><div class="overflow-auto" style="max-height: 200px;">${jsEscape(entry["description"])}</div></td>
                                    <td class="${columnInfo[9][1]} editableCell"><div class="overflow-auto" style="max-height: 200px;">${jsEscape(entry["output"])}</div></td>
                                    <td class="${columnInfo[10][1]} editableCell"><div class="overflow-auto" style="max-height: 200px;">${jsEscape(entry["comments"])}</div></td>
                                    <td class="${columnInfo[11][1]} editableCell">${jsEscape(entry["operator_name"])}</td>
                                    <td class="${columnInfo[12][1]}" id="deleteButton_${id}"><a href="javascript:void(0);"><i class="fa fa-times" ></i></a></td>
                                    <td class="${columnInfo[13][1]}" id="copyButton_${id}"><a href="javascript:void(0);"><i class="fa">&#xf0c5;</i></a></td>
                                    </tr>`
                            $table.append(newRow)
                            $newRow = $table.children('tr:first');
                        })
                        pendingResult = false
                    } else {
                        tableSynced = true
                    }
                    $('#spinner-modal').modal('toggle');
                }
                if (message["action"] == "create") {
                    $('#oplogTableNoEntries').hide()
                    entries = message["data"]
                    entries.forEach(element => {
                        entry = element['fields']
                        id = element['pk']
                        var newRow = `<tr>
                                <td class="${columnInfo[0][1]} editableCell">${jsEscape(entry["start_date"].replace(/\.\d+/, "").replace("Z", "").replace("T", " "))}</td>
                                <td class="${columnInfo[1][1]} editableCell">${jsEscape(entry["end_date"].replace(/\.\d+/, "").replace("Z", "").replace("T", " "))}</td>
                                <td class="${columnInfo[2][1]}">${jsEscape(id)}</td>
                                <td class="${columnInfo[3][1]} editableCell">${jsEscape(entry["source_ip"])}</td>
                                <td class="${columnInfo[4][1]} editableCell">${jsEscape(entry["dest_ip"])}</td>
                                <td class="${columnInfo[5][1]} editableCell">${jsEscape(entry["tool"])}</td>
                                <td class="${columnInfo[6][1]} editableCell">${jsEscape(entry["user_context"])}</td>
                                <td class="${columnInfo[7][1]} editableCell"><div class="overflow-auto" style="max-height: 200px;">${jsEscape(entry["command"])}<div></td>
                                <td class="${columnInfo[8][1]} editableCell"><div class="overflow-auto" style="max-height: 200px;">${jsEscape(entry["description"])}</div></td>
                                <td class="${columnInfo[9][1]} editableCell"><div class="overflow-auto" style="max-height: 200px;">${jsEscape(entry["output"])}</div></td>
                                <td class="${columnInfo[10][1]} editableCell"><div class="overflow-auto" style="max-height: 200px;">${jsEscape(entry["comments"])}</div></td>
                                <td class="${columnInfo[11][1]} editableCell">${jsEscape(entry["operator_name"])}</td>
                                <td class="${columnInfo[12][1]}" id="deleteButton_${id}"><a href="javascript:void(0);"><i class="fa fa-times" ></i></a></td>
                                <td class="${columnInfo[13][1]}" id="copyButton_${id}"><a href="javascript:void(0);"><i class="fa">&#xf0c5;</i></a></td>
                                </tr>`

                        var rowFound = false
                        $('#oplogTable tr').each(function () {
                            if ($(this).find('td').eq(2).text() == id) {
                                updateRow($(this), newRow)
                                rowFound = true;
                            }
                        })
                        if (!rowFound) {
                            $table.prepend(newRow)
                            $newRow = $table.children('tr:first');
                            $newRow.hide()
                        }

                        hideColumns()
                        $newRow.fadeIn("slow");
                    })
                }
                if (message["action"] == "delete") {
                    var id = message["data"]
                    $('#oplogTable tr').each(function () {
                        if ($(this).find('td').eq(2).text() == id) {
                            $(this).fadeOut('slow', function () {
                                $(this).remove()
                                if ($("#oplogTableBody tr").length == 1){
                                    $('#oplogTableNoEntries').show()
                                }
                            });
                        }
                    })
                }
            }

            socket.onerror = function (e) {
                $('#connectionStatus').html('Disconnected')
                $('#connectionStatus').toggleClass('connected')
                console.log("[!] error: ", e)
                socket.close()
                if (!errorDisplayed) {
                    displayToastTop({type:'error', string:'Websocket has been disconnected', title:'Websocket disconnected'});
                    errorDisplayed = true;
                }
            }

            socket.onclose = function (e) {
                $('#connectionStatus').html('Disconnected')
                $('#connectionStatus').toggleClass('connected')
                if (!errorDisplayed) {
                    displayToastTop({type:'error', string:'Websocket has been disconnected', title:'Websocket disconnected'});
                    errorDisplayed = true;
                }
                setTimeout(function () {
                    console.log("Retrying connection");
                    connect()
                }, 5000)
            }
        }

        // This is the filter function to search through row entries
        $(document).ready(function () {
            resizeContent();

            $(window).resize(function() {
                resizeContent();
            });

            connect()
            // Populate the table info
            $checkboxList = $("#checkboxList")
            $tableHeader = $("#oplogTableHeader")

            columnInfo.forEach(function (value, index, array) {
                checkboxEntry = `
                <input type="checkbox" id="${value[0]}" checked/>
                <lablel>${value[2]}</label>
                `
                $checkboxList.append(checkboxEntry)
                headerColumn = `
                <th class="${value[1]}">${value[2]}</th>
                `
                $tableHeader.append(headerColumn)
                coupleCheckboxColumn("#" + value[0], "." + value[1])
            })

            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#oplogTableBody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            $("body").keydown(function (e) {
                if ($selectedCell != null) {
                    if (e.keyCode == 37) { // left
                        e.preventDefault()
                        $newCell = $selectedCell.prev('.editableCell');

                        while ($newCell.is(":hidden")) {
                            $newCell = $newCell.prev('.editableCell');
                            if ($newCell.length == 0) {
                                return;
                            }
                        }
                        if ($newCell.length != 0) {
                            selectCell($newCell);
                        }
                    }
                    if (e.keyCode == 38) { // up
                        e.preventDefault()
                        $newRow = $selectedCell.parent('tr').prev()

                        while ($newRow.is(":hidden")) {
                            $newRow = $newRow.parent('tr').prev()
                            if ($newRow.length == 0) {
                                return
                            }
                        }

                        if ($newRow.length != 0) {
                            className = $selectedCell.attr("class").split(" ")[0]
                            $newCell = $newRow.find("." + className)
                            selectCell($newCell);
                        }
                    }

                    else if (e.keyCode == 39 || e.keyCode == 9) { // right & tab
                        e.preventDefault()
                        $newCell = $selectedCell.next('.editableCell');

                        while ($newCell.is(":hidden")) {
                            $newCell = $newCell.next('.editableCell');
                            if ($newCell.length == 0) {
                                return;
                            }
                        }
                        if ($newCell.length != 0) {
                            selectCell($newCell);
                        }
                    }
                    if (e.keyCode == 40) { // down
                        e.preventDefault()
                        $newRow = $selectedCell.parent('tr').next()

                        while ($newRow.is(":hidden")) {
                            $newRow = $newRow.parent('tr').next()
                            if ($newRow.length == 0) {
                                return
                            }
                        }

                        if ($newRow.length != 0) {
                            className = $selectedCell.attr("class").split(" ")[0]
                            $newCell = $newRow.find("." + className)
                            selectCell($newCell);
                        }
                    }
                    else if (e.keyCode == 13) { // enter
                        e.preventDefault()
                        editCell($selectedCell)
                    }
                }
            });

            $('#columnSelectDropdown').click(function () {
                $('#columnSelect').toggle('slow');
                $('#columnSelectDropdown').toggleClass('add-icon sub-icon')
            });

            $('#oplogTable').on('click', '[id^="deleteButton_"]', function (event) {
                // This is super janky, but we get the id of the entry by appending
                // it to the button id
                var $column = $(this).closest('td')
                var buttonName = $column.attr('id')
                var id = buttonName.split("_")[1]
                socket.send(JSON.stringify({
                    'action': 'delete',
                    'oplogEntryId': id
                }))
            });


            $('#oplogTable').on('click', '[id^="copyButton_"]', function (event) {
                var $column = $(this).closest('td')
                var buttonName = $column.attr('id')
                var id = buttonName.split("_")[1]
                socket.send(JSON.stringify({
                    'action': 'copy',
                    'oplogEntryId': id
                }))
            });

            $("#oplogTable").on('mouseenter', '.editableCell', function (e) {
                if (!$(this).is($selectedCell)) {
                    $(this).css({
                        "border-color": "#666666",
                        "border-width": "1px",
                        "border-style": "dotted"
                    });
                }
            });

            $("#oplogTable").on('mouseleave', '.editableCell', function (e) {
                if (!$(this).is($selectedCell)) {
                    $(this).css('border', '#000 solid 0px');
                }
            });

            $('#oplogTable').on('click', '.editableCell', function (e) {
                if ($(this).find("textarea").length == 0) {
                    selectCell($(this))
                }
            });

            $('#oplogTable').on('dblclick', '.editableCell', function (e) {
                if ($(this).find("textarea").length == 0) {
                    editCell($(this))
                }
            });

            $('#oplogTable').on('focusout', '.editableCell', function (e) {
                closeAndSend($(this))
            });

            $("#oplogTable").on('keydown', 'textarea', function (e) {
                var keyCode = e.keyCode || e.which;
                e.stopPropagation()
                if (e.ctrlKey && e.keyCode == 13) {
                    closeAndSend($(this).parent())
                }
            });

            $("#oplogTableDiv").scroll(function() {
                if (pendingResult == false) {
                    if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                        if (tableSynced == false) {
                            pendingResult = true
                            socket.send(JSON.stringify({
                                'action': 'sync',
                                'oplog_id': {{ pk }},
                                'offset': $("#oplogTable tr").length - 1
                            }))
                        }
                    }
                }
            });

            $("#createNewEntry").click(function () {
                socket.send(JSON.stringify({
                    'action': 'create',
                    'oplog_id': {{ pk }}
                }))
            })

            $('#importNewEntries').click(function () {
                window.open('{% url "oplog:oplog_import" %}', '_self');
            })

            function download(url, filename) {
                fetch(url).then(function (t) {
                    return t.blob().then((b) => {
                        var a = document.createElement("a");
                        a.href = URL.createObjectURL(b);
                        a.setAttribute("download", filename);
                        a.click();
                    });
                });
            }

            $('#exportEntries').click(function () {
                filename = generateDownloadName('{{ name }}-log-export-{{ id }}.csv');
                download(`/oplog/api/entries?export=csv&&oplog_id={{ pk }}`, filename);
            })
        });

    </script>
{% endblock %}
