{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}{{ name }} Entries{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" style="padding-left: 20px;">
        <ul class="breadcrumb" style="margin: 0;">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'oplog:index' %}"">Operational Logs</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ name }}</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <!-- Oplog Table Section -->
    <input id="searchInput" type="text" placeholder="Filter..."/>
    <p><a href="{% url 'oplog:oplog_entry_create' pk=pk%}"><i class="far fa-plus-square"></i> Create a new entry</a></p>

    <table id="oplogTable" class="table-striped mb-0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Start Date</th>
                <th>User Context</th>
                <th>Command</th>
                <th>Operator</th>
                <th>View/Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="oplogTableBody">
        </tbody>
    </table>
{% endblock %}


{% block morescripts %}
    <!-- jQuery Tablesorter Script -->
    <script>
        var endpoint = "ws://" + window.location.host + window.location.pathname
        var socket = new WebSocket(endpoint)
        var $table = $("#oplogTable tbody")

        // This is the filter function to search through row entries
        $(document).ready(function(){
            $("#searchInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#oplogTableBody tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        $('#oplogTable').on('click', '[id^="deleteButton_"]', function (event) {
            // This is super janky, but we get the id of the entry by appending
            // it to the button id
            var $column = $(this).closest('td')
            var buttonName = $column.attr('id')
            var id = buttonName.split("_")[1]
            socket.send(JSON.stringify({
                'action':'delete',
               'oplogEntryId': id
            }))
            var $tr = $(this).closest('tr')
            $tr.fadeOut('slow', function () {
                $tr.remove()
            });
        });

        $('#oplogTable').on('click', '[id^="editButton_"]', function (e) {
            var $column = $(this).closest('td')
            var buttonName = $column.attr('id')
            var id = buttonName.split("_")[1]
            window.location.href = "/oplog/" + id + "/entries/update"
        });

        socket.onmessage = function(e) {
            entries = JSON.parse(e.data)
            entries.forEach(element => {
                entry = element['fields']
                id = element['pk']
                var date = new Date(entry["start_date"])
                $table.prepend(`<tr>
                            <td>${id}</td>
                            <td>${date.toUTCString()}</td>
                            <td>${entry["user_context"]}</td>
                            <td>${entry["command"]}</td>
                            <td>${entry["operator_name"]}</td>
                            <td id="editButton_${id}"><a href="javascript:void(0);"><i class="far fa-edit"></i></a></td>
                            <td id="deleteButton_${id}"><a href="javascript:void(0);"><i class="fa fa-times" ></i></a></td>
                            <!-- All the hidden fields for search purposes -->
                            <td style="display:none;">${entry["end_date"]}</td>
                            <td style="display:none;">${entry["end_date"]}</td>
                            <td style="display:none;">${entry["source_ip"]}</td>
                            <td style="display:none;">${entry["dest_ip"]}</td>
                            <td style="display:none;">${entry["description"]}</td>
                            <td style="display:none;">${entry["output"]}</td>
                            <td style="display:none;">${entry["comments"]}</td>
                            </tr>`).fadeIn("slow")
            })
        }

        socket.onerror = function (e) {
            console.log("[!] error: ", e)
        }
    </script>
{% endblock %}
