{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Report List{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb" style="padding-left: 20px;">
    <ul class="breadcrumb" style="margin: 0;">
        <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Operation Logs</li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<!-- Reports Table Section -->
<table id="oplogTable" class="tablesorter">
    <thead>
        <tr>
            <th>Name</th>
            <th>Project</th>
            <th>ID</th>
            <th>Export to CSV</th>
        </tr>
    </thead>
    {% for log in op_logs %}
    <tr>
        <td class='clickable'><a href={% url 'oplog:oplog_entries' log.pk %}>{{ log.name }}</a></td>
        <td nowrap>{{ log.project }}</td>
        <td nowrap class="oplogId">{{ log.id }}</td>
        <td class='exportOplog'><a href='#'>Export</a></td>
    </tr>
    {% endfor %}
</table>
<p><a href="{% url 'oplog:oplog_create' %}"><i class="far fa-plus-square"></i> Create new oplog</a></p>
{% endblock %}

{% block morescripts %}
<!-- jQuery Tablesorter Script -->
<script>
    function download(url, filename) {
        fetch(url).then(function (t) {
            return t.blob().then((b) => {
                var a = document.createElement("a");
                a.href = URL.createObjectURL(b);
                a.setAttribute("download", filename);
                a.click();
            });
        });
    }

    $(document).ready(function () {
        $("#oplogTable").tablesorter(
            {
                cssAsc: ' down', cssDesc: 'up', cssNone: 'none',
            }); $('.tablesorter').trigger('update');
    });
    $(".exportOplog").on("click", function () {
        id = $(this).parent().find('.oplogId').html()
        download(`/oplog/api/entries?export=csv&&oplog_id=${id}`, `exports_${id}.csv`);
    });
</script>
{% endblock %}