{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Oplog Creation{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" style="padding-left: 20px;">
        <ul class="breadcrumb" style="margin: 0;">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'oplog:index' %}">Operation Logs</a></li>
            <li class="breadcrumb-item active" aria-current="page">Log Form</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <!-- Instructions Section -->
    <p>Provide a meaningful name for your log and select the project to which it should associated:</p>

    <!-- Form Error Section -->
    {% if form.errors %}
        <script>
            {% for field in form %}
                {% for error in field.errors %}
                    displayToastTop({type:'error', string:'{{ error }}', context:'form'});
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                displayToastTop({type:'error', string:'{{ error }}', context:'form'});
            {% endfor %}
        </script>
    {% endif %}

    <!-- Form Section -->
    {% crispy form form.helper %}
{% endblock %}
