{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Burning Domain{% endblock %}

{% block content %}
    <p>Explain why {{ domain_name }} is being marked as burned.</p>

    <!-- Form Section -->
    <form class="newitem" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    
        <!-- Explanation Section -->
        {{ form.burned_explanation|as_crispy_field }}

        <!-- Hidden Fields -->
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        <input type="submit" class="btn btn-primary" value="Submit">
        <button onclick="window.history.back();" class="btn btn-secondary" type="button">Cancel</button>
    </form>
{% endblock %}
