{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Domain Check-out{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" style="padding-left: 20px;">
        <ul class="breadcrumb" style="margin: 0;">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'shepherd:domains' %}">Domains</a></li>
            <li class="breadcrumb-item"><a href="{% url 'shepherd:domain_detail' form.domain.value %}">{{ domain_name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <p>Complete this form and then click Save to checkout {{ domain_name }}:</p>

    <!-- Form Error Sections -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Form Section -->
    <form class="newitem" action="" method="post" id="checkoutForm"
      data-projects-url="{% url 'shepherd:ajax_load_projects' %}"
      data-project-url="{% url 'shepherd:ajax_load_project' %}"
    >
        {% csrf_token %}

        <!-- Client Info Section -->
        <strong><i class="far fa-building"></i> Client Information</strong>
        <hr>

        {{ form.client|as_crispy_field }}

        <!-- Spacer -->
        <p style="margin: 40px;"></p>

        <!-- Project Section -->
        <strong><i class="fas fa-tasks"></i> Usage Information</strong>
        <hr>

        {{ form.project|as_crispy_field }}

        <div class="form-row justify-content-center">
            <div class="form-group col-md-6 mb-0">
                {{ form.start_date|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.end_date|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.activity_type|as_crispy_field }}
            </div>
        </div>

        <!-- Spacer -->
        <p style="margin: 40px;"></p>

        <!-- Additional Information Section -->
        <strong><i class="far fa-comment-alt"></i> Additional Information</strong>
        <hr>

        {{ form.note|as_crispy_field }}

        <!-- Hidden Inputs -->
        {{ form.domain }}
        {{ form.operator }}

        <input type="hidden" name="next" value="{{ origin }}">
        <input type="submit" class="btn btn-primary" value="Save">
        <button onclick="window.history.back();" class="btn btn-secondary" type="button">Cancel</button>
    </form>
{% endblock %}

{% block morescripts %}
    <!-- Script for Datepicker -->
    <script>
        $(function() {
            $("#id_start_date").datepicker();
            $("#id_end_date").datepicker();
        });
    </script>

    <!-- Script for Project Dropdown Filtering -->
    <script>
        $("#id_client").change(function () {
            var url = $("#checkoutForm").attr("data-projects-url");
            var clientId = $(this).val();
            $.ajax({
                url: url,
                data: {
                    'client': clientId
                },
                success: function (data) {
                    $("#id_project").html(data);
                }
            });
        });
    </script>

    <!-- Script to set the default dates -->
    <script>
      $("#id_project").change(function () {
        var url = $("#checkoutForm").attr("data-project-url");
        var projectId = $(this).val();
        $.ajax({
            url: url,
            data: {
                'project': projectId
            },
            success: function (data) {
                if(data.length > 0) {
                  project = data[0]['fields'];
                  $("#id_start_date")[0].value = project['start_date'];
                  $("#id_end_date")[0].value = project['end_date'];
                }
            }
        });
      });
    </script>
{% endblock %}
