{% extends "base_generic.html" %}

{% block pagetitle %}Your Checked-out Assets{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Infra</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
<!-- Domain Section -->
    <h2>Your Active Domains</h2>
    {% if domains %}
        <p>The following domains are currently checked-out for {{ request.user.get_username }}:</p>
        <div id="domains_table">
            <table id="domainTable" class="tablesorter table table-hover">
                <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Health</th>
                        <th>Project</th>
                        <th>Purpose</th>
                        <th>Check-in</th>
                        <th class="sorter-false">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in domains %}
                        {% if entry %}
                            <tr>
                                <td class="align-middle"><a class="clickale" href="{{ entry.domain.get_absolute_url }}">{{ entry.domain.name }}</a></td>

                                {% if entry.domain.health_status.health_status == "Healthy" %}
                                    <td class=" align-middle healthy">{{ entry.domain.health_status }}</td>
                                {% else %}
                                    <td class="align-middle burned">{{ entry.domain.health_status }}</td>
                                {% endif %}

                                <td class="align-middle"><a class="clickable" href="{{ entry.project.get_absolute_url }}">{{ entry.project}}</a></td>

                                <td class="align-middle">{{ entry.activity_type}}</td>

                                <td class="align-middle {% if entry.will_be_released %}burned{% endif %}">{{ entry.end_date|date:"DATE_FORMAT" }}</td>

                                <td class="align-middle">
                                    <div class="dropdown">
                                        <button class="dropdown-menu-btn-table" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="client-dropdown-btn">
                                            <a class="dropdown-item icon edit-icon" href="{% url 'shepherd:history_update' entry.id %}">Edit</a>
                                            <a class="dropdown-item icon redo-icon" href="javascript:void(0)" class="clickable-link js-release-asset" release-asset-csrftoken="{{ csrf_token }}" release-asset-url="{% url 'shepherd:ajax_domain_release' entry.id %}" release-asset-id="{{ entry.id }}">Release</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>There are no domains currently checked-out for your account.</p>
    {% endif %}

    <!-- Server Section -->
    <h2>Your Active Servers</h2>
    {% if servers %}
        <p>The following servers are currently checked-out for {{ request.user.get_username }}:</p>
        <div id="servers_table">
            <table id="serverTable" class="tablesorter">
                <thead>
                    <tr>
                        <th>IP Address</th>
                        <th>Project</th>
                        <th>Purpose</th>
                        <th>Role</th>
                        <th>Check-in</th>
                        <th class="sorter-false">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in servers %}
                        {% if entry %}
                            <tr>
                                <td class="align-middle"><a class="clickable" href="{{ entry.server.get_absolute_url }}">{{ entry.server.ip_address }}</a></td>

                                <td class="align-middle"><a class="clickable" href="{{ entry.project.get_absolute_url }}">{{ entry.project}}</a></td>

                                <td class="align-middle">{{ entry.activity_type}}</td>

                                <td class="align-middle">{{ entry.server_role}}</td>

                                <td class="align-middle {% if entry.will_be_released %}burned{% endif %}">{{ entry.end_date|date:"DATE_FORMAT" }}</td>

                                <td class="align-middle">
                                    <div class="dropdown">
                                        <button class="dropdown-menu-btn-table" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="client-dropdown-btn">
                                            <a class="dropdown-item icon edit-icon" href="{% url 'shepherd:server_history_update' entry.id %}">Edit</a>
                                            <a class="dropdown-item icon redo-icon" href="javascript:void(0)" class="clickable-link js-release-asset" release-asset-csrftoken="{{ csrf_token }}" release-asset-url="{% url 'shepherd:ajax_server_release' entry.id %}" release-asset-id="{{ entry.id }}">Release</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>There are no servers currently checked-out for your account.</p>
    {% endif %}
{% endblock %}

{% block morescripts %}
    <!-- jQuery Tablesorter Script -->
    <script>
        $(document).ready(function()  {
            $("#domainTable").tablesorter(
                            {
                                cssAsc: 'down',
                                cssDesc: 'up',
                                cssNone: 'none',
                            }
                        );
            $('.tablesorter').trigger('update');
            $("#serverTable").tablesorter(
                            {
                                cssAsc: 'down',
                                cssDesc: 'up',
                                cssNone: 'none',
                            }
                        );
            $('.tablesorter').trigger('update');
        });
    </script>

    <!-- Release Domain with AJAX -->
    <script>
        $('.js-release-asset').each(function(index) {
            $(this).click(function () {
                var url = $(this).attr('release-asset-url');
                var assetId = $(this).attr('release-asset-id');
                var csrftoken = $(this).attr('release-asset-csrftoken');
                // Selectors for each major parent object – tr, tbody, and table
                var targetRow = $(this).closest('tr');
                var targetTbody = $(this).closest('tbody');
                var targetTable = $(this).closest('table');
                // Prep AJAX request with CSRF token
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader('X-CSRFToken', csrftoken);
                        }
                    }
                });
                // Send AJAX POST request
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'asset': assetId,
                    },
                    success: function (data) {
                        if (data['result'] == 'success') {
                            if (targetRow) {
                                targetRow.remove();
                            }
                            // If that was the last row, hide the empty table
                            if (targetTbody.find('tr').length == 0) {
                                targetTable.hide();
                            }
                        }
                        if (data['message']) {
                            displayToastTop({type:data['result'], string:data['message'], title:'Asset Update'});
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
