{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Domain + Server Connection{% endblock %}

{% block content %}
    <p>This will create an association between the domain and a server for your project.</p>
    <hr>

    <!-- Form Error Section -->
    {% if form.errors %}
        <script>
            {% for field in form %}
                {% for error in field.errors %}
                    displayToastTop({type:'error', string:'{{ error|escapejs }}', context:'form'});
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                displayToastTop({type:'error', string:'{{ error|escapejs }}', context:'form'});
            {% endfor %}
        </script>
    {% endif %}

    <!-- Form Section -->
    {% crispy form form.helper %}
{% endblock %}
