{% extends "base_generic.html" %}

{% load crispy_forms_tags humanize %}

{% block pagetitle %}Domain Catalog{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Domains</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <!-- Filter Section -->
    <div class="filter-form">
        {% crispy filter.form filter.helper %}
    </div>

    <p class="mt-3">
        <a class="icon add-icon" href="{% url 'shepherd:domain_create' %}">Create a Domain</a>
    </p>

    {% if filter.qs|length == 0 %}
        <p class="mt-3">There are no domains to see here yet, or your search returned no results. Create a new domain up above.</p>
    {% else %}
        <!-- Domain Table Section -->
        <div id="domains_table">
            <table id="domainTable" class="tablesorter table table-sm table-hover">
                <thead>
                    <tr>
                        <th id="domain">Domain</th>
                        <th>
                            <div class="dropdown dropleft">
                                <span id="status-info-btn" class="dropdown-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Status</span>
                                <div id="status-info" class="dropdown-menu dropdown-info-content" aria-labelledby="status-info-btn">
                                    <p>If looking for a domain to use, filter for Available domains. Burned domains should not be used. Unavailable and Reserved domains are unavailable for check-out.</p>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="dropdown dropleft">
                                <span id="status-info-btn" class="dropdown-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Health</span>
                                <div id="status-info" class="dropdown-menu dropdown-info-content" aria-labelledby="status-info-btn">
                                    <p>The health of a domain is determined by categories and VirusTotal. If the domain is flagged with a bad category or in VirusTotal the domain is considered "Burned" here.</p>
                                </div>
                            </div>
                        </th>
                        <th>Whois Privacy</th>
                        <th>Domain Age</th>
                        <th>Categories</th>
                        <th class="sorter-false">Check-out</th>
                    </tr>
                </thead>
                <tbody>
                {% for domain in filter.qs %}
                    <tr>
                        <td class="align-middle"><a href="{{ domain.get_absolute_url }}" class="clickable">{{ domain.name }}</a></td>

                        {% if domain.domain_status.domain_status == "Available" %}
                            <td class="align-middle healthy">{{ domain.domain_status }}</td>
                        {% elif domain.domain_status.domain_status == "Unavailable" %}
                            <td class="align-middle burned">Checked Out</td>
                        {% else %}
                            <td class="align-middle burned">{{ domain.domain_status }}</td>
                        {% endif %}

                        {% if domain.health_status.health_status == "Healthy" %}
                            <td class="align-middle healthy">{{ domain.health_status }}</td>
                        {% else %}
                            <td class="align-middle burned">{{ domain.health_status }}</td>
                        {% endif %}

                        {% ifequal domain.whois_status.whois_status "Enabled" %}
                            <td class="align-middle healthy">{{ domain.whois_status }}</td>
                        {% else %}
                            <td class="align-middle burned">{{ domain.whois_status }}</td>
                        {% endifequal %}

                        <td class="align-middle">{{ domain.get_domain_age|intcomma }}</td>

                        {% if domain.all_cat %}
                            <td class="align-middle">{{ domain.all_cat }}</td>
                        {% else %}
                            <td class="align-middle">No Results</td>
                        {% endif %}

                        {% if domain.domain_status.domain_status == "Available" %}
                            <td class="align-middle">
                                <a class="icon checkout-icon" href="{% url 'shepherd:checkout' domain.id %}"></a>
                            </td>
                        {% else %}
                            <td class="align-middle">
                                <a class="icon block-icon" href="#"></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block morescripts %}
    <!-- jQuery Tablesorter Script -->
    <script>
        $(document).ready(function()  {
            $("#domainTable").tablesorter(
                            {
                                cssAsc: 'down',
                                cssDesc: 'up',
                                cssNone: 'none',
                            }
                        );
            $('.tablesorter').trigger('update');
        });
    </script>

    <!-- Fix for Accordion Markers -->
    <script>
        // Fix second accordion being marked as expanded from crispy forms
        $(document).ready(function(){
            $('h5 a:eq(1)').attr('aria-expanded', 'false');
        });
    </script>

    <!-- Submit Filter when Clicking Bootstrap Icon -->
    <script>
        $('.input-group-text').on('click', function (event) {
            $('.input-group-text').closest('form').submit();
        });
    </script>
{% endblock %}
