{% extends "base_generic.html" %}

{% load bleach_tags humanize %}

{% block pagetitle %}{{ domain.name }} Details{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'shepherd:domains' %}">Domains</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ domain.name }}</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="dropdown">
        <div class="dropdown-menu-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="hamburger(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="domain-dropdown-btn">
            <a class="dropdown-item icon edit-icon" href="{% url 'shepherd:domain_update' domain.id %}">Edit</a>
            {% if domain.is_expired %}
                <a class="dropdown-item icon skull-icon" href="#">Domain Expired</a>
            {% else %}
                {% if domain.domain_status.domain_status == "Available" %}
                    <a class="dropdown-item icon checkout-icon" href="{% url 'shepherd:checkout' domain.id %}">Checkout Domain</a>
                {% else %}
                    <a class="dropdown-item icon block-icon" href="#">Domain Unavailable</a>
                {% endif %}
            {% endif %}
            {% if domain.health_status.health_status == "Healthy" %}
                <a class="dropdown-item icon burn-icon" href="{% url 'shepherd:burn' domain.id %}">Mark Burned</a>
            {% endif %}
            <a class="dropdown-item icon trash-icon" href="{% url 'shepherd:domain_delete' domain.id %}">Delete</a>
        </div>
    </div>

    <div class="container">
        <h2>{{ domain.name }}</h2>
    </div>

    <div>
        <!-- Description Section -->
        <h3>Domain Description</h3>
        <hr>
        {% if domain.note %}
            <p>{{ domain.note|bleach }}</p>
        {% else %}
            <p>No additional information provided for this domain.</p>
        {% endif %}

        {% if domain.is_expired %}
            <div class="alert alert-danger" role="alert">
                Domain is <strong>Expired</strong>, so this data is now read-only.
            </div>
        {% endif %}

        <p class="form-spacer"></p>

        <!-- Navigation Tabs -->
        {% comment %} Load tabs via AJAX so badges update with delete actions {% endcomment %}
        <ul id="tab-bar" class="nav nav-tabs nav-justified" js-update-tabs-url="{% url 'shepherd:ajax_update_domain_badges' domain.id %}">
            {% include "snippets/domain_nav_tabs.html" %}
        </ul>

        <div class="tab-content">
            <div id="details" class="tab-pane in active">
                <!-- General Domain Section -->
                <table class="table">
                    <tr>
                        <th>Registrar</th>
                        <th>Purchase Date</th>
                        <th>Expiration Date</th>
                        <th>Auto Renew Status</th>
                        <th>Domain Age</th>
                    </tr>
                    <tr>
                        <td>{{ domain.registrar }}</td>
                        <td>{{ domain.creation }}</td>
                        {% if domain.is_expired %}
                            <td class="high">{{ domain.expiration }}</td>
                        {% else %}
                            <td>{{ domain.expiration }}</td>
                        {% endif %}
                        {% if domain.auto_renew %}
                            <td class="icon check-icon healthy"></td>
                        {% else %}
                            <td class="icon cross-icon burned"></td>
                        {% endif %}
                        <td>{{ domain.get_domain_age|intcomma }}</td>
                    </tr>
                </table>
            </div>

            <!-- DNS Records Section -->
            <div id="dns" class="tab-pane">
                {% if not domain.is_expired %}
                    <p>
                        <a href="javascript:void(0)" class="icon redo-icon clickable-link js-domain-update" domain-update-csrftoken="{{ csrf_token }}" domain-update-url="{% url 'shepherd:ajax_update_dns_single' domain.id %}" domain-update-id="{{ domain.id }}">Refresh DNS Records</a>
                    </p>
                {% endif %}

                {% if domain.dns_record %}
                    <table class="table">
                        <tr>
                            <th>Record</th>
                            <th>Value</th>
                        </tr>
                        {% if domain.get_list.items %}
                            {% for record, value in domain.get_list.items %}
                                <tr>
                                    <td class="text-center">{{ record|upper }}</td>
                                    <td class="table-note">
                                        {% if value != "NoAnswer" and value != "NXDOMAIN" %}
                                            {{ value }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="text-center">Record Dictionary</td>
                                <td class="table-note">{{ domain.get_list }}</td>
                            </tr>
                        {% endif %}
                    </table>
                {% else %}
                    <p>No DNS records have been found for this domain. Refresh DNS records to populate this area.</p>
                {% endif %}
            </div>

            <!-- Domain Health Section -->
            <div id="health" class="tab-pane">
                {% if not domain.is_expired %}
                    <p>
                        <a href="javascript:void(0)" class="icon redo-icon clickable-link js-domain-update" domain-update-csrftoken="{{ csrf_token }}" domain-update-url="{% url 'shepherd:ajax_update_cat_single' domain.id %}" domain-update-id="{{ domain.id }}">Refresh Categorization</a>
                    </p>
                {% endif %}

                <p>The health of a domain changes if a third-party labels the domain with an undesirable category or the domain has positive detections in VirusTotal.</em><p>

                {% if domain.health_status.health_status == "Burned"%}
                    {% if domain.burned_explanation %}
                        <h4>Domain Flagged as <em class="burned">Burned</em> for the Following Reason(s):</h4>
                        <hr>
                        <p>{{ domain.burned_explanation|bleach|linebreaks }}</p>

                    {% else %}
                        <p>This domain has been flagged as <em>Burned</em> with no explanation. <a class="clickable" href="{% url 'shepherd:burn' domain.id %}">Click here</a> to provide one.</p>
                    {% endif %}
                {% endif %}

                <table class="table">
                    <tr>
                        <th>Status</th>
                        <th>Health</th>
                        <th>Whois Privacy</th>
                        <th>Last Update</th>
                        <th>VirusTotal Categories</th>
                    </tr>
                    <tr>
                        {% if domain.domain_status.domain_status == "Available" %}
                            <td class="healthy">{{ domain.domain_status }}</td>
                        {% else %}
                            <td class="burned">{{ domain.domain_status }}</td>
                        {% endif %}

                        {% if domain.health_status.health_status == "Healthy" %}
                            <td class="healthy">{{ domain.health_status }}</td>
                        {% else %}
                            <td class="burned">{{ domain.health_status }}</td>
                        {% endif %}

                        {% ifequal domain.whois_status.whois_status "Enabled" %}
                            <td class="healthy">{{ domain.whois_status }}</td>
                        {% else %}
                            <td class="burned">{{ domain.whois_status }}</td>
                        {% endifequal %}

                        <td>
                            {% if domain.last_health_check %}
                                {{ domain.last_health_check|naturalday:"DATE_FORMAT" }}
                            {% else %}
                                No Record
                            {% endif %}
                        </td>

                        <td>
                            {% if domain.all_cat %}
                                {{ domain.all_cat }}
                            {% else %}
                                Refresh categories to poll VirusTotal
                            {% endif %}
                        </td>
                    </tr>
                </table>

                <!-- Categories Section -->
                <p>These third-parties categorize domains, so you may wish to check these services and track the results. These fields are never automatically updated.</p>
                <table class="table">
                    <tr>
                        <th>IBM X-Force</th>
                        <th>Cisco Talos</th>
                        <th>Bluecoat</th>
                        <th>Fortiguard</th>
                        <th>OpenDNS</th>
                        <th>TrendMicro</th>
                    </tr>
                    <tr>
                        {% if domain.ibm_xforce_cat %}
                            <td>{{ domain.ibm_xforce_cat }}</td>
                        {% else %}
                            <td>No Results - check <a class="clickable" href="https://exchange.xforce.ibmcloud.com/url/{{ domain.name }}">X-Force</a></td>
                        {% endif %}


                        {% if domain.talos_cat %}
                            <td>{{ domain.talos_cat }}</td>
                        {% else %}
                            <td>No Results - check <a class="clickable" href="https://www.talosintelligence.com/reputation_center">Talos</a></td>
                        {% endif %}

                        {% if domain.bluecoat_cat %}
                            <td>{{ domain.bluecoat_cat }}</td>
                        {% else %}
                            <td>No Results - check <a class="clickable" href="https://sitereview.bluecoat.com/resource/lookup">Bluecoat</a></td>
                        {% endif %}

                        {% if domain.fortiguard_cat %}
                            <td>{{ domain.fortiguard_cat }}</td>
                        {% else %}
                            <td>No Results - check <a class="clickable" href="https://fortiguard.com/webfilter?q={{ domain.name }}">Fortiguard</a></td>
                        {% endif %}

                        {% if domain.opendns_cat %}
                            <td>{{ domain.opendns_cat }}</td>
                        {% else %}
                            <td>No Results - check <a class="clickable" href="https://domain.opendns.com/{{ domain.name }}">OpenDNS</a></td>
                        {% endif %}

                        {% if domain.trendmicro_cat %}
                            <td>{{ domain.trendmicro_cat }}</td>
                        {% else %}
                            <td>No Results - check <a class="clickable" href="https://global.sitesafety.trendmicro.com/">TrendMicro</a></td>
                        {% endif %}
                    </tr>
                </table>
            </div>

            <!-- Project History Tab -->
            <div id="history" class="tab-pane">
                {% if domain.history_set.all %}
                    <table id="project-table" class="tablesorter table table-striped">
                        <thead>
                            <tr>
                                <th>Client</th>
                                <th>Activity Type</th>
                                <th>Project Type</th>
                                <th class="sorter-date-range-dMMMyyyy">Execution Window</th>
                                <th class="sorter-false">Notes</th>
                                <th class="sorter-false">Options</th>
                            </tr>
                        </thead>
                        {% for project in domain.history_set.all %}
                            <tr>
                                <td><a class="clickable" href="{% url 'rolodex:project_detail' project.project.id %}">{{ project.client }}</i></a></td>
                                <td>{{ project.activity_type }}</td>
                                <td>{{ project.project.project_type }}</td>
                                <td>{{ project.start_date|date:"DATE_FORMAT" }} – {{ project.end_date|date:"DATE_FORMAT" }}</td>
                                <td class="table-note">{{ project.note|bleach}}</td>
                                <td>
                                    <div class="dropdown dropleft">
                                        <button id="history-dropdown-btn_{{ project.id }}" class="dropdown-menu-btn-table" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu" aria-labelledby="history-dropdown-btn_{{ project.id }}">
                                            <a class="dropdown-item icon edit-icon" href="{% url 'shepherd:history_update' project.id %}">Edit</a>
                                            <a class="dropdown-item icon trash-icon" href="{% url 'shepherd:history_delete' project.id %}">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>This domain has no history.</p>
                {% endif %}
            </div>

            <!-- Notes Tab -->
            <div id="notes" class="tab-pane">
                <p>
                    <a class="icon add-icon" href="{% url 'shepherd:domain_note_add' domain.id %}">Add a Note</a>
                </p>
                {% if domain.domainnote_set.all %}
                    {% for note in domain.domainnote_set.all reversed %}
                        <div id="note-container-{{ note.id }}">
                            <p>{{ note.timestamp }}</p>
                            <div class="container note-container {% if forloop.counter|divisibleby:2 %}darker{% endif %}">
                                <img class="avatar_note right" src="{{ note.operator.userprofile.avatar_url }}" alt="Avatar">
                                {% if request.user == note.operator or request.user.is_staff %}
                                    <div class="dropdown dropleft right">
                                        <button id="note-dropdown-btn-{{ note.id }}" class="dropdown-menu-btn-table" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div id="note-dropdown-menu-{{ note.id }}" class="dropdown-content">
                                            <a class="icon edit-icon" href="{% url 'shepherd:domain_note_edit' note.id %}">Edit</a>
                                            <a id="note-delete-button-{{ note.id }}" class="js-confirm-delete icon trash-icon" data-toggle="modal" data-target="#confirm-delete-modal" href="javascript:void(0);" delete-target-csrftoken="{{ csrf_token }}" delete-target-url="{% url 'shepherd:ajax_delete_domain_note' note.id%}" delete-target-id="{{ note.id }}" delete-target-type="note">Delete</a>
                                        </div>
                                    </div>
                                {% endif %}
                                {{ note.note|bleach }}
                                <span class="time-right">{{ note.operator.username }}</span>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No notes for this domain.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block tabs %}
    {{ block.super }}
{% endblock %}

{% block morescripts %}
    <!-- jQuery Tablesorter Script -->
    <script>
        $(document).ready(function()  {
            $("#project-table").tablesorter(
                            {
                                cssAsc: 'down',
                                cssDesc: 'up',
                                cssNone: 'none',
                            }
                        );
            $('.tablesorter').trigger('update');
        });
    </script>

    <!-- Submit Update Tasks with AJAX -->
    <script>
        $('.js-domain-update').each(function(index) {
            $(this).click(function () {
                var url = $(this).attr('domain-update-url');
                var domainId = $(this).attr('domain-update-id');
                var csrftoken = $(this).attr('domain-update-csrftoken');
                // Prep AJAX request with CSRF token
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader('X-CSRFToken', csrftoken);
                        }
                    }
                });
                // Send AJAX POST request
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'domain': domainId,
                    },
                    success: function (data) {
                        if (data['result'] == 'success') {
                            // Do something
                        }
                        if (data['message']) {
                            displayToastTop({type:data['result'], string:data['message'], title:'Domain Update'});
                        }
                    }
                });
            });
        });
    </script>

    {% comment %} Include the reusable delete confirmation modal and related scripts {% endcomment %}
    {% include "confirm_delete_modal.html" %}
{% endblock %}
