{% extends "base_generic.html" %}

{% block pagetitle %}Domain Import{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" style="padding-left: 20px;">
        <ul class="breadcrumb" style="margin: 0;">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'shepherd:domains' %}">Domains</a></li>
            <li class="breadcrumb-item active" aria-current="page">Import</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <!-- File Upload -->
    <h2>Upload Domain CSV</h2>
    <p>Upload a csv file containing your domain information:</p>
    <form action="{% url 'shepherd:domain_import' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="csv_file" class="csvlabel">
                <div class="csvdiv">Click or drop your csv file here</div>
                <input type="file" id="csv_file" name="csv_file" required="True">
            </label>
            <p id="filename"></p>
        </div>
        <div class="form-group">
            <div style="text-align: center"></div>
                <button class="button"><i class="fas fa-file-upload"></i> Upload</button>
            </div>
        </div>
    </form>

    <!-- Spacer -->
    <p style="margin: 40px;"></p>

    <!-- Section for Instructions -->
    <h3>Instructions</h3>
    <div>
        <p>Your csv file must have these headers:</p>
        <div style="width: 50%; margin: 0 auto">
            <p>
                <em>
                    name, registrar, health_status, health_dns, dns_record, whois_status, creation, expiration, all_cat, ibm_xforce_cat, talos_cat, bluecoat_cat, fortiguard_cat, opendns_cat, trendmicro_cat, mx_toolbox_status, note
                </em>
            </p>
        </div>

        <p>
            To avoid "KeyError" errors, ensure the csv file was saved without a Byte Order Marker (BOM).<br>
            Download a template with the headers and an example entry:
        </p>

        {% load static %}
        <a href="{% static 'files/template_domain.csv' %}" style="margin-bottom: 20px" class="button"><i class="fas fa-file-download"></i> Download Template</a>

        <!-- Spacer -->
        <p style="margin: 40px;"></p>

        <div style="border: 1px solid black; width: 50%; margin: 0 auto; border-radius: 5px">
            <p>
                <strong>Note: </strong>
                DomainCheck outputs a csv in this format if you want to preload health status with your domains. You may then optionally add the "note" column.
            </p>
        </div>
    </div>
{% endblock %}

{% block morescripts %}
    <!-- Script for Upload Form -->
    <script>
        $('input[type=file]').on('change', function() {
        $("#filename").text($(this).val());
        });

        $('input[type=file]').on('dragenter', function() {
            $('csvdiv').addClass('dragover');
        });

        $('input[type=file]').on('dragleave', function() {
            $('csvdiv').removeClass('dragover');
        });
    </script>
{% endblock %}
