{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Domain Form{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" style="padding-left: 20px;">
        <ul class="breadcrumb" style="margin: 0;">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'shepherd:domains' %}">Domains</a></li>
            <li class="breadcrumb-item active" aria-current="page">New Domain</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <!-- Instruction -->
    <p>Fill-out this form as completely as possible with information related to this domain:</p>

    <!-- Form Error Sections -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Form Section -->
    <form class="newitem" action="" method="post">
        {% csrf_token %}
        <!-- Domain Info Section -->
        <strong><i class="fas fa-wifi"></i> Domain Information</strong>
        <hr>

        {{ form.name|as_crispy_field }}

        <div class="form-row justify-content-center">
            <div class="form-group col-md-6 mb-0">
                {{ form.domain_status|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.registrar|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.creation|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.expiration|as_crispy_field }}
            </div>
        </div>

        <!-- Spacer -->
        <p style="margin: 40px;"></p>

        <!-- Health Info Section -->
        <strong><i class="far fa-heart"></i> Health Information</strong>
        <hr>

        <div class="form-row justify-content-center">
            <div class="form-group col-md-6 mb-0">
                {{ form.whois_status|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.health_status|as_crispy_field }}
            </div>
        </div>

        <!-- Spacer -->
        <p style="margin: 40px;"></p>

        <!-- Category Section -->
        <strong><i class="fas fa-laptop-medical"></i> Domain Categories</strong>
        <hr>

        <div class="form-row justify-content-center">
            <div class="form-group col-md-6 mb-0">
                {{ form.bluecoat_cat|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.fortiguard_cat|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.ibm_xforce_cat|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.trendmicro_cat|as_crispy_field }}
            </div>

            <div class="form-group col-md-6 mb-0">
                {{ form.opendns_cat|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.talos_cat|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.mx_toolbox_status|as_crispy_field }}
            </div>
        </div>

        <!-- Spacer -->
        <p style="margin: 40px;"></p>

        <!-- Additional Information Section -->
        <strong><i class="far fa-comment-alt"></i> Additional Information</strong>
        <hr>
    
        {{ form.note|as_crispy_field }}

        <input type="submit" class="btn btn-primary" value="Submit">
        <button onclick="window.history.back();" class="btn btn-secondary" type="button">Cancel</button>
    </form>
{% endblock %}

    
{% block morescripts %}
    <!-- Script for Datepicker -->
    <script>
        $(function() {
            $("#id_creation").datepicker();
            $("#id_expiration").datepicker();
        });
    </script>
{% endblock %}