{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Domain Form{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'shepherd:domains' %}">Domains</a></li>
            <li class="breadcrumb-item active" aria-current="page">Domain Form</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <!-- Instruction -->
    <p>Fill-out this form as completely as possible with information related to this domain:</p>

    <!-- Form Error Section -->
    {% if form.errors %}
        <script>
            {% for field in form %}
                {% for error in field.errors %}
                    displayToastTop({type:'error', string:'{{ error|escapejs }}', context:'form'});
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                displayToastTop({type:'error', string:'{{ error|escapejs }}', context:'form'});
            {% endfor %}
        </script>
    {% endif %}

    <!-- Form Section -->
    {% crispy form form.helper %}
{% endblock %}
