{% extends "base_generic.html" %}

{% block pagetitle %}The Graveyard, Home of Domains Past{% endblock %}

{% block content %}
    <h2>The Graveyard</h2>
    {% if domain_list %}
        <p>Visit domains from the past who are now at rest:</p>

        <div id="domains_table">
            <table id="domainTable" class="tablesorter">
                <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Health</th>
                        <th>DNS Flags</th>
                        <th>Cause of Death</th>
                    </tr>
                </thead>
                <tbody>
                    {% for domain in domain_list %}
                        <tr>
                            <td class="clickable"><a href="{{ domain.get_absolute_url }}">{{ domain.name }}</a></td>

                            {% if domain.health_status.health_status == "Healthy" %}
                                <td class="healthy">{{ domain.health_status }}</td>
                            {% else %}
                                <td class="burned">{{ domain.health_status }}</td>
                            {% endif %}

                            {% ifequal domain.health_dns "Healthy" %}
                                <td class="healthy">{{ domain.health_dns }}</td>
                            {% else %}
                                <td class="burned">{{ domain.health_dns }}</td>
                            {% endifequal %}

                            {% if domain.burned_explanation %}
                                <td>{{ domain.burned_explanation }}</td>
                            {% else %}
                                <td>No reason given - burned.</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>There are no domains marked as burned yet. Good work?</p>
    {% endif %}

    <!-- Image Section -->
    {% load static %}
    <div style="margin: 35px;">
        <img src="{% static 'images/tombstone.png' %}" alt="SpecterOps Logo" style="width: 15%;">
    </div>
{% endblock %}

{% block morescripts %}
    <!-- jQuery Tablesorter Script -->
    <script>
        $(document).ready(function()  {
            $("#domainTable").tablesorter(
                            {
                                cssAsc: 'down',
                                cssDesc: 'up',
                                cssNone: 'none',
                            }
                        );
            $('.tablesorter').trigger('update');
        });
    </script>
{% endblock %}