{% extends "base_generic.html" %}

{% load bleach_tags %}

{% block pagetitle %}{{ primary_address }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item truncate"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item truncate"><a href="{% url 'shepherd:servers' %}">Servers</a></li>
            <li class="breadcrumb-item active truncate" aria-current="page">{{ primary_address }}</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}

    <div class="dropdown">
        <div class="dropdown-menu-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="hamburger(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="client-dropdown-btn">
            <a class="dropdown-item icon edit-icon" href="{% url 'shepherd:server_update' staticserver.id %}">Edit Details</a>
            <a class="dropdown-item icon add-icon" href="{% url 'shepherd:server_update' staticserver.id %}#addresses">Add Aux IP Address</a>
            {% if staticserver.server_status.server_status == "Available" %}
                <a class="dropdown-item icon checkout-icon" href="{% url 'shepherd:server_checkout' staticserver.id %}">Checkout Server</a>
            {% else %}
                <a class="dropdown-item icon block-icon" href="#">Server Unavailable</a>
            {% endif %}
            <a class="dropdown-item icon trash-icon" href="{% url 'shepherd:server_delete' staticserver.id %}">Delete</a>
        </div>
    </div>

    <div class="container">
        <h2>{{ primary_address }} {% if staticserver.name %}({{ staticserver.name }}){% endif %}</h2>
    </div>

    <div>
        <!-- Note Section -->
        <h3>Server Description</h3>
        <hr>
        {% if staticserver.note %}
            <p>{{ staticserver.note|bleach }}</p>
        {% else %}
            <p>No information provided for this server.</p>
        {% endif %}

        <!-- Address Section -->
        <h4 class="icon address-icon">Server Addresses</h4>
        <table id="address-table" class="tablesorter table table-striped">
            <thead>
                <tr>
                    <th>IP Address</th>
                    <th>Primary</th>
                </tr>
            </thead>
            <tr>
                <td>{{ staticserver.ip_address }}</td>
                <td>Assigned to Server</td>
            </tr>
            {% if staticserver.auxserveraddress_set %}
                {% for addy in staticserver.auxserveraddress_set.all %}
                    <tr>
                        <td>{{ addy }}</td>
                        <td>
                            {% if addy.primary %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>

        <!-- Server History Section -->
        <h4 class="icon history-icon">Project History</h4>
        {% if staticserver.serverhistory_set.all %}
            <table id="project-table" class="tablesorter table table-striped">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Activity Type</th>
                        <th>Server Role</th>
                        <th>Domain</th>
                        <th class="sorter-date-range-dMMMyyyy">Execution Window</th>
                        <th class="sorter-false">Notes</th>
                        <th class="sorter-false">Edit</th>
                    </tr>
                </thead>
                {% for project in staticserver.serverhistory_set.all %}
                    <tr>
                        <td><a class="clickable" href="{% url 'rolodex:project_detail' project.project.id %}">{{ project.project }}</i></a></td>
                        <td>{{ project.activity_type }}</td>
                        <td>{{ project.server_role }}</td>
                        {% if project.domain %}
                            <td>{{ project.domain.name }}</td>
                        {% else %}
                            <td>No Assoc. Domain</td>
                        {% endif %}
                        <td>{{ project.start_date }} - {{ project.end_date }}</td>
                        <td class="table-note">{{ project.note|bleach }}</td>
                        <td>
                            <a class="icon edit-icon" href="{% url 'shepherd:server_history_update' project.id %}"></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>This server has no history.</p>
        {% endif %}

        <!-- Additional Information Section -->
        <div id="accordion" class="myaccordion">
            <div class="card">
                <div class="card-header" id="notes" data-toggle="collapse" data-target="#collapseNotes">
                    <a class="accordion-toggle btn btn-link icon comment-icon" data-toggle="collapse" data-target="#collapseNotes" aria-expanded="false" aria-controls="collapseNotes">Notes</a>
                </div>
                <div id="collapseNotes" class="collapse show" aria-labelledby="description" data-parent="#accordion">
                    <div class="card-body">
                        <p>
                            <a class="icon add-icon" href="{% url 'shepherd:server_note_add' staticserver.id %}">Add a Note</a>
                        </p>
                        {% if staticserver.servernote_set.all %}
                            {% for note in staticserver.servernote_set.all reversed %}
                                <div id="note-container-{{ note.id }}">
                                    <p>{{ note.timestamp }}</p>
                                    <div class="container note-container {% if forloop.counter|divisibleby:2 %}darker{% endif %}">
                                        <img class="avatar_note right" src="{{ note.operator.userprofile.avatar_url }}" alt="Avatar">
                                        {% if request.user == note.operator or request.user.is_staff %}
                                            <div class="dropdown dropleft right">
                                                <button id="note-dropdown-btn-{{ note.id }}" class="dropdown-menu-btn-table" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                                <div id="note-dropdown-menu-{{ note.id }}" class="dropdown-content">
                                                    <a class="icon edit-icon" href="{% url 'shepherd:server_note_edit' note.id %}">Edit</a>
                                                    <a id="note-delete-button-{{ note.id }}" class="js-confirm-delete icon trash-icon" data-toggle="modal" data-target="#confirm-delete-modal" href="javascript:void(0);" delete-target-csrftoken="{{ csrf_token }}" delete-target-url="{% url 'shepherd:ajax_delete_server_note' note.id%}" delete-target-id="{{ note.id }}" delete-target-type="note">Delete</a>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {{ note.note|bleach }}
                                        <span class="time-right">{{ note.operator.username }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No notes for this server.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block collapse_js %}
    {{ block.super }}
{% endblock %}

{% block morescripts %}
    <!-- jQuery Tablesorter Script -->
    <script>
        $(document).ready(function()  {
            $("#project-table").tablesorter(
                            {
                                cssAsc: 'down',
                                cssDesc: 'up',
                                cssNone: 'none',
                            }
                        );
            $('.tablesorter').trigger('update');
        });
    </script>

    {% comment %} Include the reusable delete confirmation modal and related scripts {% endcomment %}
    {% include "confirm_delete_modal.html" %}
{% endblock %}
