{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% load bleach_tags %}

{% block pagetitle %}Static Server Catalog{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Servers</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <!-- Filter Section -->
    <div class="filter-form">
        {% crispy filter.form filter.helper %}
    </div>

    <p class="mt-3">
        <a class="icon add-icon" href="{% url 'shepherd:server_create' %}">Create a Server</a>
    </p>

    {% if filter.qs|length == 0 %}
        <p class="mt-3">There are no servers to see here yet, or a filter has hidden them. You can create a new server above.</p>
    {% else %}
        <!-- Server Table Section -->
        <div id="servers_table">
            <table id="serverTable" class="tablesorter table table-sm table-hover">
                <thead>
                    <tr>
                        <th id="server" class="align-middle">IP Address</th>
                        <th class="align-middle">Name</ht>
                        <th class="align-middle">
                            <div class="dropdown dropleft">
                                <span id="status-info-btn" class="dropdown-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Status</span>
                                <div id="status-info" class="dropdown-menu dropdown-info-content" aria-labelledby="status-info-btn">
                                    <p>If looking for a server to use, filter for Available servers. Unavailable and Reserved domains are unavailable for check-out.</p>
                                </div>
                            </div>
                        </th>
                        <th class="align-middle">Provider</th>
                        <th class="align-middle sorter-false">Notes</th>
                        <th class="align-middle sorter-false">Check-out</th>
                    </tr>
                </thead>
                <tbody>
                    {% for server in filter.qs %}
                        <tr>
                            <td class="align-middle"><a href="{{ server.get_absolute_url }}" class="clickable">{{ server.ip_address }}</a></td>

                            <td class="align-middle">{{ server.name }}</td>

                            {% if server.server_status.server_status == "Available" %}
                                <td class="align-middle healthy">{{ server.server_status }}</td>
                            {% else %}
                                <td class="align-middle burned">{{ server.server_status }}</td>
                            {% endif %}

                            <td class="align-middle">{{ server.server_provider }}</td>
                            <td class="align-middle">{{ server.note|bleach }}</td>
                            {% if server.server_status.server_status == "Available" %}
                                <td class="align-middle">
                                    <a class="icon checkout-icon" href="{% url 'shepherd:server_checkout' server.id %}"></a>
                                </td>
                            {% else %}
                                <td class="align-middle icon block-icon"></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block morescripts %}
    <!-- jQuery Tablesorter Script -->
    <script>
        $(document).ready(function()  {
            $("#serverTable").tablesorter(
                            {
                                cssAsc: 'down',
                                cssDesc: 'up',
                                cssNone: 'none',
                            }
                        );
            $('.tablesorter').trigger('update');
        });
    </script>

    <!-- Submit Filter when Clicking Bootstrap Icon -->
    <script>
        $('.input-group-text').on('click', function (event) {
            $('.input-group-text').closest('form').submit();
        });
    </script>
{% endblock %}
