{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% load bleach_tags %}

{% block pagetitle %}Static Server Catalog{% endblock %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Servers</li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
  <!-- Filter Section -->
  <div class="filter-form">
    {% crispy filter.form filter.helper %}
  </div>

  {% if filter.qs|length == 0 %}
    <div class="alert alert-warning offset-md-2 col-md-8 mt-3" role="alert">There are no servers to see here yet, or
      your search returned no results. Create a server above or adjust your filters.
    </div>
  {% else %}
    <!-- Server Table Section -->
    <div id="servers_table">
      <table id="serverTable" class="tablesorter table table-sm table-hover">
        <thead>
        <tr>
          <th id="server" class="align-middle pr-4">IP Address</th>
          <th id="server" class="align-middle pr-4">Aux Address</th>
          <th class="align-middle pr-4">Name</ht>
          <th class="align-middle pr-4">Status</th>
          <th class="align-middle pr-4">Provider</th>
          <th class="align-middle pr-4">Tags</th>
          <th class="align-middle sorter-false">Check-out</th>
        </tr>
        </thead>
        <tbody>
        {% for server in filter.qs %}
          <tr>
            <td class="align-middle"><a href="{{ server.get_absolute_url }}"
                                        class="clickable">{{ server.ip_address }}</a></td>

            {% if server.auxserveraddress_set %}
              <td class="align-middle">
                {% for aux in server.auxserveraddress_set.all %}
                  {{ aux }}{% if not forloop.last %},&nbsp;{% endif %}
                {% endfor %}
              </td>
            {% else %}
              <td class="align-middle">No Other Addresses</td>
            {% endif %}

            <td class="align-middle">{% if server.name %}{{ server.name|bleach }}{% else %}No Hostname{% endif %}</td>

            {% if server.server_status.server_status == "Available" %}
              <td class="align-middle healthy">{{ server.server_status }}</td>
            {% else %}
              <td class="align-middle burned">{{ server.server_status }}</td>
            {% endif %}

            <td class="align-middle">{{ server.server_provider }}</td>
            <td class="text-justify align-middle">{%  for tag in server.tags.all %}<span class="badge badge-secondary">{{ tag.name }}</span>{% endfor %}</td>
            {% if server.server_status.server_status == "Available" %}
              <td class="align-middle">
                <a class="icon checkout-icon" href="{% url 'shepherd:server_checkout' server.id %}"></a>
              </td>
            {% else %}
              <td class="align-middle icon block-icon"></td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}

{% block morescripts %}
  {% comment %} jQuery Tablesorter Script {% endcomment %}
  <script>
    $(document).ready(function () {
      $("#serverTable").tablesorter(
        {
          cssAsc: 'down',
          cssDesc: 'up',
          cssNone: 'none',
        }
      );
      $('.tablesorter').trigger('update');
    });

    {% comment %} Submit Filter when Clicking Bootstrap Icon {% endcomment %}
    $('.input-group-text').on('click', function (event) {
      $('.input-group-text').closest('form').submit();
    });

    {%  comment %} Enable autocomplete for the filter form {% endcomment %}
    $(function () {
      let availableServers = [
        {% for entry in autocomplete %}
          '{{ entry|bleach }}',
        {% endfor %}
      ];
      $("#id_server").autocomplete({
        source: availableServers
      });
    });
  </script>
{% endblock %}
