{% extends "base_generic.html" %}

{% block pagetitle %}Domain Update Control Panel{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" style="padding-left: 20px;">
        <ul class="breadcrumb" style="margin: 0;">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Control Panel</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <style>
        .badge {
            font-size: 14px;
        }
    </style>

    <h2>Domain Update Control Panel</h2>

    <!-- Domain Library Update Section -->
    {% if enable_namecheap %}
        <h6><i class="fas fa-cloud-download-alt"></i> Pull Domains from Namecheap</h6>
        <hr>

        <p>The domain library sync with Namecheap was last requested on:</p>
        <p style="font-size: 20px; padding: 10 10 10 10">
            <strong>{{ namecheap_last_update_requested }}</strong>
        </p>

        {% if namecheap_last_update_completed %}
            {% if namecheap_last_update_completed == 'Failed' %}
                <p>Request Status: <span class="badge badge-pill badge-danger">{{ namecheap_last_update_completed }}</span></p>
                {% if cat_last_result %}
                    <div style="border: 1px solid black;width: 50%; margin: 0 auto; border-radius: 5px; background-color: #f1f1f1">
                        <strong>Error: </strong>
                        <em style="color: red">
                            {{ namecheap_last_result }}
                        </em>
                    </div>
                {% endif %}
            {% else %}
                {% if namecheap_last_update_completed %}
                    <p>Request Status: <span class="badge badge-pill badge-success">Completed on {{ namecheap_last_update_completed }} in {{ namecheap_last_update_time }} minutes</span></p>
                {% endif %}
            {% endif %}
        {% endif %}

        <form action="{% url 'shepherd:update_namecheap' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" id="user_id" name="user_id" value='{{ user.get_username }}'>
            <button class="btn btn-primary">Pull from Namecheap</button>
        </form>
    {% endif %}

    <!-- Domain Categories Section -->
    <h6><i class="fas fa-heartbeat"></i> Domain Categories</h6>
    <hr>

    <p>An update for the domain health statuses and categories was last requested on:</p>
    <p style="font-size: 20px; padding: 10 10 10 10">
        <strong>{{ cat_last_update_requested }}</strong>
    </p>

    {% if cat_last_update_completed %}
        {% if cat_last_update_completed == 'Failed' %}
            <p>Request Status: <span class="badge badge-pill badge-danger">{{ cat_last_update_completed }}</span></p>
            {% if cat_last_result %}
                <div style="border: 1px solid black;width: 50%; margin: 0 auto; border-radius: 5px; background-color: #f1f1f1">
                    <strong>Error: </strong>
                    <em style="color: red">
                        {{ cat_last_result }}
                    </em>
                </div>
            {% endif %}
        {% else %}
            {% if cat_last_update_completed %}
                <p>Request Status: <span class="badge badge-pill badge-success">Completed on {{ cat_last_update_completed }} in {{ cat_last_update_time }} minutes</span></p>
            {% endif %}
        {% endif %}
    {% endif %}

    <p>Note that updates will require <em>at least</em> <strong>{{ update_time }}</strong> minutes ({{ total_domains }} domains * {{ sleep_time }} second sleep configured in settings).</p>

    <form action="{% url 'shepherd:update_cat' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" id="user_id" name="user_id" value='{{ user.get_username }}'>
        <button class="btn btn-primary">Start Update</button>
    </form>

    <!-- DNS Section -->
    <h6><i class="fas fa-server"></i> DNS Records</h6>
    <hr>

    <p>A DNS record update for all domains was last requested on:</p>

    <p style="font-size: 20px; padding: 10 10 10 10">
        <strong>{{ dns_last_update_requested }}</strong>
    </p>

    {% if dns_last_update_completed %}
        {% if dns_last_update_completed == 'Failed' %}
            <p>Request Status: <span class="badge badge-pill badge-danger">{{ dns_last_update_completed }}</span></p>
            {% if dns_last_result %}
                <div style="border: 1px solid black; width: 50%; margin: 0 auto; border-radius: 5px; background-color: #f1f1f1">
                    <strong>Error: </strong>
                    <em style="color: red">
                        {{ dns_last_result }}
                    </em>
                </div>
            {% endif %}
        {% else %}
            {% if dns_last_update_completed %}
                <p>Request Status: <span class="badge badge-pill badge-success"><span class="badge badge-pill badge-success">Completed on {{ dns_last_update_completed }} in {{ dns_last_update_time }} minutes</span></p>
            {% endif %}
        {% endif %}
    {% endif %}

    <p>An individual update may take up to 60 seconds, so expect this to take some time.</p>

    <form action="{% url 'shepherd:update_dns' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" id="user_id" name="user_id" value='{{ user.get_username }}'>
        <button class="btn btn-primary">Start Update</button>
    </form>
{% endblock %}
