{% load humanize %}

<li class="nav-item active">
    <a class="nav-link active icon info-icon" data-toggle="tab" href="#details">
        General
        <span class=
            {% if domain.is_expired %}
                "badge badge-pill badge-danger">EXPIRED
            {% else %}
                "badge badge-pill badge-light">{{ domain.get_domain_age|intcomma }}
            {% endif %}
        </span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link icon server-icon" data-toggle="tab" href="#dns">
    DNS Records</a>
</li>
<li class="nav-item">
    <a class="nav-link icon heartbeat-icon" data-toggle="tab" href="#health">
        Health
        <span class="badge badge-pill {% if domain.health_status.health_status == "Healthy" %}badge-light{% else %} badge-danger{% endif %}">{{ domain.health_status }}</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link icon history-icon" data-toggle="tab" href="#history">
        Project History
        <span class="badge badge-pill badge-light">{{ domain.history_set.all.count }}</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link icon comment-icon" data-toggle="tab" href="#notes">
        Notes
        <span class="badge badge-pill badge-light">{{ domain.domainnote_set.all.count }}</span>
    </a>
</li>
