{% load bleach_tags %}

<div id="domain_detail_{{ domain.id }}" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-super-sized modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Additional Details for {{ domain.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        {%  for tag in domain.tags.all %}<span class="badge badge-secondary mb-3">{{ tag.name }}</span>{% endfor %}

        <p>Health Status:
        {% if domain.health_status.health_status == "Healthy" %}
          <span class="healthy">{{ domain.health_status }}</span>
        {% else %}
          <span class="burned">{{ domain.health_status }}</span>
        {% endif %}
        <br></p>

        <p>Auto-Renew Active: {{ domain.auto_renew }}<br></p>

        <p>Domain Categorization:
          {% if domain.categorization.items %}
            <span class="align-middle">
              {% for source, cat in domain.categorization.items %}
                {{ cat|bleach|title }}{% if not forloop.last %},&nbsp;{% endif %}
              {% endfor %}
            </span>
          {% else %}
            <span class="align-middle">No Results</span>
          {% endif %}
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
