{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'assets/standalone_tiptap.css' %}?v={{ VERSION }}">
<style>
    #extrafieldspec_set-group .tabular fieldset.module {
        overflow-x: auto;
    }

    #extrafieldspec_set-group td.field-user_default_value {
        min-width: 34rem;
    }
</style>
{% endblock %}

{% block admin_change_form_document_ready %}
{{ block.super }}
{% include "snippets/editor_shortcuts_config.html" %}
<script type="module" src="{% static 'assets/admin_tiptap.js' %}?v={{ VERSION }}"></script>
<script type="text/javascript">
    "use strict";
    django.jQuery(function () {
        const $ = django.jQuery;
        const INPUT_TYPES = "input, select, textarea";
        function swap_control(row, tag, attrs, set_value) {
            let container = $(row).find(".field-user_default_value");
            let existing_input = container.find(INPUT_TYPES);
            let name = existing_input.attr("name");
            let id = existing_input.attr("id");
            let value = existing_input.val();

            let error_list = container.children(".errorlist").detach();
            container.empty();

            if(typeof tag === "function") {
                return tag(container, name, id, value);
            } else {
                let new_control = document.createElement(tag);
                new_control.setAttribute("name", name);
                new_control.setAttribute("id", id);
                for(const attr in attrs) {
                    new_control.setAttribute(attr, attrs[attr]);
                }
                if(set_value) {
                    set_value(new_control, value);
                } else {
                    new_control.setAttribute("value", value);
                }
                if(error_list) {
                    container.append(error_list);
                }
                container.append(new_control);
                return new_control;
            }
        }

        const SWAP_WIDGET_FUNCTIONS = {
            "checkbox": row => swap_control(row, "input", {"type": "checkbox"}, (control, value) => {
                if(value === "on") {
                    control.setAttribute("checked", "");
                }
            }),
            "single_line_text": row => swap_control(row, "input", {"type": "text"}),
            "rich_text": row => swap_control(row, (container, name, id, value) => {
                const el = document.createElement("div");
                el.classList.add("gw-standalone-editor-host");
                container.append(el);
                row._gw_destroyEditor = gwSetupTiptapEditor(el, name, id, value);
            }),
            "integer": row => swap_control(row, "input", {"type": "number", "step": "1"}),
            "float": row => swap_control(row, "input", {"type": "number"}),
            "json": row => swap_control(row, "textarea", {"class": "no-auto-rich-text"}, (el, value) => el.innerText = value || "null"),
        };

        function extra_fields_set_default_value_widget(row) {
            let type = $(row).find(".field-type select").val();
            if(type === "")
                return;
            if(row._gw_destroyEditor) {
                row._gw_destroyEditor();
                delete row._gw_destroyEditor;
            }
            SWAP_WIDGET_FUNCTIONS[type](row);
        }

        function set_field_type_change_listener(row) {
            $(row).find(".field-type select").on("change", ev => {
                extra_fields_set_default_value_widget($(row));
            });
        }

        $("#extrafieldspec_set-group tr.form-row").each((_, row) => {
            extra_fields_set_default_value_widget(row);
            set_field_type_change_listener(row);
        });
        $(document).on("formset:added", (event, row, formsetName) => {
            set_field_type_change_listener(row);
        });
    });
</script>
{% endblock %}
