{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}User Profile{% endblock %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{% url 'users:user_detail' request.user.username %}">Your Profile</a></li>
      <li class="breadcrumb-item active" aria-current="page">Profile Form</li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
  <!-- Current Avatar -->
  <img class="avatar" src="{%  url 'users:avatar_download' slug=request.user.username %}" alt="User Image">

  <!-- Form Error Section -->
  {% if form.errors %}
    <script>
      {% for field in form %}
        {% for error in field.errors %}
          displayToastTop({type: 'error', string: '{{ error }}', context: 'form'});
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        displayToastTop({type: 'error', string: '{{ error }}', context: 'form'});
      {% endfor %}
    </script>
  {% endif %}

  <!-- Avatar Upload Form -->
  {% crispy form form.helper %}
{% endblock %}

{% block morescripts %}
  <script>
    const fileInput = document.getElementById('id_avatar')
    const previewDiv = document.getElementById('avatarPreview')

    // Add frame when dragging file into input
    fileInput.addEventListener('dragover', function () {
      filename.classList.add('dragging');
    });
    fileInput.addEventListener('dragenter', function () {
      filename.classList.add('dragging');
    });
    // Removes drag class when drag leaves or file is dropped
    fileInput.addEventListener('dragleave', function () {
      filename.classList.remove('dragging');
    });
    fileInput.addEventListener('drop', function () {
      filename.classList.remove('dragging');
    });

    // Detect when a file is pasted into the page and update the input and preview
    $(window).on('paste', function (e) {
      // Use event.originalEvent.clipboard for newer Chrome versions
      let pastedFileObj = (e.clipboardData || e.originalEvent.clipboardData);

      if (pastedFileObj.files.length) {
        fileInput.files = pastedFileObj.files
        filename.textContent = fileInput.files[0].name
        renderPreview(fileInput, previewDiv)
      }
    });
    // Detect when a file is dragged into the page and update the input and preview
    $('input[type=file]').on('change', function () {
      let filename = $(this).val().split('\\').pop();
      $('#filename').text(filename);
      renderPreview(fileInput, previewDiv)
    });
  </script>
{% endblock %}
