{% if report.reportobservationlink_set.all %}
  <table id="observations-table" class="table table-sm table-hover"
         data-update-url="{% url 'reporting:update_report_observations' %}">
    <thead>
    <tr>
      <th class="icon ol-list-icon text-center"></th>
      <th class="align-middle text-left">Observation</th>
      <th class="align-middle">Options</th>
    </tr>
    </thead>
    <tbody>
    {% for observation in report.reportobservationlink_set.all %}
      <tr id="observation_{{ observation.id }}" data-id="{{ observation.id }}">
        <td
          class="holdme align-middle"
          data-toggle="tooltip"
          data-placement="top"
          title="Click-n-drag to reposition or categorize"
        ></td>
        <td class="align-middle text-left">
          <a id="delete-target-content-observation-{{ observation.id }}"
            {% if observation.added_as_blank %}
             class="clickable icon flag-icon" data-toggle="tooltip" data-placement="top"
             title="Observation started as a blank template, not from the observation library"
            {% else %}
             class="clickable"
            {% endif %}
             href="{% url 'reporting:local_observation_edit' observation.id %}">{{ observation }}
          </a>
        </td>

        <td class="align-middle">
          <div class="d-flex justify-content-center">
            <form
              action="{% url 'reporting:convert_observation' observation.id %}"
              method="post"
              style="display:contents"
            >
              {% csrf_token %}
              <button class="icon clone-icon" style="border:0;padding:0;background:none"></button>
            </form>
            {%comment%}<a class="icon clone-icon"
               title="Clone this observation to the library"
               href="{% url 'reporting:convert_observation' observation.id %}"></a>{%endcomment%}
            <a id="observation-delete-button-{{ observation.id }}"
               class="icon trash-icon js-confirm-delete" data-toggle="modal"
               title="Delete this observation"
               data-target="#confirm-delete-modal" href="javascript:void(0);"
               delete-target-csrftoken="{{ csrf_token }}"
               delete-target-url="{% url 'reporting:ajax_delete_local_observation' observation.id %}"
               delete-target-id="{{ observation.id }}" delete-target-type="observation"></a>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="mt-3">No observations have been added to this report yet.</p>
{% endif %}

<script>
  $('#observations-table [data-target="#confirm-delete-modal"]').each(function () {
    $(this).click(function () {
      $('#confirm-delete-modal').attr('caller-id', $(this).attr('id'));
    });
  });

  {% comment %} Observation sorting {% endcomment %}
  if ($("#observations-table").length) {
    let observations_update_url = $("#observations-table").attr("data-update-url");
    let observations_sortable = Sortable.create(document.querySelector("#observations-table tbody"), {
      animation: 150,
      ghostClass: 'sortable-ghost',
      handle: '.holdme',

      setData: (dataTransfer, dragEl) => {
        dataTransfer.setData('text/plain', dragEl.textContent);
      },
      onUpdate: event => {
        let positions = observations_sortable.toArray();
        $.ajaxSetup({
          beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader('X-CSRFToken', csrftoken);
            }
          }
        });
        $.ajax(observations_update_url, {
          type: 'POST',
          data: {
            'report': report_id,
            'positions': JSON.stringify(positions),
          },
          success: function (data) {
            console.log(data);
          }
        });
      },
    });
  }
</script>
