{% load custom_tags %}

<li class="nav-item">
    <a id="id_status" class="nav-link tab-icon planning-icon" data-bs-toggle="tab" role="tab" aria-controls="status" href="#status">
        Status
    </a>
</li>
<li class="nav-item">
    <a id="id_findings" class="nav-link active tab-icon tasks-icon" data-bs-toggle="tab" role="tab" aria-controls="findings" href="#findings">
        Findings
    </a>
</li>
<li class="nav-item">
    <a id="id_observations" class="nav-link tab-icon tasks-icon" data-bs-toggle="tab" role="tab" aria-controls="observations" href="#observations">
        Observations
    </a>
</li>
<li class="nav-item">
    <a id="id_evidence" class="nav-link tab-icon whitecard-icon" data-bs-toggle="tab" role="tab" aria-controls="evidence" href="#evidence">
        Report Evidence
    </a>
</li>
{% if report_extra_fields_spec %}
<li class="nav-item">
    <a id="id_extra-fields" class="nav-link tab-icon custom-field-icon" data-bs-toggle="tab" role="tab" aria-controls="extra-fields" href="#extra-fields">
        Extra Fields
    </a>
</li>
{% endif %}
<li class="nav-item">
    <a id="id_generate" class="nav-link tab-icon bullseye-icon" data-bs-toggle="tab" role="tab" aria-controls="generate" href="#generate">
        Generate
    </a>
</li>
