{% extends "account/base_reauthenticate.html" %}
{% load i18n %}
{% load allauth %}
{% load crispy_forms_tags %}

{% block reauthenticate_content %}

{% element p %}
    {% blocktranslate %}Enter an authenticator code:{% endblocktranslate %}
    {% endelement %}

    <!-- Form Error Section -->
    {% if form.errors %}
    <script>
    {% for field in form %}
      {% for error in field.errors %}
        displayToastTop({type: 'error', string: '{{ error }}', context: 'form'});
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      displayToastTop({type: 'error', string: '{{ error }}', context: 'form'});
    {% endfor %}
    </script>
    {% endif %}
    {% url 'mfa_reauthenticate' as action_url %}
    <!-- Form Section -->
    <div class="row justify-content-center">
      <form class="validate col-md-4" method="POST" action="{{ action_url }}" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary col-md-4" type="submit">{% trans 'Confirm' %}</button>
      </form>
    </div>
{% endblock %}