{% extends "base_generic_empty.html" %}

{% block pagetitle %}Health Status{% endblock %}


{% block content %}
    <h1>System Status</h1>
    <table>
      <thead>
        <th class="align-middle text-left"></th>
        <th class="align-middle text-left">Service</th>
        <th class="align-middle text-left">Status</th>
        <th class="align-middle text-left">Time Taken</th>
      </thead>
      <tbody>
        {% for plugin in plugins %}
          <tr>
            <td class="icons">
              <span aria-hidden="true">
                {% if plugin.status %}
                  &#9989;
                {% else %}
                  &#10060;
                {% endif %}
              </span>
            </td>
            <td class="align-middle text-left">{{ plugin.identifier }}</td>
            <td class="align-middle text-left">{{ plugin.pretty_status | linebreaks }}</td>
            <td class="align-middle text-left">{{ plugin.time_taken|floatformat:4 }} seconds</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}
