{% extends "base_generic.html" %}

{% load settings_tags %}

{% block pagetitle %}Manage API Access{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" style="padding-left: 20px;">
        <ul class="breadcrumb" style="margin: 0;">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Review Configuration</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    {% comment %} Get the current configuration from the singleton models {% endcomment %}
    {% get_solo "commandcenter.CompanyInformation" as company_config %}
    {% get_solo "commandcenter.CloudServicesConfiguration" as cloud_config %}
    {% get_solo "commandcenter.NamecheapConfiguration" as namecheap_config %}
    {% get_solo "commandcenter.ReportConfiguration" as report_config %}
    {% get_solo "commandcenter.SlackConfiguration" as slack_config %}
    {% get_solo "commandcenter.VirusTotalConfiguration" as vt_config %}

    <style>
        th, tr, td {
            text-align: justify;
        }

        td {
            border-bottom: 0;
        }
    </style>

    <h2>API & Notification Configurations</h2>
    <p>These settings are managed in the Django administration panel under the <em>Command Center</em> application.</p>
    <p>To change the <em>Timezone</em>, edit the application's settings file and restart the server.
    <table class="table-responsive-lg borderless">
        <!-- General Section -->
        <tr>
            <th class="form-th"><i class="fas fa-cogs"></i> General Settings</th>
            <th class="form-th"></th>
        </tr>
        <tr>
            <td><i class="far fa-clock"></i> Timezone Time</td>
            <td>{{ timezone }}</td>
        </tr>
        <tr>
            <td><i class="fas fa-building"></i> Company Name</td>
            <td>{{ company_config.company_name }}</td>
        </tr>
        <tr>
            <td><i class="fab fa-twitter"></i> Twitter</td>
            <td>{{ company_config.company_twitter }}</td>
        </tr>
        <tr>
            <td><i class="fas fa-envelope"></i> Email</td>
            <td>{{ company_config.company_email }}</td>
        </tr>

        <!-- Spacer -->
        <tr>
            <td class="hidden-table">&nbsp;</th>
        </tr>

        <!-- Domain Health Section -->
        <tr>
            <th class="form-th"><i class="fas fa-heart"></i> Domain Health Checks</th>
            <th class="form-th"></th>
        </tr>
        <tr>
            <td><i class="fab fa-google"></i> VirusTotal API Key</td>
            {% if vt_config.enable %}
                <td>{{ vt_config.sanitized_api_key }}</td>
            {% else %}
                <td>Disabled</td>
            {% endif %}
        </tr>
        <tr>
            <td><i class="fas fa-bed"></i> Sleep Time</td>
            <td>{{ vt_config.sleep_time }} seconds</td>
        </tr>

        <!-- Spacer -->
        <tr>
            <td class="hidden-table">&nbsp;</th>
        </tr>

        <!-- Registrar Section -->
        <tr>
            <th class="form-th"><i class="fas fa-cloud-download-alt"></i> Domain Registrar API</th>
            <th class="form-th"></th>
        </tr>
        {% if namecheap_config.enable %}
            <tr>
                <td><i class="fas fa-toggle-on"></i> Namecheap API Enabled</td>
                <td>{{ namecheap_config.enable }}</td>
            </tr>
            <tr>
                <td><i class="fas fa-laptop-code"></i> Namecheap Whitelisted IP</td>
                <td>{{ namecheap_config.client_ip }}</td>
            </tr>
            <tr>
                <td><i class="fas fa-key"></i> Namecheap API Key</td>
                <td>{{ namecheap_config.sanitized_api_key }}</td>
            </tr>
            <tr>
                <td><i class="fas fa-user"></i> Namecheap Username</td>
                <td>{{ namecheap_config.username }}</td>
            </tr>
            <tr>
                <td><i class="fas fa-users-cog"></i> Namecheap API Username</td>
                <td>{{ namecheap_config.api_username }}</td>
            </tr>
            <tr>
                <td><i class="fas fa-hashtag"></i> Namecheap Page Size</td>
                <td>{{ namecheap_config.page_size }}</td>
            </tr>
        {% else %}
            <tr>
                <td><i class="fas fa-toggle-off"></i> Namecheap API Enabled</td>
                <td>Disabled</td>
            </tr>
        {% endif %}

        <!-- Spacer -->
        <tr>
            <td class="hidden-table">&nbsp;</th>
        </tr>

        <!-- Cloud Monitor Section -->
        <tr>
            <th class="form-th"><i class="fas fa-cloud"></i> Cloud Services</th>
            <th class="form-th"></th>
        </tr>
        {% if cloud_config.enable %}
            <tr>
                <td><i class="fas fa-toggle-on"></i> Cloud Monitoring Enabled</td>
                <td>{{ cloud_config.enable }}</td>
            </tr>
            <tr>
                <td><i class="fab fa-aws"></i> AWS Access Key</td>
                <td>{{ cloud_config.sanitized_aws_key }}</td>
            </tr>
            <tr>
                <td><i class="fab fa-aws"></i>> AWS Access Key Secret</td>
                <td>{{ cloud_config.sanitized_aws_secret }}</td>
            </tr>
            <tr>
                <td><i class="fab fa-digital-ocean"></i> Digital Ocean API Key</td>
                <td>{{ cloud_config.sanitized_do_api_key }}</td>
            </tr>
        {% else %}
            <tr>
                <td><i class="fas fa-toggle-off"></i> Cloud Monitoring Enabled</td>
                <td>Disabled</td>
            </tr>
        {% endif %}

        <!-- Spacer -->
        <tr>
            <td class="hidden-table">&nbsp;</th>
        </tr>

        <!-- Notification Section -->
        <tr>
            <th class="form-th"><i class="fas fa-bell"></i> Notifications</th>
            <th class="form-th"></th>
        </tr>
        {% if slack_config.enable %}
            <tr>
                <td><i class="fas fa-toggle-on"></i> Slack Enabled</td>
                <td>{{ slack_config.enable }}</td>
            </tr>
            <tr>
                <td><i class="fab fa-slack"></i> Slack WebHook</td>
                <td>{{ slack_config.sanitized_webhook }}</td>
            </tr>
            <tr>
                <td><i class="fab fa-slack"></i> Slack Bot Name</td>
                <td>{{ slack_config.slack_username }}</td>
            </tr>
            <tr>
                <td><i class="fab fa-slack"></i> Slack Bot Avatar</td>
                <td>{{ slack_config.slack_emoji }}</td>
            </tr>
            <tr>
                <td><i class="fab fa-slack"></i> Global Slack Channel</td>
                <td>{{ slack_config.slack_channel }}</td>
            </tr>
            <tr>
                <td><i class="fab fa-slack"></i> Slack Target</td>
                <td>{{ slack_config.slack_alert_target }}</td>
            </tr>
        {% else %}
            <tr>
                <td><i class="fas fa-toggle-off"></i> Slack Enabled</td>
                <td>Disabled</td>
            </tr>
        {% endif %}
    </table>

    <h6>Test Configurations</h6>
    <hr />

    <div class="form-group">
    <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Config Test Toolbar">
        <div class="btn-group mr-2" role="group" aria-label="Cloud Tests">
            <button type="submit" class="js-queue-task btn btn-primary" queue-task-url="{% url 'home:ajax_test_aws' %}" queue-task-csrf-token="{{ csrf_token }}">Test AWS Keys</button>
            <button type="submit" class="js-queue-task btn btn-primary" queue-task-url="{% url 'home:ajax_test_do' %}" queue-task-csrf-token="{{ csrf_token }}">Test Digital Ocean</button>
        </div>

        <div class="btn-group mr-2" role="group" aria-label="API Tests">
                <button class="js-queue-task btn btn-primary" queue-task-url="{% url 'home:ajax_test_namecheap' %}" queue-task-csrf-token="{{ csrf_token }}">Test Namecheap API</button>
                <button class="js-queue-task btn btn-primary" queue-task-url="{% url 'home:ajax_test_virustotal' %}" queue-task-csrf-token="{{ csrf_token }}">Test VirusTotal API</button>
        </div>

        <div class="btn-group" role="group" aria-label="Notification Tests">
                <button class="js-queue-task btn btn-primary" queue-task-url="{% url 'home:ajax_test_slack' %}" queue-task-csrf-token="{{ csrf_token }}">Test Slack Webhook</button>
        </div>
    </div>
    </div>
{% endblock %}

{% block morescripts %}
    <!-- Queue Tasks with AJAX -->
    <script>
        $('.js-queue-task').each(function(index) {
            $(this).on('click', function (event) {
                // Prevent default browser behavior for a form submission
                event.preventDefault();
                // Get the URL from form attribute
                var url = $(this).attr('queue-task-url');
                var csrf_token = $(this).attr('queue-task-csrf-token');
                // Send AJAX POST request
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        csrfmiddlewaretoken: csrf_token,
                    },
                    success: function (data) {
                        if (data['result'] == 'success') {
                            // Do something
                        }
                        if (data['message']) {
                            displayToastTop({type:data['result'], string:data['message'], title:'Task Update'});
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
