{% extends "base_generic.html" %}

{% block pagetitle %}Manage API Access{% endblock %}

{% block content %}
    <style>
        th, tr, td {
            text-align: justify;
        }

        td {
            border-bottom: 0;
        }
    </style>

    <h2>API & Notification Configurations</h2>
    <p>These settings are managed in settings.py and changing them will require restarting the application:</p>
    <table style="width: 75%; border: none; margin-left: 12.5%; margin-top: 20px" align="center">
        <!-- General Section -->
        <tr>
            <th class="form_th"><i class="fas fa-cogs"></i> General Settings</th>
            <th class="form_th"></th>
        </tr>
        <tr>
            <td><i class="far fa-clock"></i> Timezone Time</td>
            <td>{{ timezone }}</td>
        </tr>

        <!-- Spacer -->
        <tr>
            <td class="hidden-table">&nbsp;</th>
        </tr>

        <!-- Domain Health Section -->
        <tr>
            <th class="form_th"><i class="fas fa-heart"></i> Domain Health Checks</th>
            <th class="form_th"></th>
        </tr>
        <tr>
            <td><i class="fab fa-google"></i> VirusTotal API Key</td>
            {% if virustotal_api_key and virustotal_api_key != "None" %}
                <td>{{ virustotal_api_key }}</td>
            {% else %}
                <td>Not Configured</td>
            {% endif %}
        </tr>
        <tr>
            <td><i class="fas fa-bed"></i> Sleep Time</td>
            <td>{{ sleep_time }} seconds</td>
        </tr>

        <!-- Spacer -->
        <tr>
            <td class="hidden-table">&nbsp;</th>
        </tr>

        <!-- Notification Section -->
        <tr>
            <th class="form_th"><i class="fas fa-bell"></i> Notifications</th>
            <th class="form_th"></th>
        </tr>
        <tr>
            <td><i class="fab fa-slack"></i> Slack Enabled</td>
            <td>{{ enable_slack }}</td>
        </tr>
        {% if enable_slack %}
            <tr>
                <td><i class="fab fa-slack"></i> Slack WebHook</td>
                <td>{{ slack_webhook_url }}</td>
            </tr>
            <tr>
                <td><i class="fab fa-slack"></i> Slack Bot Name</td>
                <td>{{ slack_username }}</td>
            </tr>
            <tr>
                <td><i class="fab fa-slack"></i> Slack Bot Avatar</td>
                <td>{{ slack_emoji }}</td>
            </tr>
            <tr>
                <td><i class="fab fa-slack"></i> Global Slack Channel</td>
                <td>{{ slack_channel }}</td>
            </tr>
            <tr>
                <td><i class="fab fa-slack"></i> Slack Target</td>
                <td>{{ slack_alert_target }}</td>
            </tr>
        {% endif %}

        <!-- Spacer -->
        <tr>
            <td class="hidden-table">&nbsp;</th>
        </tr>

        <!-- Registrar Section -->
        <tr>
            <th class="form_th"><i class="fas fa-cloud-download-alt"></i> Domain Registar API</th>
            <th class="form_th"></th>
        </tr>
        <tr>
            <td><i class="fas fa-code"></i> Namecheap API Enabled</td>
            <td>{{ enable_namecheap }}</td>
        </tr>
        {% if enable_namecheap %}
            <tr>
                <td><i class="fas fa-laptop-code"></i> Namecheap Whitelisted IP</td>
                <td>{{ namecheap_client_ip }}</td>
            </tr>
            <tr>
                <td><i class="fas fa-key"></i> Namecheap API Key</td>
                <td>{{ namecheap_api_key }}</td>
            </tr>
            <tr>
                <td><i class="fas fa-user"></i> Namecheap Username</td>
                <td>{{ namecheap_username }}</td>
            </tr>
            <tr>
                <td><i class="fas fa-users-cog"></i> Namecheap API Username</td>
                <td>{{ namecheap_api_username }}</td>
            </tr>
            <tr>
                <td><i class="fas fa-hashtag"></i> Namecheap Page Size</td>
                <td>{{ namecheap_page_size }}</td>
            </tr>
        {% endif %}
    </table>

    {% if enable_slack %}
        <strong><i class="fas fa-check-double"></i> Test Configuration</strong>
        <hr>

        <form action="{% url 'home:send_slack_test_msg' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" id="user_id" name="user_id" value='{{ user.get_username }}'>
            <button class="btn btn-primary">Send a Slack Test</button>
        </form>
    {% endif %}
{% endblock %}
