{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block pagetitle %}User Profile{% endblock %}

{% block content %}
    <style>
        th, tr, td {
            text-align: justify;
            border-bottom: 0;
        }

        td {
            border-bottom: 0;
        }
    </style>

    <!-- User's Avatar -->
    <a href="{% url 'home:upload_avatar' %}">
        <img class="avatar" src="{{ user.userprofile.avatar_url }}" alt="Avatar">
    </a>

    <!-- Users Profile Section -->
    <table class="table table-borderless user-profile-table">
        <tr class="hidden-table">
            <th class="align-middle form-th icon user-icon">Username</th>
            <td class="align-middle">{{ user.username }}</td>
        <tr class="hidden-table">
            <th class="align-middle form-th icon signature-icon">Display Name</th>
            <td class="align-middle">{{ user.name }}</td>
        <tr class="hidden-table">
            <th class="align-middle form-th icon email-icon">Email</th>
            <td class="align-middle ">{{ user.email }}</td>
        </tr>
        <tr class="hidden-table">
            <th class="align-middle form-th icon access-icon">Access</th>
            <td class="align-middle">
                {% if user.is_superuser %}
                    Superuser, Staff
                {% elif user.is_staff %}
                    Staff
                {% else %}
                    Normal User
               {% endif %}
            </td>
        </tr>
        <tr class="hidden-table">
            <th class="align-middle form-th icon groups-icon">Groups</th>
            <td class="align-middle ">
                {{ user|get_groups }}
            </td>
        </tr>
    </table>

    <!-- Account Information Update -->
    <h4 class="icon user-edit-icon">Update Account Details</h4>
    <hr>

    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-primary" href="{% url 'account_change_password' %}">Change Password</a>
        <a class="btn btn-primary" href="{% url 'account_email' %}">Update Email Address</a>
    </div>
{% endblock %}
