{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block pagetitle %}User Profile{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Your Profile</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <style>
        th, tr, p {
            text-align: justify;
            border-bottom: 0;
        }

        p {
            border-bottom: 0;
        }
    </style>

    <!-- User's Avatar -->
    <a href="{% url 'home:upload_avatar' %}">
        <img class="avatar" src="{{ user.userprofile.avatar_url }}" alt="Avatar">
    </a>

    <!-- Users Profile Section -->
    <div class="container profile-container mt-4">
        <div class="row align-items-center">
            <div class="col-sm">
                <p class="bold icon user-icon">Username</p>
            </div>
            <div class="col-sm">
                <p class="text-center">{{ user.username }}</p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-sm">
                <p class="bold icon signature-icon">Display Name</p>
            </div>
            <div class="col-sm">
                <p class="text-center">{{ user.name }}</p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-sm">
                <p class="bold icon email-icon">Email</p>
            </div>
            <div class="col-sm">
                <p class="text-center">{{ user.email }}</p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-sm">
                <p class="bold icon access-icon">Access</p>
            </div>
            <div class="col-sm">
                <p class="text-center">
                    {% if user.is_superuser %}Superuser{% elif user.is_staff %}Staff{% else %}Normal User{% endif %}
                </p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-sm">
                <p class="bold icon groups-icon">Groups</p>
            </div>
            <div class="col-sm">
                <p class="text-center">{{ user|get_groups }}</p>
            </div>
        </div>
    </div>

    <!-- Account Information Update -->
    <h4 class="icon user-edit-icon">Update Account Details</h4>
    <hr>

    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-primary" href="{% url 'account_change_password' %}">Change Password</a>
        <a class="btn btn-primary" href="{% url 'account_email' %}">Update Email Address</a>
    </div>
{% endblock %}
