{% extends "base_generic.html" %}

{% load static %}

{% block title %}Bad Request (400){% endblock %}

{% block content %}
    <h2>Bad Request (400)</h2>

    <img src="{% static 'images/scared.png' %}" alt="400 Ghost Image" style="max-width: 250px;">

    <p class="mt-3">Something went wrong with your request. Feel free to try it again.</p>

    <p>You weren't trying to break me, were you?</p>

    <a href="{% url 'home:dashboard' %}" class="btn btn-primary mt-3">Return to Home</a>
{% endblock content %}
