{% extends "base_generic.html" %}

{% load static %}

{% block title %}Page Not Found (404){% endblock %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb" style="padding-left: 20px;">
    <ul class="breadcrumb" style="margin: 0;">
      <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Not Found</li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
    <h2>Page Not Found (404)</h2>

    <img src="{% static 'images/scared.png' %}" alt="404 Ghost Image" style="max-width: 250px;">

    <p class="mt-3">I couldn't find the page you were looking for. Benny is very sorry.</p>
{% endblock content %}
