{% extends "base_generic.html" %}

{% block pagetitle %}Delete{% endblock %}

{% block content %}
    <div class="alert alert-danger mt-5" role="alert">
        <h5 class="alert-heading">Tread Carefully!</h4>
        You are seeing this message because what you are about to do might have serious consequences.
    </div>

    <p>Are you sure you want to delete this {{ object_type }}? This action cannot be undone.</p>

    <p><em>{{ object_to_be_deleted }}</em></p>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger col-md-2" value="Delete">
        <button onclick="window.location.href = '{{ cancel_link }}';" class="btn btn-outline-secondary col-md-2" type="button">Cancel</button>
    </form>
{% endblock %}
