{% load crispy_forms_field %}

{% if field.is_hidden %}
  {{ field }}
{% else %}
  {% if field|is_checkbox %}
    <div class="form-group mb-0">
      {% if label_class %}
        <div class="{% for offset in bootstrap_checkbox_offsets %}{{ offset }} {% endfor %}{{ field_class }}">
      {% endif %}
  {% endif %}

  <{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" class="{% if not field|is_checkbox %}form-group{% if 'form-horizontal' in form_class %} row{% endif %}{% else %}{% if use_custom_control %}{% if tag != 'td' %}custom-control {% endif %} custom-checkbox{% else %}form-check{% endif %}{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">

  {% if use_custom_control %}
    {% if field.errors %}
      {% crispy_field field 'class' 'custom-control-input is-invalid' %}
    {% else %}
      {% crispy_field field 'class' 'custom-control-input' %}
    {% endif %}
  {% else %}
    {% if field.errors %}
      {% crispy_field field 'class' 'form-check-input is-invalid' %}
    {% else %}
      {% crispy_field field 'class' 'form-check-input' %}
    {% endif %}
  {% endif %}

  {% include 'bootstrap4/layout/help_text_and_errors.html' %}

  </{% if tag %}{{ tag }}{% else %}div{% endif %}>

  {% if field|is_checkbox %}
    {% if label_class %}
      </div>
    {% endif %}
    </div>
  {% endif %}
{% endif %}
