{% load crispy_forms_tags %}

<div id="formset-{{ formset.prefix }}" class="formset formset-{{ formset.prefix }}">
    {% if formset.errors %}
        <script>
            {% for form in formset %}
                {% for field in form %}
                    {% for error in field.errors %}
                        displayToastTop({type:'error', string:'{{ error|escapejs }}', context:'form'});
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    displayToastTop({type:'error', string:'{{ error|escapejs }}', context:'form'});
                {% endfor %}
            {% endfor %}
        </script>
    {% endif %}
    {% crispy formset formset.form.helper %}
</div>

<div id="empty-form-{{ formset.prefix }}" style="display: none;">
    <div class="empty-formset empty-form">
        {% crispy formset.empty_form formset.form.helper %}
    </div>
</div>
