{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Note{% endblock %}

{% block content %}
    <p>This is a note for <strong>{{ note_object }}</strong>. All notes include a timestamp and the username of the creator.</p>

    <!-- Form Error Section -->
    {% if form.errors %}
        <script>
            {% for field in form %}
                {% for error in field.errors %}
                    displayToastTop({type:'error', string:'{{ error|escapejs }}', context:'form'});
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                displayToastTop({type:'error', string:'{{ error|escapejs }}', context:'form'});
            {% endfor %}
        </script>
    {% endif %}

    <!-- Form Section -->
    {% crispy form form.helper %}
{% endblock %}
