{% load socialaccount %}

{% get_providers as socialaccount_providers %}

<ul class="socialaccount_providers auth-social-provider-list">
{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
  {% for brand in provider.get_brands %}
  <li>
    <a class="socialaccount_provider {{ provider.id }} {{ brand.id }}" title="{{ brand.name }}"
       href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">
        <span>{{ brand.name }}</span><i class="fas fa-arrow-right" aria-hidden="true"></i>
    </a>
  </li>
  {% endfor %}
{% endif %}
<li>
  <a class="socialaccount_provider {{ provider.id }}" title="{{ provider.name }}"
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
      <span>{{ provider.name }}</span><i class="fas fa-arrow-right" aria-hidden="true"></i>
  </a>
</li>
{% endfor %}
</ul>
