{% extends "admin/change_form.html" %}

{% load json_enc %}

{% block extrastyle %}
    {{ block.super }}

    <style>
        .object-tool-form {
            display: contents;
        }
        .object-tool-form input {
            padding: 3px 12px;
            background-color: var(--object-tools-bg);
            color: var(--object-tools-fg);
            border-radius: 15px;
            font-weight: 400;
            font-size: 0.6875rem;
            text-transform: uppercase;
            line-height: 1.25rem;
            margin: 0;
        }
    </style>
{% endblock %}

{% block object-tools-items %}
    {{ block.super }}

    <li>
        <form action="{% url 'rolodex:ajax_bloodhound_test' %}" method="POST" class="object-tool-form">
            {% csrf_token %}
            <input type="submit" value="Check Connectivity" />
        </form>
    </li>
    <li>
        <form action="{% url 'rolodex:ajax_bloodhound_fetch' %}" method="POST" class="object-tool-form">
            {% csrf_token %}
            <input type="submit" value="Fetch Findings" />
        </form>
    </li>
{% endblock %}
