#cvssReference {
    font-size: 100%;
}

fieldset {
    position: relative;
    background-color: #f2f2f2;
    margin-top: 5px;
    border: 0;
    padding: 1em 0;
}

fieldset legend {
    background-color: #666666;
    color: #ffffff;
    margin: 0;
    width: 100%;
    padding: 0.5em 0px;
    text-indent: 1em;
}

fieldset div.metric {
    padding: 0;
    margin: 0.5em 0;
}

@media only screen and (min-width:768px) {
    fieldset div.column {
        width: 45%;
        margin: 0 0 0 1em;
    }

    fieldset div.column-left {
        float: left;
        height: auto;
    }

    fieldset div.column-right {
        float: right;
        height: auto;
    }
}

fieldset h3 {
    font-size: 1em;
    margin: 0;
    padding-left: 0.1em;
}

fieldset input {
    display: none;
    width: auto;
}

fieldset label {
    background: #cccccc;
    display: inline-block;
    margin: 3px;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 90%;
    border-radius: 5px;
    color: #666666;
    border: 1px solid #999999;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
}

fieldset label:hover {
    background: #666666;
    color: #ffffff;
    border: 1px solid #666666
}

fieldset input:checked+label {
    background: green;
    border: 1px solid green;
    color: #ffffff;
}

#vector {
    margin: 0 1em;
    padding: 0;
}

#vectorString {
    display: none;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #090;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.8em;
    width: 80em;
    max-width: 100%;
}

.scoreRating {
    position: absolute;
    top: -36px;
    right: 0;
    padding: 0 0.4em;
    margin: 0 15px;
    border: 2px solid #666666;
    background: #dddddd;
    font-size: 11px;
    border-radius: 10px;
    width: 100px;
    height: auto;
    line-height: 150%;
    text-align: center;
}

.scoreRating.none,
.scoreRating.low,
.scoreRating.medium,
.scoreRating.high,
.scoreRating.critical {
    color: #ffffff;
}

.scoreRating.none {
    background: #53aa33;
    border: 2px solid #53aa33;
}

.scoreRating.low {
    background: #ffcb0d;
    border: 2px solid #ffcb0d;
}

.scoreRating.medium {
    background: #f9a009;
    border: 2px solid #f9a009;
}

.scoreRating.high {
    background: #df3d03;
    border: 2px solid #df3d03;
}

.scoreRating.critical {
    background: #cc0500;
    border: 2px solid #cc0500;
}

.scoreRating span {
    font-size: 150%;
    font-weight: bold;
    width: 100%;
}

.needBaseMetrics {
    text-align: center;
    line-height: 100%;
    padding-top: 5px;
    font-size: 15px;
}

.cvss-critical {
    color: var(--crit-rating-color);
}

.cvss-high {
    color: var(--high-rating-color);
}

.cvss-medium {
    color: var(--med-rating-color);
}

.cvss-low {
    color: var(--low-rating-color);
}

.cvss-info {
    color: var(--info-rating-color);
}

#baseMetricScore,
#temporalMetricScore,
#environmentalMetricScore {
    display: block;
    font-size: 32px;
    line-height: 32px;
    font-weight: normal;
    margin-top: 4px;
}

#baseSeverity,
#temporalSeverity,
#environmentalSeverity {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
    display: block;
}

div#scriptWarning {
    border: solid red 2px;
    background: #f5dddd;
    padding: 1em 1em 1em 1em;
    margin: 0.4em 0;
}