{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Archived Reports{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'reporting:reports' %}">Reports</a></li>
            <li class="breadcrumb-item active" aria-current="page">Archives</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <!-- Filter Section -->
    <div class="filter-form">
        {% crispy filter.form filter.helper %}
    </div>

    <!-- Archive Files Section -->
    {% if filter.qs|length == 0 %}
        <p class="mt-3">There are no archived reports to see here.</p>
    {% else %}
        <p class="mt-3">The following reports have been closed out, archived, and are now available below for download.</p>

        <table class="roundedCorners table table-sm table-hover">
            <tr>
                <th class="align-middle text-left">Client</th>
                <th class="align-middle text-left">Project</th>
                <th class="align-middle text-left">Zip Archive</th>
            </tr>
            {% for zip in filter.qs %}
                <tr>
                    <td class="align-middle text-left">{{ zip.project.client.name }}</td>
                    <td class="align-middle text-left">{{ zip.project.start_date }} {{ zip.project.project_type }}</td>
                    <td class="align-middle text-left"><a class="icon download-icon" href="{% url 'reporting:download_archive' zip.pk %}">{{ zip.filename }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
