{% extends 'base_generic.html' %}

{% load bleach_tags %}

{% block pagetitle %}Evidence Detail{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'rolodex:client_detail' evidence.finding.report.project.client.id %}">{{ evidence.finding.report.project.client.name }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'rolodex:project_detail' evidence.finding.report.project.id %}">{{ evidence.finding.report.project }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'reporting:report_detail' evidence.finding.report.id %}">{{ evidence.finding.report }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Evidence</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="dropdown">
        <div class="dropdown-menu-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="hamburger(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="evidence-dropdown-btn">
            <a class="dropdown-item icon edit-icon" href="{% url 'reporting:evidence_update' evidence.id %}">Edit</a>
            <a class="dropdown-item icon trash-icon" href="{% url 'reporting:evidence_delete' evidence.id %}">Delete</a>
            <a class="dropdown-item icon back-arrow-icon" href="{% url 'reporting:report_detail' evidence.finding.report.id %}">Return to Report</a>
        </div>
    </div>

    <div class="container">
        <h2>{{ evidence.friendly_name }}</h2>
    </div>

    <!-- File Information Section -->
    <table class="table table-borderless table-centered">
        <tr>
            <td class="text-left">Original Filename</td>
            <td>{{ evidence.filename }}</td>
        </tr>
        <tr>
            <td class="text-left">Uploaded by</td>
            <td>{{ evidence.uploaded_by }}</td>
        </tr>
        <tr>
            <td class="text-left">Upload Date</td>
            <td>{{ evidence.upload_date }}</td>
        </tr>
        <tr>
            <td class="text-left">Report Caption</td>
            <td>
                {% if evidence.caption %}
                    {{ evidence.caption }}
                {% else %}
                    ---
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="text-left">Description</td>
            <td>
            {% if evidence.description %}
                {{ evidence.description|bleach }}
            {% else %}
                ---
            {% endif %}
            </td>
        </tr>
    </table>

    <!-- File Content Section -->
    <h4 class="icon file-icon">File Contents</h4>
    <hr>

    {% load static %}
    {% if filetype == 'image' %}
        <img width=70% src="{{ evidence.document.url }}"/ >
    {% elif filetype == 'text' %}
        {% if file_content %}
            {% for line in file_content %}
                {% ifequal line "FILE NOT FOUND"%}
                    <p class="text-center">{{ line }}</p>
                {% else %}
                    <p class="text-evidence">
                        {{ line }}
                    </p>
                {% endifequal %}
            {% endfor %}
        {% endif %}
    {% else %}
        <p>Evidence file type cannot be displayed.</p>
    {% endif %}
{% endblock %}

{% block morescripts %}

{% endblock %}
