{% extends "base_generic_empty.html" %}

{% block pagetitle %}Evidence Uploaded{% endblock %}

{% block content %}
    <style>
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
    <div class="center">
        <button class="button is-primary" id="dialog-close">Close Dialog</button>
    </div>
{% endblock %}

{% block morescripts %}
    <!-- Event for TinyMCE URLDialog -->
    <script>
        // https://www.martyfriedel.com/blog/tinymce-5-url-dialog-component-and-window-messaging
        document.getElementById('dialog-close').addEventListener('click', function (event) {
            event.preventDefault();

            // Send the "close" mceAction
            window.parent.postMessage({
                mceAction: 'close'
            }, origin);
        });
    </script>
{% endblock %}