{% extends "base_generic.html" %}
{% load crispy_forms_tags bleach_tags custom_tags static %}

{% block pagetitle %}Findings Library{% endblock %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Findings</li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
  <!-- Filter Section -->
  <div class="filter-form">
    {% crispy filter.form filter.helper %}
  </div>

  {% include "snippets/table-column-show-hide-ui.html" with column_show_hide_id="column-show-hide-ui" only %}

  <!-- Instructions Section -->
  {% if not searching_report_findings %}
    <p class="mt-3">Click the <span class="add-icon"></span> icon to add a finding to the <em>active report</em>
      displayed at the top of the page.</p>
  {% else %}
    <p class="mt-3">The following results include findings attached to reports, not findings in your library.</p>
  {% endif %}

  <form action="{% url 'reporting:finding_create' %}" method="POST" style="display:contents">
    {% csrf_token %}
    <button role="button" class="btn btn-info col-2 icon add-icon">Create Finding</button>
  </form>
  <a id="resetSortBtn" class="btn btn-secondary col-2 icon sync-icon" role="button">Reset Sort</a>

  {% if filter.qs|length == 0 %}
    <div class="alert alert-warning offset-md-2 col-md-8 mt-3" role="alert">There are no findings yet, or your search
      returned no results. Create a finding above or adjust your filters.
    </div>
  {% else %}
    <!-- Findings Table Section -->
    <div id="findings_table">
      <table
        id="findingsTable"
        class="tablesorter table table-striped table-sm column-show-hide-table"
        data-table-name="findings"
        data-controls-el="column-show-hide-ui"
      >
        <thead>
        <tr>
          <th class="sortable align-middle text-left" data-internal-name="severity">Severity</th>
          <th class="sortable align-middle text-left" data-internal-name="type">Type</th>
          <th class="sortable align-middle text-left" data-no-hide>Title</th>
          {% if searching_report_findings %}
            <th class="sortable pr-4 align-middle text-left" data-internal-name="report">Report</th>
          {% endif %}
          <th class="sortable align-middle text-left" data-hide-default data-internal-name="cvss_vector">CVSS Vector</th>
          <th class="sortable align-middle text-left" data-hide-default data-internal-name="tags">Tags</th>
          <th class="sorter-false align-middle" data-no-hide>Options</th>
        </tr>
        </thead>
        <tbody class="list">
        {% for finding in filter.qs %}
          <tr>
            <td class="align-middle text-left
                                {% if finding.severity.weight == 1 %}
                                    critical
                                {% elif finding.severity.weight == 2 %}
                                    high
                                {% elif finding.severity.weight == 3 %}
                                    medium
                                {% elif finding.severity.weight == 4 %}
                                    low
                                {% else %}
                                    info
                                {% endif %}
                            ">
              <span
                style="display: none">{{ finding.severity.weight }}{{ cvss_score }}</span>{{ finding.severity.severity }}
              {% if finding.cvss_score %}({{ finding.cvss_score }}){% endif %}
            </td>
            <td class="align-middle text-left">
              <span class="badge badge-primary
                  icon
                  {% if finding.finding_type.finding_type == "Cloud" %}
                      cloud-icon
                  {% elif finding.finding_type.finding_type == "Host" %}
                      host-icon
                  {% elif finding.finding_type.finding_type == "Mobile" %}
                      mobile-icon
                  {% elif finding.finding_type.finding_type == "Network" %}
                      network-icon
                  {% elif finding.finding_type.finding_type == "Physical" %}
                      physical-icon
                  {% elif finding.finding_type.finding_type == "Web" %}
                      code-icon
                  {% elif finding.finding_type.finding_type == "Wireless" %}
                      wireless-icon
                  {% else %}
                      bug-icon
                  {% endif %}"
                  style="cursor: help"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Finding Type"
              >
                {{ finding.finding_type.finding_type|bleach }}
              </span>
            </td>
            <td class="text-justify">
              <a class="clickable" href="{{ finding.get_absolute_url }}">{{ finding.display_title }}</a>
            </td>
            {% if searching_report_findings %}
              <td class="text-justify">
                <a class="clickable" href="{{ finding.report.get_absolute_url }}">{{ finding.report.title }}</a>
              </td>
            {% endif %}

            <td class="align-middle text-left">
              {{ finding.cvss_vector }}
            </td>

            <td class="align-middle text-left">
              {% for tag in finding.tags.all %}
                <span class="badge badge-secondary mb-3">{{ tag.name }}</span>
              {% endfor %}
            </td>

            <td class="align-middle">
              <div class="d-flex justify-content-center">
                <span
                  class="icon preview-icon clickable-link"
                  title="View additional information"
                  onclick="openModal('#finding_detail_{{ finding.id }}')"
                ></span>
                {% if not searching_report_findings %}
                  <a class="js-assign-finding icon add-icon"
                     title="Add finding to your active report (selected in the left-hand sidebar)"
                     assign-finding-id="{{ finding.id }}"
                     href="javascript:void(0);"
                     assign-finding-csrftoken="{{ csrf_token }}"
                     assign-finding-url="{% url 'reporting:ajax_assign_finding' finding.id %}"></a>
                {% endif %}
                <a class="icon edit-icon icon-last"
                   title="Edit the library record for this finding"
                   href="{{ finding.get_edit_url }}"></a>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}

{% block morescripts %}
  <script type="application/javascript" src="{% static 'js/table-columns.js' %}"></script>

  {%  comment %} jQuery Tablesorter Script {% endcomment %}
  <script>
    $(document).ready(function () {
      $('#findingsTable').tablesorter(
        {
          cssAsc: 'down',
          cssDesc: 'up',
          cssNone: 'none',
          widgets: ['saveSort'],
          widgetOptions: {
            saveSort: true,
            storage_page: 'findingLibraryTable'
          }
        }
      );

      $('.tablesorter').trigger('update');

      $('#resetSortBtn').click(function() {
        $('#findingsTable')
          .trigger('saveSortReset')
          .trigger('sortReset');
        return false;
      });
    });

    $(document).ready(function () {
      const $not_cloned = $('#id_not_cloned');
      const $on_reports = $('#id_on_reports');
      {%  comment %} When ``id_not_cloned`` is checked, ensure ``id_on_reports`` is also checked {% endcomment %}
      $not_cloned.change(function () {
        if ($(this).is(':checked')) {
          $on_reports.prop('checked', true);
        }
      });

      {%  comment %} When ``id_on_reports`` is unchecked, ensure ``id_not_cloned`` is unchecked {% endcomment %}
      $on_reports.change(function () {
        if (!$(this).is(':checked')) {
          $not_cloned.prop('checked', false);
        }
      });
    });

    $(document).ready(function () {
      {%  comment %} Apply tooltips only to labels within tooltip-label-only containers {% endcomment %}
      $('.tooltip-label-only').each(function () {
        var label = $(this).find('label');
        var tooltipText = $(this).attr('data-tooltip-text');

        label.attr({
          'data-toggle': 'tooltip',
          'data-placement': 'top',
          'title': tooltipText
        });
      });

      $('[data-toggle="tooltip"]').tooltip();
    });

    {%  comment %} Assign Finding with AJAX {% endcomment %}
    $('.js-assign-finding').click(function () {
      var url = $(this).attr('assign-finding-url');
      var findingId = $(this).attr('assign-finding-id');
      var csrftoken = $(this).attr('assign-finding-csrftoken')
      // Prep AJAX request with CSRF token
      $.ajaxSetup({
        beforeSend: function (xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader('X-CSRFToken', csrftoken);
          }
        }
      });
      // Send AJAX POST request
      $.ajax({
        url: url,
        type: 'POST',
        dataType: 'json',
        data: {
          'finding': findingId
        },
        success: function (data) {
          if (data['result'] == 'success') {
            // Do something
          }
          if (data['message']) {
            displayToastTop({
              type: data['result'],
              string: data['message'],
              title: 'Finding Assigned',
              url: data['url']
            });
          }
        }
      });
    });

    {%  comment %} Enable autocomplete for the filter form {% endcomment %}
    $(function () {
      let availableTitles = [
        {% for entry in autocomplete %}
          '{{ entry.title|escapejs }}{% for tag in entry.tags.all %}{% if forloop.first %} ({% endif %}{{ tag.name|escapejs }}{% if forloop.last %}){% else %}, {% endif %}{% endfor %}',
        {% endfor %}
      ];
      $('#id_title').autocomplete({
        source: availableTitles
      });
    });

    $(function () {
      let availableTags = [
        {% for tag in tags %}
          '{{ tag.name|escapejs }}',
        {% endfor %}
      ];
      $('#id_tags').autocomplete({
        source: availableTags
      });
    });

    {%  comment %} Submit Filter when Clicking Bootstrap Icon {% endcomment %}
    $('.input-group-text').on('click', function (event) {
      $('.input-group-text').closest('form').submit();
    });
  </script>

  {% comment %} Insert modals for additional finding details {% endcomment %}
  {% for finding in filter.qs %}
    {% include "snippets/finding_detail_modal.html" with finding=finding %}
  {% endfor %}
{% endblock %}
