{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Findings Library{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" style="padding-left: 20px;">
        <ul class="breadcrumb" style="margin: 0;">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Findings</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <!-- Filter Section -->
    <div class="filter-form">
        {% crispy filter.form filter.helper %}
    </div>

    {% if filter.qs|length == 0 %}
        <p>There are no findings to see here.</p>
    {% else %}
        <!-- Instructions Section -->
        <p>Click the <i class="far fa-plus-square"></i> icon to add a finding to the <em>current report</em> displayed at the top of the page.</p>

        <!-- Findings Table Section -->
        <div id="findings_table">
            <table id="findingsTable" class="tablesorter">
                <thead>
                    <tr>
                        <th id="cols" class="sortable">Severity</th>
                        <th id="cols" class="sortable"><span style="margin-right: 10px;">Type</span></th>
                        <th id="cols" class="sortable">Title</th>
                        <th class="sorter-false">
                            Add to Report
                            <div class="dropdown">
                                <button class="dropbtn dropbtn-info far fa-question-circle"></button>
                                <div class="dropdown-content dropdown-content-info">
                                    <p>Clicking <i class="far fa-plus-square"></i> will add the finding to your active report displayed at the top of the screen.</p>
                                </div>
                            </div>
                        </th>
                        <th class="sorter-false">
                            Edit Finding
                            <div class="dropdown">
                                <button class="dropbtn dropbtn-info far fa-question-circle"></button>
                                <div class="dropdown-content dropdown-content-info">
                                    <p>Editing a finding here edits the <em>master record</em> for every other user. Only customize a finding after adding it to your report.</p>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody class="list">
                    {% for finding in filter.qs %}
                        <tr class="even">
                            <!-- Severity Column -->
                            {% if finding.severity.severity == "Critical" %}
                                <td id="cols" class="critical"><p style="display: none">{{ finding.severity.weight }}</p>{{ finding.severity.severity }}</td>
                            {% elif finding.severity.severity == "High" %}
                                <td id="cols" class="high"><p style="display: none">{{ finding.severity.weight }}</p>{{ finding.severity.severity }}</td>
                            {% elif finding.severity.severity == "Medium" %}
                                <td id="cols" class="medium"><p style="display: none">{{ finding.severity.weight }}</p>{{ finding.severity.severity }}</td>
                            {% elif finding.severity.severity == "Low" %}
                                <td id="cols" class="low"><p style="display: none">{{ finding.severity.weight }}</p>{{ finding.severity.severity }}</td>
                            {% else %}
                                <td id="cols" class="info"><p style="display: none">{{ finding.severity.weight }}</p>{{ finding.severity.severity }}</td>
                            {% endif %}

                            <!-- Finding Type (e.g. Network) -->
                            {% if finding.finding_type.finding_type == "Network" %}
                                <td style="font-size: 15px" title="Network Finding" class="icon network-icon"><span style="display: none;">Network</span></td>
                            {% elif finding.finding_type.finding_type == "Wireless" %}
                                <td style="font-size: 15px" title="Wireless Finding" class="icon wireless-icon"><span style="display: none;">Wireless</span></td>
                            {% elif finding.finding_type.finding_type == "Physical" %}
                                <td style="font-size: 15px" title="Physical Finding" class="icon physical-icon"><span style="display: none;">Physical</span></td>
                            {% elif finding.finding_type.finding_type == "Web" %}
                                <td style="font-size: 15px" title="Web App Finding" class="icon code-icon"><span style="display: none;">Web</span></td>
                            {% elif finding.finding_type.finding_type == "Mobile Application" %}
                                <td style="font-size: 15px" title="Mobile Finding" class="icon mobile-icon"><span style="display: none;">Mobile</span></td>
                            {% elif finding.finding_type.finding_type == "Cloud" %}
                                <td style="font-size: 15px" title="Cloud Finding" class="icon cloud-icon"><span style="display: none;">Cloud</span></td>
                            {% elif finding.finding_type.finding_type == "Host" %}
                                <td style="font-size: 15px" title="Local Host Finding" class="icon host-icon"><span style="display: none;">Host</span></td>
                            {% else %}
                                <td style="font-size: 15px" title="Local Host Finding" class="icon host-icon"><span style="display: none;">Other</span></td>
                            {% endif %}

                            <!-- Other Information -->
                            <td id="cols" class="title clickable"><a href="{{ finding.get_absolute_url }}">{{ finding.title }}</a></td>
                            <td><a class="js-assign-finding" assign-finding-id="{{ finding.id }}" href="javascript:void(0);" assign-finding-csrftoken="{{ csrf_token }}" assign-finding-url="{% url 'reporting:ajax_assign_finding' finding.id %}"><i style="font-size: 15px" class="far fa-plus-square"></i></button></td>
                            <td><a href="{% url 'reporting:finding_update' finding.id %}"><i style="font-size: 15px" class="far fa-edit"></i></button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block morescripts %}
    <!-- jQuery Tablesorter Script -->
    <script>
        $(document).ready(function()  {
            $("#findingsTable").tablesorter(
                            {
                                cssAsc: 'down',
                                cssDesc: 'up',
                                cssNone: 'none',
                            }
                        );
            $('.tablesorter').trigger('update');
        });
    </script>

    <!-- Assign Finding with AJAX -->
    <script>
        $('.js-assign-finding').click(function () {
            var url = $(this).attr('assign-finding-url');
            var findingId = $(this).attr('assign-finding-id');
            var csrftoken = $(this).attr('assign-finding-csrftoken')
            // Prep AJAX request with CSRF token
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader('X-CSRFToken', csrftoken);
                    }
                }
            });
            // Send AJAX POST request
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: {
                    'finding': findingId
                },
                success: function (data) {
                    if (data['result'] == 'success') {
                        // Something
                    }
                    if (data['message']) {
                        displayToastTop({type:data['result'], string:data['message'], title:'Finding Assigned'});
                    }
                }
            });
        });
    </script>
{% endblock %}
