{% extends "base_generic.html" %}

{% load bleach_tags %}

{% block pagetitle %}{{ finding.title }} Details{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'reporting:findings' %}">Findings</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ finding.title }}</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}

    <div class="dropdown">
        <div class="dropdown-menu-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="hamburger(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="finding-dropdown-btn">
            <a class="dropdown-item icon edit-icon" href="{% url 'reporting:finding_update' finding.id %}">Edit</a>
            <a class="dropdown-item icon add-icon js-assign-finding" assign-finding-id="{{ finding.id }}" href="javascript:void(0);" assign-finding-csrftoken="{{ csrf_token }}" assign-finding-url="{% url 'reporting:ajax_assign_finding' finding.id %}">Add to Report</a>
            <a class="dropdown-item icon back-arrow-icon" href="{% url 'reporting:findings' %}">Return to Findings</a>
            <a class="dropdown-item icon trash-icon" href="{% url 'reporting:finding_delete' finding.id %}">Delete</a>
        </div>
    </div>

    <div class="container">
        <h2>{{ finding.title }}</h2>
    </div>

    <!-- Finding Severity Badge -->
    <div>
        <span class="px-3 py-2 badge badge-dark severity-badge
            {% if finding.severity.severity == "Critical" %}
                critical-background
            {% elif finding.severity.severity == "High" %}
                high-background
            {% elif finding.severity.severity == "Medium" %}
                medium-background
            {% elif finding.severity.severity == "Low" %}
                low-background
            {% endif %}
            icon
            {% if finding.finding_type.finding_type == "Cloud" %}
                cloud-icon
            {% elif finding.finding_type.finding_type == "Host" %}
                host-icon
            {% elif finding.finding_type.finding_type == "Mobile" %}
                mobile-icon
            {% elif finding.finding_type.finding_type == "Network" %}
                network-icon
            {% elif finding.finding_type.finding_type == "Physical" %}
                physical-icon
            {% elif finding.finding_type.finding_type == "Web" %}
                code-icon
            {% elif finding.finding_type.finding_type == "Wireless" %}
                wireless-icon
            {% else %}
                bug-icon
            {% endif %}
        ">
            {{ finding.severity.severity }}
        </span>
    </div>

    <div id="accordion" class="myaccordion">
        <!-- Description -->
        <div class="card">
            <div class="card-header" id="description" data-toggle="collapse" data-target="#collapseDescription" aria-expanded="true">
                <a class="accordion-toggle btn btn-link icon writing-icon" data-toggle="collapse" data-target="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">
                    Description
                </a>
            </div>
            <div id="collapseDescription" class="finding-collapse collapse show" aria-labelledby="description">
                <div class="finding-card card-body">
                    {% if finding.description %}
                        {{ finding.description|bleach }}
                    {% else %}
                        <p>Description write-up is needed.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Impact -->
        <div class="card">
            <div class="card-header" id="impact" data-toggle="collapse" data-target="#collapseImpact" aria-expanded="true">
                <a class="accordion-toggle btn btn-link icon impact-icon" data-toggle="collapse" data-target="#collapseImpact" aria-expanded="false" aria-controls="collapseImpact">
                    Impact
                </a>
            </div>
            <div id="collapseImpact" class="finding-collapse collapse show" aria-labelledby="impact">
                <div class="finding-card card-body">
                    {% if finding.impact %}
                        {{ finding.impact|bleach }}
                    {% else %}
                        <p>Impact write-up is needed.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Recommendations -->
        <div class="card">
            <div class="card-header" id="recommendations" data-toggle="collapse" data-target="#collapseRecommendations" aria-expanded="true">
                <a class="accordion-toggle btn btn-link icon help-icon" data-toggle="collapse" data-target="#collapseRecommendations" aria-expanded="false" aria-controls="collapseRecommendations">
                    Recommendations
                </a>
            </div>
            <div id="collapseRecommendations" class="finding-collapse collapse show" aria-labelledby="recommendations">
                <div class="finding-card card-body">
                    {% if finding.mitigation %}
                        {{ finding.mitigation|bleach }}
                    {% else %}
                        <p>Recommendations are needed.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Detections -->
        <div class="card">
            <div class="card-header" id="hostdetection" data-toggle="collapse" data-target="#collapseHDetect" aria-expanded="true">
                <a class="accordion-toggle btn btn-link icon shield-icon" data-toggle="collapse" data-target="#collapseHDetect" aria-expanded="false" aria-controls="collapseHDetect">
                    Detection Recommendations
                </a>
            </div>
            <div id="collapseHDetect" class="finding-collapse collapse show" aria-labelledby="hostdetection">
                <div class="finding-card card-body">
                    {% if finding.host_detection_techniques %}
                        <h4 class="text-center">Host Detection</h4>
                        <hr>

                        {{ finding.host_detection_techniques|bleach }}
                    {% endif %}

                    {% if finding.network_detection_techniques %}
                    <h4 class="text-center">Network Detection</h4>
                        <hr>

                        {{ finding.network_detection_techniques|bleach }}
                    {% endif %}

                    {% if not finding.network_detection_techniques and not finding.host_detection_techniques %}
                        <p>No host or network detections have been written for this finding.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Replication Steps -->
        <div class="card">
            <div class="card-header" id="replication" data-toggle="collapse" data-target="#collapseReplication" aria-expanded="true">
                <a class="accordion-toggle btn btn-link icon ol-list-icon" data-toggle="collapse" data-target="#collapseReplication" aria-expanded="false" aria-controls="collapseReplication">
                    Replication Steps
                </a>
            </div>
            <div id="collapseReplication" class="finding-collapse collapse show" aria-labelledby="replication">
                <div class="finding-card card-body">
                    {% if finding.replication_steps %}
                        {{ finding.replication_steps|bleach }}
                    {% else %}
                        <p>Replication steps are needed.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- References -->
        <div class="card">
            <div class="card-header" id="reference" data-toggle="collapse" data-target="#collapseReference" aria-expanded="true">
                <a class="accordion-toggle btn btn-link icon link-icon" data-toggle="collapse" data-target="#collapseReference" aria-expanded="false" aria-controls="collapseReference">
                    References
                </a>
            </div>
            <div id="collapseReference" class="finding-collapse collapse show" aria-labelledby="reference">
                <div class="finding-card card-body">
                    {% if finding.references %}
                        {{ finding.references|bleach }}
                    {% else %}
                        <p>References are needed.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Optional Finding Guidance -->
        {% if finding.finding_guidance %}
            <div class="card">
                <div class="card-header" id="guidance" data-toggle="collapse" data-target="#collapseGuidance" aria-expanded="true">
                    <a class="accordion-toggle btn btn-link icon guidance-icon" data-toggle="collapse" data-target="#collapseGuidance" aria-expanded="false" aria-controls="collapseGuidance">
                        Finding Guidance
                    </a>
                </div>
                <div id="collapseGuidance" class="finding-collapse collapse show" aria-labelledby="guidance">
                    <div class="finding-card card-body">
                        {{ finding.finding_guidance|bleach }}
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- Notes -->
        <div class="card">
            <div class="card-header" id="notes" data-toggle="collapse" data-target="#collapseNotes" aria-expanded="true">
                <a class="accordion-toggle btn btn-link icon comment-icon" data-toggle="collapse" data-target="#collapseNotes" aria-expanded="false" aria-controls="collapseNotes">
                    Notes
                </a>
            </div>
            <div id="collapseNotes" class="finding-collapse collapse show" aria-labelledby="notes">
                <div class="finding-card card-body">
                    <p class="text-center">
                        <a class="icon add-icon" href="{% url 'reporting:finding_note_add' finding.id %}">Add a Note</a>
                    </p>
                    {% if finding.findingnote_set.all %}
                        {% for note in finding.findingnote_set.all reversed %}
                            <div id="note-container-{{ note.id }}">
                                <p class="text-center">{{ note.timestamp }}</p>
                                <div class="container note-container {% if forloop.counter|divisibleby:2 %}darker{% endif %}">
                                    <img class="avatar_note right" src="{{ note.operator.userprofile.avatar_url }}" alt="Avatar">
                                    {% if request.user == note.operator or request.user.is_staff %}
                                    <div class="dropdown dropleft right">
                                        <button id="note-dropdown-btn-{{ note.id }}" class="dropdown-menu-btn-table" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div id="note-dropdown-menu-{{ note.id }}" class="dropdown-content">
                                                <a class="dropdown-item icon edit-icon" href="{% url 'reporting:finding_note_edit' note.id %}">Edit</a>
                                                <a id="note-delete-button-{{ note.id }}" class="dropdown-item icon trash-icon js-confirm-delete" data-toggle="modal" data-target="#confirm-delete-modal" href="javascript:void(0);" delete-target-csrftoken="{{ csrf_token }}" delete-target-url="{% url 'reporting:ajax_delete_finding_note' note.id%}" delete-target-id="{{ note.id }}" delete-target-type="note">Delete</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {{ note.note|bleach }}
                                    <span class="time-right">{{ note.operator.username }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block morescripts %}
    {% comment %} Include the reusable delete confirmation modal and related scripts {% endcomment %}
    {% include "confirm_delete_modal.html" %}

    <!-- Assign Finding with AJAX -->
    <script>
        $('.js-assign-finding').click(function () {
            var url = $(this).attr('assign-finding-url');
            var findingId = $(this).attr('assign-finding-id');
            var csrftoken = $(this).attr('assign-finding-csrftoken')
            // Prep AJAX request with CSRF token
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader('X-CSRFToken', csrftoken);
                    }
                }
            });
            // Send AJAX POST request
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: {
                    'finding': findingId
                },
                success: function (data) {
                    if (data['result'] == 'success') {
                        // Something
                    }
                    if (data['message']) {
                        displayToastTop({type:data['result'], string:data['message'], title:'Finding Assigned'});
                    }
                }
            });
        });
    </script>
{% endblock %}
