{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% load custom_tags %}

{% block pagetitle %}Finding Form{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'reporting:findings' %}">Findings</a></li>
            <li class="breadcrumb-item active" aria-current="page">Finding Form</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div id="accordion" class="finding-accordion">
        <!-- Keyword Cheatsheet -->
        <div class="card">
            <div class="card-header" id="keyword" data-toggle="collapse" data-target="#collapseKeyword">
                <a class="accordion-toggle btn btn-link icon code-icon" data-toggle="collapse" data-target="#collapseKeyword" aria-expanded="false" aria-controls="collapseKeyword">Reference & Instructions</a>
            </div>
            <div id="collapseKeyword" class="collapse" aria-labelledby="description" data-parent="#accordion">
                <div class="card-body">
                  <p>Utilize the WYSIWIG HTML formatting to apply bold, italic, code, inline code, and other text styles.
                    These styles will carry over to the Word and PowerPoint reports. <br>
                    You may also leverage Jinja2 statements and expressions like you do inside your report templates.</p>
                  <p>See the documentation for more details.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Instructions Section -->
    <p>Fill-out this form as completely as possible with the necessary information and references for this finding:</p>

    <!-- Form Error Section -->
    {% if form.errors %}
        <script>
            {% for field in form %}
                {% for error in field.errors %}
                    displayToastTop({type:'error', string:'{{ error }}', context:'form'});
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                displayToastTop({type:'error', string:'{{ error }}', context:'form'});
            {% endfor %}
        </script>
    {% endif %}

    <!-- Form Section -->
    {% crispy form form.helper %}
{% endblock %}

{%  block morescripts %}
    <script>
      {%  comment %} Prepare CVSS calculator {% endcomment %}
      $(document).ready(function () {
        prepareCVSSCalc()
      });
    </script>
{% endblock %}

