{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Finding Form{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" style="padding-left: 20px;">
        <ul class="breadcrumb" style="margin: 0;">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'reporting:findings' %}">Findings</a></li>
            <li class="breadcrumb-item active" aria-current="page">Finding Form</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div id="accordion" class="myaccordion">
        <!-- Keyword Cheatsheet -->
        <div class="card">
            <div class="card-header" id="keyword" data-toggle="collapse" data-target="#collapseKeyword">
                <a class="accordion-toggle btn btn-link" data-toggle="collapse" data-target="#collapseKeyword" aria-expanded="false" aria-controls="collapseKeyword">
                    <i class="fas fa-code"></i> Keyword Reference
                </a>
            </div>
            <div id="collapseKeyword" class="collapse" aria-labelledby="description" data-parent="#accordion">
                <div class="card-body">
                    <p>Ghostwriter supports several template keywords you may utilize to format text and insert various pieces of information:</p>
                    {% verbatim %}
                        <table style="width: 50%; margin-left: 25%;">
                            <tr>
                                <th class="smallCell">Keyword</th>
                                <th>Usage</th>
                            </tr>
                            <tr>
                                <td>{{.client}}</td>
                                <td style="text-align: left">This keyword will be replaced with the client's short name. The full name will be used if a short name has not been set for the client.</td>
                            </tr>
                            <tr>
                                <td>{{.caption}}</td>
                                <td style="text-align: left">Start a line of text with this keyword to make it a caption. This is intended to follow a code block.</td>
                            </tr>                        
                        {% endverbatim %}
                    </table>
                    <p>
                        For additional formatting, utilize the WYSIWIG HTML formatting to apply bold, italic, code, and inline code text styles.<br />
                        These styles will carry over to the Word report output as bold, italic, "CodeBlock," and "Code (Inline)" styles respectively.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Instructions Section -->
    <p>Fill-out this form as completely as possible with the necessary information and references for this finding:</p>

    <!-- Form Error Sections -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Form Section -->
    <form class="newitem" action="" method="post">
        {% csrf_token %}

        <!-- General Section -->
        <strong><i class="fas fa-search"></i> Finding Categorization</strong>
        <hr>

        {{ form.title|as_crispy_field }}

        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.finding_type|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.severity|as_crispy_field }}
            </div>
        </div>

        <!-- Spacer -->
        <p style="margin: 40px;"></p>

        <!-- Description Section -->
        <strong><i class="fas fa-pencil-alt"></i> Descriptions</strong>
        <hr>

        {{ form.description.label }}
        {{ form.description }}<br />

        {{ form.impact.label }}
        {{ form.impact }}<br />

        <!-- Spacer -->
        <p style="margin: 40px;"></p>

        <!-- Defender Section -->
        <strong><i class="fas fa-shield-alt"></i> Defender Information</strong>
        <hr>

        {{ form.mitigation.label }}
        {{ form.mitigation }}<br />

        {{ form.replication_steps.label }}
        {{ form.replication_steps }}<br />

        {{ form.host_detection_techniques.label }}
        {{ form.host_detection_techniques }}<br />

        {{ form.network_detection_techniques.label }}
        {{ form.network_detection_techniques }}<br />

        <!-- Spacer -->
        <p style="margin: 40px;"></p>

        <!-- Reference Section -->
        <strong><i class="fas fa-link"></i> Reference Materials</strong>
        <hr>

        {{ form.references.label }}
        {{ form.references }}<br />

        {{ form.finding_guidance.label }}
        {{ form.finding_guidance }}<br />

        <input type="submit" class="btn btn-primary" value="Submit">
        <button onclick="window.history.back();" class="btn btn-secondary" type="button">Cancel</button>
    </form>
{% endblock %}
