{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% load bleach_tags %}

{% block pagetitle %}Finding Entry{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'rolodex:client_detail' reportfindinglink.report.project.client.id %}">{{ reportfindinglink.report.project.client.name }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'rolodex:project_detail' reportfindinglink.report.project.id %}">{{ reportfindinglink.report.project }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'reporting:report_detail' reportfindinglink.report.id %}">{{ reportfindinglink.report }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Update Finding</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div id="accordion" class="myaccordion">
        <!-- Keyword Cheatsheet -->
        <div class="card">
            <div class="card-header" id="keyword" data-toggle="collapse" data-target="#collapseKeyword">
                <a class="accordion-toggle btn btn-link icon code-icon" data-toggle="collapse" data-target="#collapseKeyword" aria-expanded="false" aria-controls="collapseKeyword">Keyword Reference & Instructions</a>
            </div>
            <div id="collapseKeyword" class="collapse" aria-labelledby="keyword" data-parent="#accordion">
                <div class="card-body">
                    <p>Ghostwriter supports several template keywords you may utilize to format text and insert various pieces of information. Begin typing <strong>@</strong> to open the autocomplete dialog for keywords.</p>
                        <table class="table table-striped">
                            <tr>
                                <th class="smallCell">Keyword</th>
                                <th>Usage</th>
                            </tr>
                            <tr>
                                {% verbatim %}<td class="text-left align-middle">{{.client}}</td>{% endverbatim %}
                                <td class="text-left align-middle">
                                    {% if reportfindinglink.report.project.client.short_name %}
                                        This keyword will be replaced with the client's short name, "{{ reportfindinglink.report.project.client.short_name }}."
                                    {% else %}
                                        No short name is set for this client, so this keyword will be replaced by the full name, "{{ reportfindinglink.report.project.client.name }}."
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                {% verbatim %}<td class="text-left align-middle">{{.project_type}}</td>{% endverbatim %}
                                <td class="text-left align-middle">This keyword will be replaced with the project type in lowercase, {{ reportfindinglink.report.project.project_type|lower }}.</td>
                            </tr>
                            <tr>
                                {% verbatim %}<td class="text-left align-middle">{{.project_start}}</td>{% endverbatim %}
                                <td class="text-left align-middle">This keyword will be replaced with the project's start date in M D, YYYY format: {{ reportfindinglink.report.project.start_date|date:"DATE_FORMAT" }}</td>
                            </tr>
                            <tr>
                                {% verbatim %}<td class="text-left align-middle">{{.project_start_uk}}</td>{% endverbatim %}
                                <td class="text-left align-middle">This keyword will be replaced with the project's start date in D M YYYY format: {{ reportfindinglink.report.project.start_date|date:"DATE_FORMAT" }}</td>
                            </tr>
                            <tr>
                                {% verbatim %}<td class="text-left align-middle">{{.project_end}}</td>{% endverbatim %}
                                <td class="text-left align-middle">This keyword will be replaced with the project's end date in M D, YYYY format: {{ reportfindinglink.report.project.end_date|date:"DATE_FORMAT" }}</td>
                            </tr>
                            <tr>
                                {% verbatim %}<td class="text-left align-middle">{{.project_end_uk}}</td>{% endverbatim %}
                                <td class="text-left align-middle">This keyword will be replaced with the project's end date in D M YYYY format: {{ reportfindinglink.report.project.end_date|date:"DATE_FORMAT" }}</td>
                            </tr>
                        {% verbatim %}
                            <tr>
                                <td class="text-left align-middle">{{.caption}}</td>
                                <td class="text-left align-middle">Start a line of text with this keyword to make it a caption. This is intended to follow a code block.</td>
                            </tr>
                        {% endverbatim %}
                        {% if reportfindinglink.evidence_set.all  %}
                            {% for finding in reportfindinglink.evidence_set.all %}
                                <tr>
                                    <td class="text-left align-middle">
                                        {% templatetag openvariable %}.{{ finding.friendly_name }}{% templatetag closevariable %}
                                    </td>
                                    <td class="text-left align-middle">On a new line, reference this evidence file, <em>{{ finding.document.name }}</em>, to insert it into the finding.</td>
                                </tr>
                                <tr>
                                    <td class="text-left align-middle">
                                        {% templatetag openvariable %}.ref {{ finding.friendly_name }}{% templatetag closevariable %}
                                    </td>
                                    <td class="text-left align-middle">Add a cross-reference to the caption of thr above evidence file.</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                    <p>Insert evidence by using the above keywords. For additional formatting, utilize the WYSIWIG HTML formatting to apply bold, italic, code, inline code, and other text styles.</p>
                    <p>These styles will carry over to the Word and PowerPoint reports. See the documentaiton for more details.</p>
                </div>
            </div>
        </div>

        <!-- Finding Guidance Section -->
        <div class="card">
            <div class="card-header" id="guidance" data-toggle="collapse" data-target="#collapseGuidance">
                <a class="accordion-toggle btn btn-link icon guidance-icon" data-toggle="collapse" data-target="#collapseGuidance" aria-expanded="false" aria-controls="collapseGuidance">Finding Guidance</a>
            </div>
            <div id="collapseGuidance" class="collapse" aria-labelledby="guidance" data-parent="#accordion">
                <div class="card-body">
                    {% if reportfindinglink.finding_guidance %}
                        <p>{{ reportfindinglink.finding_guidance }}</p>
                    {% else %}
                        <p>No guidance was provided for this finding in the library.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Additional Information Section -->
        <div class="card">
            <div class="card-header" id="notes" data-toggle="collapse" data-target="#collapseNotes">
                <a class="accordion-toggle btn btn-link icon comment-icon" data-toggle="collapse" data-target="#collapseNotes" aria-expanded="false" aria-controls="collapseNotes">Notes</a>
            </div>
            <div id="collapseNotes" class="collapse" aria-labelledby="notes" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        <a class="icon add-icon" href="{% url 'reporting:local_finding_note_add' reportfindinglink.id %}">Add a Note</a>
                    </p>
                    {% if reportfindinglink.localfindingnote_set.all %}
                        {% for note in reportfindinglink.localfindingnote_set.all reversed %}
                            <div id="note-container-{{ note.id }}">
                                <p class="text-center">{{ note.timestamp }}</p>
                                <div class="container note-container {% if forloop.counter|divisibleby:2 %}darker{% endif %}">
                                    <img class="avatar_note right" src="{{ note.operator.userprofile.avatar_url }}" alt="Avatar">
                                    {% if request.user == note.operator or request.user.is_staff %}
                                        <div class="dropdown dropleft right">
                                            <button id="note-dropdown-btn-{{ note.id }}" class="dropdown-menu-btn-table" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <div id="note-dropdown-menu-{{ note.id }}" class="dropdown-content">
                                                <a class="icon edit-icon" href="{% url 'reporting:local_finding_note_edit' note.id %}">Edit</a>
                                                <a id="note-delete-button-{{ note.id }}" class="js-confirm-delete icon trash-icon" data-toggle="modal" data-target="#confirm-delete-modal" href="javascript:void(0);" delete-target-csrftoken="{{ csrf_token }}" delete-target-url="{% url 'reporting:ajax_delete_local_finding_note' note.id%}" delete-target-id="{{ note.id }}" delete-target-type="note">Delete</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {{ note.note|bleach }}
                                    <span class="time-right">{{ note.operator.username }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Instructions Section -->
    <p>Use this form to edit "{{ reportfindinglink.title }}" just for this report.</p>
    <p>When the finding is complete and ready for review, make sure you check the box down below.</p>

    <!-- Form Error Section -->
    {% if form.errors %}
        <script>
            {% for field in form %}
                {% for error in field.errors %}
                    displayToastTop({type:'error', string:'{{ error }}', context:'form'});
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                displayToastTop({type:'error', string:'{{ error }}', context:'form'});
            {% endfor %}
        </script>
    {% endif %}

    <!-- Form Section -->
    {% crispy form form.helper %}
{% endblock %}

{% block tabs %}
    {{ block.super }}
{% endblock %}

{% block tabforms %}
    {{ block.super }}
{% endblock %}

{% block morescripts %}
    <!-- Script for the WYSIWYG editor's AutoComplete -->
    <script>
        var evidenceFiles = [
            { text: '\{\{.client\}\}', value: '\{\{.client\}\}' },
            { text: '\{\{.caption\}\}', value: '\{\{.caption\}\}' },
            { text: '\{\{.project_start\}\}', value: '\{\{.project_start\}\}' },
            { text: '\{\{.project_end\}\}', value: '\{\{.project_end\}\}' },
            { text: '\{\{.project_start_uk\}\}', value: '\{\{.project_start_uk\}\}' },
            { text: '\{\{.project_end_uk\}\}', value: '\{\{.project_end_uk\}\}' },
            { text: '\{\{.project_type\}\}', value: '\{\{.project_type\}\}' },
            {% if reportfindinglink.evidence_set.all  %}
                {% for finding in reportfindinglink.evidence_set.all %}
            { text: '\{\{.{{ finding.friendly_name|escapejs }}\}\}', value: '\{\{.{{ finding.friendly_name|escapejs }}\}\}' },
                {% endfor %}
            {% endif %}
        ];
    </script>

    <!-- Set the Evidence Upload Modal's URL-->
    <script>
        // Get the URL from the form attribute
        var modal_url = $('#report-finding-form').attr('evidence-upload-modal-url');
        // Assign it to a window variable where the TinyMCE URLDialog can access it
        window.upload_url = modal_url;
    </script>

    {% comment %} Include the reusable delete confirmation modal and related scripts {% endcomment %}
    {% include "confirm_delete_modal.html" %}
{% endblock %}
