{% extends "base_generic.html" %}

{% block pagetitle %}Remove Finding{% endblock %}

{% block content %}
    <p>Are you sure you want to remove this finding and delete all of the local edits and attached evidence?</p>

    <p>{{ reportfindinglink }}</p>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="I am Sure">
        <button onclick="window.history.back();" class="btn btn-secondary" type="button">Cancel</button>
    </form>
{% endblock %}
