{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Finding Entry{% endblock %}

{% block tinymcejs %}
    <script>
        tinymce.init({
            selector:'textarea',
            height: '300',
            width: '100%',
            plugins: 'lists image hr autosave advlist code wordcount codesample searchreplace paste',
            toolbar: 'bold italic bullist numlist codesample codeBlock codeInline evidenceUpload removeformat searchreplace',
            menubar: 'file edit tools',
            paste_data_images: false,
            paste_as_text: true,
            browser_spellcheck: true,
            setup: function (editor) {
                editor.ui.registry.addButton('codeInline', {
                    icon: 'sourcecode',
                    text: 'Inline Code',
                    tooltip: 'Format selected text as inline code',
                    onAction: function (_) {
                        tinymce.activeEditor.formatter.toggle('code')
                    },
                });

                // https://www.martyfriedel.com/blog/tinymce-5-url-dialog-component-and-window-messaging
                editor.ui.registry.addButton('evidenceUpload', {
                    icon: 'upload',
                    text: 'Upload Evidence',
                    tooltip: 'Attach an evidence file to this finding to reference in the editor',
                    onAction: function () {
                        _dialog = editor.windowManager.openUrl({
                            title: 'Upload Evidence',
                            url: '{% url "reporting:upload_evidence_modal" reportfindinglink.id %}',
                            height: 1100,
                            width: 1000,
                            buttons: [
                                {
                                    type: 'custom',
                                    name: 'action',
                                    text: 'Upload & Insert Evidence',
                                    primary: true,
                                },
                                {
                                    type: 'cancel',
                                    name: 'cancel',
                                    text: 'Close'
                                }
                            ],
                            onAction: function (instance, trigger) {
                                instance.sendMessage({
                                    mceAction: 'evidence_upload'
                                });
                            }
                        });
                    },
                });

                editor.addCommand('upload_and_insert', function(ui, value) {
                    if (value.friendly_name == '' || value.evidence_file == '' || value.caption == '')
                    {
                        // editor.windowManager.alert('The form is incomplete. You need a file, friendly name, and a caption.');
                    }
                    else
                    {
                        if (value.used_friendly_names.includes(value.friendly_name)) {
                            // Do nothing – this is client-side validation that the same friendly name
                            // is not being used for two uploads
                            // This is NOT the primary validation, so client-side isn't a concern
                            // This just prevents the JS code from proceeding in the event the form
                            // submission is kicked back for name reuse
                        } else {
                            var evidence_placeholder = `\{\{.${value.friendly_name}\}\}`;
                            editor.insertContent(`\n<p>\{\{.${value.friendly_name}\}\}</p>`);
                            // A brief block to prevent users from jamming the close button immediately
                            _dialog.block('Uploading...');
                            setTimeout(() => {
                                _dialog.unblock();
                            }, 1000);
                            // Push the new evidence into the AutoComplete dict
                            evidenceFiles.push({ text: evidence_placeholder, value: evidence_placeholder })
                        }
                    }
                });

                editor.ui.registry.addAutocompleter('evidence', {
                    ch: '@',
                    minChars: 1,
                    columns: 1,
                    fetch: function (pattern) {
                        var matchedChars = evidenceFiles.filter(function (quote) {
                            return quote.text.indexOf(pattern) !== -1;
                        });
                        return new tinymce.util.Promise(function (resolve) {
                            var results = matchedChars.map(function (quote) {
                                return {
                                    value: quote.value,
                                    text: quote.text
                                }
                            });
                            resolve(results);
                        });
                    },
                    onAction: function (autocompleteApi, rng, value) {
                        editor.selection.setRng(rng);
                        editor.insertContent(value);
                        autocompleteApi.hide();
                    }
                });
            },
            content_style: '.left { text-align: left; }' +
                'img.left { float: left; }' +
                'table.left { float: left; }' +
                '.right { text-align: right; }' +
                'img.right { float: right; }' +
                'table.right { float: right; }' +
                '.center { text-align: center; }' +
                'img.center { display: block; margin: 0 auto; }' +
                'table.center { display: block; margin: 0 auto; }' +
                '.full { text-align: justify; }' +
                'img.full { display: block; margin: 0 auto; }' +
                'table.full { display: block; margin: 0 auto; }' +
                '.bold { font-weight: bold; }' +
                '.italic { font-style: italic; }' +
                '.underline { text-decoration: underline; }' +
                '.example1 {}' +
                '.tablerow1 { background-color: #D3D3D3; }',
            formats: {
                alignleft: { selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes: 'left' },
                aligncenter: { selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes: 'center' },
                alignright: { selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes: 'right' },
                alignfull: { selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes: 'full' },
                bold: { inline: 'span', classes: 'bold' },
                italic: { inline: 'span', classes: 'italic' },
                underline: { inline: 'span', classes: 'underline', exact: true },
                strikethrough: { inline: 'del' }
            },
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" style="padding-left: 20px;">
        <ul class="breadcrumb" style="margin: 0;">
            <li class="breadcrumb-item"><a href="{% url 'rolodex:client_detail' reportfindinglink.report.project.client.id %}">{{ reportfindinglink.report.project.client.name }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'rolodex:project_detail' reportfindinglink.report.project.id %}">{{ reportfindinglink.report.project }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'reporting:report_detail' reportfindinglink.report.id %}">{{ reportfindinglink.report }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Local Edit</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div id="accordion" class="myaccordion">
        <!-- Keyword Cheatsheet -->
        <div class="card">
            <div class="card-header" id="keyword" data-toggle="collapse" data-target="#collapseKeyword">
                <a class="accordion-toggle btn btn-link" data-toggle="collapse" data-target="#collapseKeyword" aria-expanded="false" aria-controls="collapseKeyword">
                    <i class="fas fa-code"></i> Keyword Reference & Instuctions
                </a>
            </div>
            <div id="collapseKeyword" class="collapse" aria-labelledby="keyword" data-parent="#accordion">
                <div class="card-body">
                    <p>Ghostwriter supports several template keywords you may utilize to format text and insert various pieces of information. Begin typing <strong>@</strong> to open the autocomplete dialog for keywords.</p>
                        <table style="width: 70%; margin-left: 15%;">
                            <tr>
                                <th class="smallCell" style="width: 33%">Keyword</th>
                                <th>Usage</th>
                            </tr>
                            <tr>
                                {% verbatim %}<td>{{.client}}</td>{% endverbatim %}
                                <td style="text-align: left">
                                    {% if reportfindinglink.report.project.client.short_name %}
                                        This keyword will be replaced with the client's short name, "{{ reportfindinglink.report.project.client.short_name }}."
                                    {% else %}
                                        No short name is set for this client, so this keyword will be replaced by the full name, "{{ reportfindinglink.report.project.client.name }}."
                                    {% endif %}
                                </td>
                            </tr>
                        {% verbatim %}
                            <tr>
                                <td>{{.caption}}</td>
                                <td style="text-align: left">Start a line of text with this keyword to make it a caption. This is intended to follow a code block.</td>
                            </tr>                       
                        {% endverbatim %}
                        {% if reportfindinglink.evidence_set.all  %}
                            {% for finding in reportfindinglink.evidence_set.all %}
                                <tr>
                                    <td>
                                        {% templatetag openvariable %}.{{ finding.friendly_name }}{% templatetag closevariable %}
                                    </td>
                                    <td style="text-align: left">On a new line, reference this evidence file, <em>{{ finding.document.name }}</em>, to insert it into the finding.</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                    <p>
                        Insert evidence by using the above keywords. Image evidence may be inserted and previewed inline by clicking the WYSIWIG editor's image button and entering the evidence image's Ghostwriter URL (e.g., <em>https://ghosttwriter.local/media/evidence/2/ghostwriter.png</em>).
                        Inserting an external image's URL will work but these images <strong><em><u>will not be</u></em></strong> carried over to the report outputs. 
                    </p>
                    <p>
                        For additional formatting, utilize the WYSIWIG HTML formatting to apply bold, italic, code, and inline code text styles.<br />
                        These styles will carry over to the Word report output as bold, italic, "CodeBlock," and "Code (Inline)" styles respectively.
                    </p>
                </div>
            </div>
        </div>

        <!-- Finding Guidance Section -->
        <div class="card">
            <div class="card-header" id="guidance" data-toggle="collapse" data-target="#collapseGuidance">
                <a class="accordion-toggle btn btn-link" data-toggle="collapse" data-target="#collapseGuidance" aria-expanded="false" aria-controls="collapseGuidance">
                    <i class="fas fa-map-signs"></i> Finding Guidance
                </a>
            </div>
            <div id="collapseGuidance" class="collapse" aria-labelledby="guidance" data-parent="#accordion">
                <div class="card-body">
                    {% if reportfindinglink.finding_guidance %}
                        <p>{{ reportfindinglink.finding_guidance }}</p>
                    {% else %}
                        <p>No guidance was provided for this finding in the library.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Additional Information Section -->
        <div class="card">
            <div class="card-header" id="notes" data-toggle="collapse" data-target="#collapseNotes">
                <a class="accordion-toggle btn btn-link" data-toggle="collapse" data-target="#collapseNotes" aria-expanded="false" aria-controls="collapseNotes">
                    <i class="fas fa-comments"></i> Notes <span class="badge badge-pill badge-light">{{ reportfindinglink.localfindingnote_set.all.count }}</span>
                </a>
            </div>
            <div id="collapseNotes" class="collapse" aria-labelledby="notes" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        <a href="{% url 'reporting:local_finding_note_add' reportfindinglink.id %}"><i class="far fa-plus-square"></i> Add a Note</a>
                    </p>
                    {% if reportfindinglink.localfindingnote_set.all %}
                        {% for note in reportfindinglink.localfindingnote_set.all reversed %}
                            <p>{{ note.timestamp }}</p>
                            <div class="container {% if forloop.counter|divisibleby:2 %}darker{% endif %}" style="margin-bottom: 10px;">
                                <img class="avatar_note right" src="{{ note.operator.userprofile.avatar_url }}" alt="Avatar">
                                {% if request.user == note.operator or request.user.is_staff %}
                                    <div class="dropdown right">
                                        <button class="dropbtn far fa-caret-square-down"></button>
                                        <div id="myDropdown" class="dropdown-content">
                                            <a href="{% url 'reporting:local_finding_note_edit' note.id %}"><i class="far fa-edit"></i> Edit</a>
                                            <a href="{% url 'reporting:local_finding_note_delete' note.id %}"><i style="color: red;" class="far fa-trash-alt"></i> Delete</a>
                                        </div>
                                    </div>
                                {% endif %}
                                <p>{{ note.note|safe }}</p>
                                <span class="time-right">{{ note.operator.username }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No notes for this finding.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Instructions Section -->
    <p>
        Use this form to edit "{{ reportfindinglink.title }}" just for this report.<br>
        When the finding is complete and ready for review, make sure you check the box down below.
    </p>

    <!-- Form Error Sections -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Form Section -->
    <form class="newitem" action="" method="post">
        {% csrf_token %}

        <!-- Task Assignment Section -->
        <strong><i class="fas fa-user-ninja"></i> Assigned Operator</strong>
        <hr>

        <div class="form-row justify-content-center">
            <div class="form-group col-md-6 mb-0">
                {{ form.assigned_to|as_crispy_field }}
            </div>
        </div>

        <!-- Spacer -->
        <p style="margin: 40px;"></p>

        <!-- General Section -->
        <strong><i class="fas fa-tags"></i> Finding Categorization</strong>
        <hr>

        {{ form.title|as_crispy_field }}

        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.finding_type|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.severity|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.position|as_crispy_field }}
            </div>
        </div>

        <!-- Spacer -->
        <p style="margin: 40px;"></p>

        <!-- Affected Entities Section -->
        <strong><i class="fas fa-laptop"></i> Affected Entities</strong>
        <hr>

        {{ form.affected_entities|as_crispy_field }}

        <!-- Spacer -->
        <p style="margin: 40px;"></p>

        <!-- Description Section -->
        <strong><i class="fas fa-pencil-alt"></i> Descriptions</strong>
        <hr>

        {{ form.description|as_crispy_field }}
        {{ form.impact|as_crispy_field }}

        <!-- Spacer -->
        <p style="margin: 40px;"></p>

        <!-- Defender Section -->
        <strong><i class="fas fa-shield-alt"></i> Defender Information</strong>
        <hr>

        {{ form.mitigation|as_crispy_field }}
        {{ form.replication_steps|as_crispy_field }}
        {{ form.host_detection_techniques|as_crispy_field }}
        {{ form.network_detection_techniques|as_crispy_field }}

        <!-- Spacer -->
        <p style="margin: 40px;"></p>

        <!-- Reference Section -->
        <strong><i class="fas fa-link"></i> Reference Materials</strong>
        <hr>

        {{ form.references|as_crispy_field }}
        {{ form.complete|as_crispy_field }}

        <input type="submit" class="btn btn-primary" value="Save">
        <button onclick="window.history.back();" class="btn btn-secondary" type="button">Cancel</button>
    </form>
{% endblock %}

{% block morescripts %}
    <!-- Script for the WYSIWYG editors' AutoComplete -->
    <script>
        var evidenceFiles = [
            { text: '\{\{.client\}\}', value: '\{\{.client\}\}' },
            { text: '\{\{.caption\}\}', value: '\{\{.caption\}\}' },
            {% if reportfindinglink.evidence_set.all  %}
                {% for finding in reportfindinglink.evidence_set.all %}
                    { text: '\{\{.{{ finding.friendly_name }}\}\}', value: '\{\{.{{ finding.friendly_name }}\}\}' },
                {% endfor %}
            {% endif %}
        ];
    </script>
{% endblock %}
