{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}{{ report.title }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a data-toggle="tooltip" title="{{ report.project.client }}" href="{% url 'rolodex:client_detail' report.project.client.id %}">{{ report.project.client }}</a></li>
            <li class="breadcrumb-item"><a data-toggle="tooltip" title="{{ report.project }}" href="{% url 'rolodex:project_detail' report.project.id %}">{{ report.project.start_date }} {{ report.project.project_type }}</a></li>
            <li class="breadcrumb-item"><a data-toggle="tooltip" title="{{ report }}" href="{% url 'reporting:report_detail' report.id %}">{{ report }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ field_spec.display_name }}</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>{{ report.title }}</h2>
    </div>
    <hr/>

    {% if form.errors %}
        <script>
            {% for field in form %}
                {% for error in field.errors %}
                    displayToastTop({type:'error', string:'{{ error|escapejs }}', context:'form'});
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                displayToastTop({type:'error', string:'{{ error|escapejs }}', context:'form'});
            {% endfor %}
        </script>
    {% endif %}

    {% crispy form form.helper %}
{% endblock %}

{% block morescripts %}
    <script>
        let evidenceFiles = [
            {text: '\{\{.client\}\}', value: '\{\{.client\}\}'},
            {text: '\{\{.caption\}\}', value: '\{\{.caption\}\}'},
            {text: '\{\{.project_start\}\}', value: '\{\{.project_start\}\}'},
            {text: '\{\{.project_end\}\}', value: '\{\{.project_end\}\}'},
            {text: '\{\{.project_type\}\}', value: '\{\{.project_type\}\}'},
            {% for evidence in report.evidence_set.all %}
                {
                  text: '\{\{.{{ evidence.friendly_name|escapejs }}\}\}',
                  value: '\{\{.{{ evidence.friendly_name|escapejs }}\}\}'
                },
                {
                  text: '\{\{.ref {{ evidence.friendly_name|escapejs }}\}\}',
                  value: '\{\{.ref {{ evidence.friendly_name|escapejs }}\}\}'
                },
            {% endfor %}
        ];
        window.upload_url = "{{ evidence_upload_url|escapejs }}";
    </script>
{% endblock %}
