{% extends "collab_editing/update.html" %}

{% load static bleach_tags %}

{% block pagetitle %}Report Finding Form{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'rolodex:client_detail' object.report.project.client.id %}">{{ object.report.project.client }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'rolodex:project_detail' object.report.project.id %}">{{ report.project.start_date }} {{ object.report.project.project_type }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'reporting:report_detail' object.report.id %}">{{ object.report }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Report Finding</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div id="accordion" class="finding-accordion">
        <div class="card">
            <div class="card-header" id="guidance" data-toggle="collapse" data-target="#collapseGuidance">
                <a class="accordion-toggle btn btn-link icon guidance-icon" data-toggle="collapse"
                    data-target="#collapseGuidance" aria-expanded="false" aria-controls="collapseGuidance">
                    Finding Guidance
                </a>
            </div>
            <div id="collapseGuidance" class="collapse" aria-labelledby="guidance" data-parent="#accordion">
                <div class="card-body">
                    {% if reportfindinglink.finding_guidance and reportfindinglink.finding_guidance != "<p></p>" %}
                        <div class="rich-text-field-preview">{{ reportfindinglink.finding_guidance|bleach }}</div>
                    {% else %}
                        <p>No guidance was provided for this finding in the library.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {{ block.super }}
{% endblock %}

{%  block morescripts %}
    {{ block.super }}
    <script type="text/plain" id="graphql-evidence-report-id">{{object.report.id}}</script>
    <script type="text/plain" id="graphql-evidence-finding-id">{{object.id}}</script>
    <script type="text/plain" id="graphql-evidence-upload-url">{% url 'reporting:upload_evidence' 'finding' object.id %}</script>
{% endblock %}
