{% extends "collab_editing/update.html" %}

{% load static %}

{% block pagetitle %}Report Form{% endblock %}


{% block content %}
  <header class="resource-form-page-heading mb-4">
    <span class="detail-eyebrow">Report Extra Field</span>
    <h1>Edit {{ target_field.display_name }}</h1>
    <p>Changes to this field on {{ report }} save automatically while collaboration is connected.</p>
  </header>
  <div class="resource-form-shell">
    {{ block.super }}
  </div>
{% endblock %}

{% block collab_form_attrs %}
  data-extra-field-name="{{ target_field.internal_name }}"
{% endblock %}

{%  block morescripts %}
    {{ block.super }}
    {{ report_oplogs|json_script:"report-oplog-options" }}
    <script type="text/plain" id="graphql-evidence-upload-url">{% url 'reporting:upload_evidence' object.id %}</script>
    <script type="text/plain" id="graphql-evidence-report-id">{{ object.id }}</script>
    <script type="text/plain" id="report-oplog-outline-url">{% url 'reporting:report_generate_oplog_outline' object.id %}</script>
{% endblock %}
