{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Report List{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" style="padding-left: 20px;">
        <ul class="breadcrumb" style="margin: 0;">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reports</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <!-- Filter Section -->
    <div class="m-auto">
        <form class="filterform" method="get">
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ filter.form.title|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ filter.form.complete|as_crispy_field }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
            <a href="{% url 'reporting:reports' %}" class="btn btn-secondary">Reset</a>
        </form>
    </div>

    {% if filter.qs|length == 0 %} 
        <p>There are no reports to see here.</p>
    {% else %}
        <!-- Instructions -->
        <p>Click <i class="far fa-edit"></i> to begin editing a report and enable adding findings to it.</p>

        <!-- Reports Table Section -->
        <table id="reportTable" class="tablesorter">
            <thead>
                <tr>
                    <th>Creation Date</th>
                    <th>Title</th>
                    <th>Last Update</th>
                    <th>Status</th>
                    <th>Owner</th>
                    <th class="sorter-false" style="text-align: center">
                        Start Editing
                        <div class="dropdown">
                            <button class="dropbtn dropbtn-info far fa-question-circle"></button>
                            <div class="dropdown-content dropdown-content-info">
                                <p>Click the below buttons to make the associated report your active report. Your active report is displayed at the top of your browser window and is the report that will receive a finding when you add one to the report.</p>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            {% for report in filter.qs %}
                <tr>
                    <td nowrap>{{ report.creation }}</td>
                    <td class="clickable"><a href="{{ report.get_absolute_url }}">{{ report.title }}</a></td>
                    <td nowrap>{{ report.last_update }}</td>
                    {% if report.complete %}
                        {% if report.delivered %}
                            <td>Delivered</td>
                        {% else %}
                            <td>Complete, Awaiting Delivery</td>
                        {% endif %}
                    {% else %}
                        <td>In Progress</td>
                    {% endif %}
                    <td >{{ report.created_by }}</td>
                    <td><a href="{% url 'reporting:activate_report' report.id %}"><i style="font-size: 15px" class="far fa-edit"></i></button></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block morescripts %}
    <!-- jQuery Tablesorter Script -->
    <script>
        $(document).ready(function()  {
            $("#reportTable").tablesorter(
                            {
                                cssAsc: 'down',
                                cssDesc: 'up',
                                cssNone: 'none',
                            }
                        );
            $('.tablesorter').trigger('update');
        });
    </script>
{% endblock %}