{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Report Creation{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
        {% comment %} Create breadcrumbs based on the context of the request {% endcomment %}
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            {% comment %} Check if `project` is in context to determine if this is for a specific project {% endcomment %}
            {% if project %}
                <li class="breadcrumb-item"><a href="{% url 'rolodex:client_detail' project.client.id %}">{{ project.client.name }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'rolodex:project_detail' project.id %}">{{ project }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Project Report</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{% url 'reporting:reports' %}">Reports</a></li>
                <li class="breadcrumb-item active" aria-current="page">New Report Form</li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <!-- Instructions Section -->
    <p>Provide a meaningful name for this report, select the project to which it should be associated, and optionally select report templates to use:</p>

    <!-- Form Error Section -->
    {% if form.errors %}
        <script>
            {% for field in form %}
                {% for error in field.errors %}
                    displayToastTop({type:'error', string:'{{ error|escapejs }}', context:'form'});
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                displayToastTop({type:'error', string:'{{ error|escapejs }}', context:'form'});
            {% endfor %}
        </script>
    {% endif %}

    <!-- Form Section -->
    {% crispy form form.helper %}
{% endblock %}
