{% extends "account/base.html" %}

{% load allauth %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Confirm Access" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Confirm Access" %}
    {% endelement %}
    {% element p %}
        {% blocktranslate %}Please reauthenticate to safeguard your account.{% endblocktranslate %}
    {% endelement %}
    {% block reauthenticate_content %}{% endblock %}
    {% if reauthentication_alternatives %}
        {% element hr %}
        {% endelement %}
        {% element h2 %}
            {% translate "Alternative Methods" %}
        {% endelement %}
        <div class="d-grid gap-3">
            {% for alt in reauthentication_alternatives %}
            <a href="{{ alt.url }}" class="btn btn-outline-primary">
            {{ alt.description }}
            </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}