{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}Sign In{% endblock %}

{% block inner %}
  <h2>{% trans "Sign In" %}</h2>

  <!-- Form Section -->
  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
    <p>
      {% blocktrans with site.name as site_name %}
        Please sign in with one of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a> for a
        {{ site_name }} account and sign in below:
      {% endblocktrans %}
    </p>

    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% trans 'or' %}</div>
    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
    <p>
      {% blocktrans %}
        If you do not have an account yet, then please contact your administrator.
      {% endblocktrans %}
    </p>
  {% endif %}

  <form class="login" method="POST" action="{% url 'account_login' %}" novalidate>
    {% csrf_token %}
    {% crispy form form.helper %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-primary col-md-4" type="submit">{% trans "Sign In" %}</button>
  </form>

  <div class="forgot-password">
    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </div>
{% endblock %}
