{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block pagetitle %}Change Password{% endblock %}

{% block inner %}
    <h2>{% trans "Change Password" %}</h2>

    <!-- Form Error Sections -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Form Section -->
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% for field in form %}
            {{ field|as_crispy_field }}
        {% endfor %}
        <button class="btn btn-primary col-md-6" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
