{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign Up Unavailable" %}{% endblock %}

{% block inner %}
    <h2>{% trans "Sign Up Unavailable" %}</h2>

    <div class="alert alert-warning col-12 mt-1" role="alert">
      <p>{% trans "We are sorry, but registration is currently unavailable. Contact your administrator for an account." %}</p>
      <p>{% trans "Registration may be closed or your account's email domain may not be allowed." %}</p>
    </div>
{% endblock %}
