{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Client Form{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" style="padding-left: 20px;">
        <ul class="breadcrumb" style="margin: 0;">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'rolodex:client_detail' client.id %}">{{ client }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <p>
        Fill-out this form with basic information pertaining to the client.<br>
        Points of contact are created and associated with a client using the <i class="far fa-plus-square"></i> button on the client details page.
    </p>

    <!-- Form Error Sections -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Form Section -->
    <form class="newitem" action="" method="post">
        {% csrf_token %}

        <!-- Client Info Section -->
        <strong><i class="far fa-building"></i> Client Information</strong>
        <hr>

        {{ form.name|as_crispy_field }}
        {{ form.short_name|as_crispy_field }}

        <!-- Spacer -->
        <p style="margin: 40px;"></p>

        <!-- Additional Info Section -->
        <strong><i class="far fa-comment-alt"></i> Additional Info</strong>
        <hr>

        <!-- Hidden Inputs -->
        {{ form.codename }}

        {{ form.note|as_crispy_field }}

        <input type="submit" class="btn btn-primary" value="Submit">
        <button onclick="window.history.back();" class="btn btn-secondary" type="button">Cancel</button>
    </form>
{% endblock %}
