{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Point of Contact Form{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" style="padding-left: 20px;">
        <ul class="breadcrumb" style="margin: 0;">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'rolodex:client_detail' form.client.value %}">Client {{ form.client.value }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add POC</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <p>Fill-out this form with as much as information as possible about this contact at {{ client_name }}:</p>

    <!-- Form Error Sections -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Form Section -->
    <form class="newitem"  action="" method="post">
        {% csrf_token %}

        <!-- Client Info Section -->
        <strong><i class="far fa-id-card"></i> Contact Information</strong>
        <hr>

        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.job_title|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.email|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.phone|as_crispy_field }}
            </div>
        </div>

        <!-- Spacer -->
        <p style="margin: 40px;"></p>

        <!-- Additional Info Section -->
        <strong><i class="far fa-comment-alt"></i> Additional Info</strong>
        <hr>

        {{ form.note|as_crispy_field }}

        <!-- Hidden Inputs -->
        {{ form.client }}

        <input type="submit" class="btn btn-primary" value="Submit">
        <button onclick="window.history.back();" class="btn btn-secondary" type="button">Cancel</button>
    </form>
{% endblock %}
