{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Objective Form{% endblock %}

{% block content %}
    <p>
        Provide a concise objective for the {{ project_name }} project.
    </p>

    <!-- Form Error Sections -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Form Section -->
    <form class="newitem" action="" method="post" id="objectiveForm"
      data-project-url="{% url 'shepherd:ajax_load_project' %}" 
    >
        {% csrf_token %}

        <!-- Objective Section -->
        <strong><i class="fas fa-crosshairs"></i> Set Your Objective</strong>
        <hr>

        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.status|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.deadline|as_crispy_field }}
            </div>
        </div>

        {{ form.objective|as_crispy_field }}

        <!-- Spacer -->
        <p style="margin: 40px;"></p>

        <!-- Hidden Inputs -->
        {{ form.project }}

        <input type="submit" class="btn btn-primary" value="Submit">
        <button onclick="window.history.back();" class="btn btn-secondary" type="button">Cancel</button>
    </form>
{% endblock %}

{% block morescripts %}
    <!-- Script for Datepicker -->
    <script>
        $(function() {
            $("#id_deadline").datepicker();
        });
    </script>

    <!-- Script to set the default dates on page load -->
    <script>
        $(document).ready(function(){
            var url = $("#objectiveForm").attr("data-project-url");
            var project = $("#id_project").val();
            $.ajax({
                url: url,
                data: {
                    'project': project
                },
                success: function(data){
                    if(data.length > 0) {
                        project = data[0]['fields'];
                        $("#id_deadline")[0].value = project['end_date'];
                        $("#id_status")[0].value = "1";
                    }
                }
            });
        });
    </script>
{% endblock %}
