{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% load bleach_tags %}

{% block pagetitle %}Project List{% endblock %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Projects</li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
  <!-- Filter Section -->
  <div class="filter-form">
    {% crispy filter.form filter.helper %}
  </div>

  {% if filter.qs|length == 0 %}
    <div class="alert alert-warning offset-md-2 col-md-8 mt-3" role="alert">There are no projects to see here yet, or your search returned no results. Create a project above or adjust your filters.</div>
      client's page.</p>
  {% else %}
    <table id="projectTable" class="tablesorter table table-sm table-hover">
      <thead>
      <tr>
        <th class="align-middle">Client</th>
        <th class="align-middle">Project</th>
        <th class="align-middle">Project Type</th>
        <th class="sorter-date-range-dMMMyyyy align-middle">Execution Window</th>
        <th class="sorter-false align-middle">Team</th>
      </tr>
      </thead>
      {% for project in filter.qs %}
        <tr>
          <td class="align-middle"><a class="clickable"
                                      href="{{ project.client.get_absolute_url }}">{{ project.client.name }}
            ({{ project.client.short_name }})</a></td>
          <td class="align-middle"><a class="clickable" href="{{ project.get_absolute_url }}">{{ project.codename }}</a>
          </td>
          <td class="align-middle">{{ project.project_type }}</td>
          <td class="align-middle">{{ project.start_date|date:"d M Y" }} – {{ project.end_date|date:"d M Y" }}</td>
          <td class="align-middle">
            {% if project.projectassignment_set.all %}
              {% for operator in project.projectassignment_set.all %}
                {% if operator.operator.name %}
                  {{ operator.operator.name }}
                {% else %}
                  Missing Full Name ({{ operator.operator.username }})
                {% endif %}
                {% if not forloop.last %}
                  <br/>
                {% endif %}
              {% endfor %}
            {% else %}
              No Assignments
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}

{% block morescripts %}
  <!-- jQuery Tablesorter Script -->
  <script>
    $(document).ready(function () {
      $("#projectTable").tablesorter(
        {
          cssAsc: 'down',
          cssDesc: 'up',
          cssNone: 'none',
        }
      );
      $('.tablesorter').trigger('update');
    });
  </script>
{% endblock %}
