{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% load bleach_tags %}

{% block pagetitle %}Project List{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" style="padding-left: 20px;">
        <ul class="breadcrumb" style="margin: 0;">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Projects</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <!-- Filter Section -->
    <div class="filter-form">
        {% crispy filter.form filter.helper %}
    </div>

    <p>
        <a href="{% url 'rolodex:project_create_no_client' %}"><i class="far fa-plus-square"></i> Create a Project</a>
    </p>

    {% if filter.qs|length == 0 %}
        <p>There are no projects to display.</p>
    {% else %}
        <table id="projectTable" class="tablesorter">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Codename</th>
                    <th>Project Type</th>
                    <th class="sorter-date-range-dMMMyyyy">Execution Window</th>
                    <th class="sorter-false">Description</th>
                </tr>
            </thead>
            {% for project in filter.qs %}
                <tr>
                    <td class="clickable"><a href="{{ project.client.get_absolute_url }}">{{ project.client }}</a></td>
                    <td class="clickable"><a href="{{ project.get_absolute_url }}">{{ project.codename }}</a></td>
                    <td>{{ project.project_type }}</td>
                    <td nowrap>{{ project.start_date|date:"d M Y" }} - {{ project.end_date|date:"d M Y" }}</td>
                    <td>{{ project.note|bleach }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block morescripts %}
    <!-- jQuery Tablesorter Script -->
    <script>
        $(document).ready(function()  {
            $("#projectTable").tablesorter(
                            {
                                cssAsc: 'down',
                                cssDesc: 'up',
                                cssNone: 'none',
                            }
                        );
            $('.tablesorter').trigger('update');
        });
    </script>
{% endblock %}
