@use "@szhsin/react-menu/dist/core.css";

@use "./tagify.scss" with (
    $tag-pad: 0 0.5em
);

.tagify {
    text-align: left;
}

.collab-editor {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    border: 1px solid #aaa;

    text-align: left;

    .control-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;

        background-color: #eee;
        border-bottom: 1px solid #aaa;

        font-size: 0.9rem;
    }

    .button-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .separator {
        border-left: 1px solid #aaa;
    }

    button {
        appearance: none;
        background: none;
        border: none;
        font-size: 0.9rem;

        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        margin: 0.1rem;
        border-radius: 0.3rem;

        cursor: pointer;

        &.is-active {
            background-color: #ccc;
        }

        &:hover,
        &:active {
            background-color: #aaa;
        }
    }

    .szh-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .szh-menu__item {
        font-size: 0.9rem;

        padding: 0.3rem 0.5rem;
        margin: 0.1rem;
        border-radius: 0.3rem;

        &.is-active {
            background-color: #ccc;
        }
    }
}

.tiptap {
    min-height: 100px;
    padding-bottom: 1em;

    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }

    p,
    blockquote {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    p {
        word-break: break-all;
    }

    blockquote {
        margin-left: 2em;
        margin-right: 2em;
        padding: 0.5em;
    }

    ul,
    ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }

    table {
        border-collapse: collapse;
        margin: 0;
        overflow: hidden;
        table-layout: fixed;
        width: 100%;

        td,
        th {
            border: 1px solid #aaa;
            box-sizing: border-box;
            min-width: 1em;
            padding: 6px 8px;
            position: relative;
            vertical-align: top;

            > * {
                margin-bottom: 0;
            }
        }

        th {
            background-color: #ccc;
            font-weight: bold;
            text-align: left;
        }

        .selectedCell:after {
            background: rgba(190, 190, 255, 0.4);
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            pointer-events: none;
            position: absolute;
            z-index: 2;
        }
    }

    .tableWrapper {
        margin: 1.5rem 0;
        overflow-x: auto;
    }

    blockquote {
        background-color: #ccc;
    }

    hr {
        border: none;
        border-top: 1px solid #aaa;
        cursor: pointer;
        margin: 1rem 0;

        &.ProseMirror-selectednode {
            border-top: 1px solid rgba(190, 190, 255, 1);
        }
    }

    div.page-break {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;

        cursor: pointer;
        margin: 1rem 0;

        .page-break-text {
            color: #aaa;
        }

        .page-break-line {
            border-top: 1px solid #aaa;
            flex-grow: 1;
        }

        &.ProseMirror-selectednode .page-break-text {
            color: rgba(190, 190, 255, 1);
        }

        &.ProseMirror-selectednode .page-break-line {
            border-top: 1px solid rgba(190, 190, 255, 1);
        }
    }

    a {
        color: #33c;
        font-weight: bolder;
    }

    strong {
        font-weight: 500;
    }

    /* Placeholder (at the top) */
    p.is-editor-empty:first-child::before {
        color: var(--gray-4);
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }

    /* Collaboration caret */
    .collaboration-cursor__caret {
        border-left: 1px solid #0d0d0d;
        border-right: 1px solid #0d0d0d;
        margin-left: -1px;
        margin-right: -1px;
        pointer-events: none;
        position: relative;
        word-break: normal;
    }

    /* Collaboration caret username */
    .collaboration-cursor__label {
        border-radius: 3px 3px 3px 0;
        color: #0d0d0d;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        left: -1px;
        line-height: normal;
        padding: 0.1rem 0.3rem;
        position: absolute;
        top: -1.4em;
        user-select: none;
        white-space: nowrap;
    }
}
