#cvssReference {
    font-size: 100%;
}

.cvss-calculator {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cvss-calculator div.cvss-groups {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 1rem;
}

.cvss-calculator div.cvss-group {}

.cvss-calculator div.cvss-metric {
    padding: 0;
    margin: 0.5em 0;
}

.cvss-calculator div.cvss-values {
    display: flex;
    flex-direction: row;
}

.cvss-calculator h2 {
    font-size: 2.3em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.cvss-calculator h3 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding: 0;
}

.cvss-calculator h4 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding: 0;
}

.cvss-calculator h5 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding: 0;
}

.cvss-calculator input {
    display: none;
}

.cvss-calculator label {
    flex-grow: 1;
    background: #cccccc;
    display: inline-block;
    margin: 3px;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 90%;
    border-radius: 5px;
    color: #666666;
    border: 1px solid #999999;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
}

.cvss-calculator label:hover {
    background: #666666;
    color: #ffffff;
    border: 1px solid #666666
}

.cvss-calculator input:checked+label {
    background: green;
    border: 1px solid green;
    color: #ffffff;
}

.scoreRating {
    position: absolute;
    top: 5px;
    right: -10px;
    padding: 0 0.4em;
    margin: 0 15px;
    border: 2px solid #666666;
    background: #dddddd;
    font-size: 11px;
    border-radius: 10px;
    width: 100px;
    height: auto;
    line-height: 150%;
    text-align: center;
}

.scoreRating.temporalRating {
    top: 105px;
}

.scoreRating.envRating {
    top: 205px;
}

.scoreRating.none,
.scoreRating.low,
.scoreRating.medium,
.scoreRating.high,
.scoreRating.critical {
    color: #ffffff;
}

.scoreRating.none {
    background: #53aa33;
    border: 2px solid #53aa33;
}

.scoreRating.low {
    background: #ffcb0d;
    border: 2px solid #ffcb0d;
}

.scoreRating.medium {
    background: #f9a009;
    border: 2px solid #f9a009;
}

.scoreRating.high {
    background: #df3d03;
    border: 2px solid #df3d03;
}

.scoreRating.critical {
    background: #cc0500;
    border: 2px solid #cc0500;
}

.scoreRating span {
    font-size: 150%;
    font-weight: bold;
    width: 100%;
}

.needBaseMetrics {
    text-align: center;
    line-height: 100%;
    padding-top: 5px;
    font-size: 15px;
}

.cvss-critical {
    color: var(--crit-rating-color);
}

.cvss-high {
    color: var(--high-rating-color);
}

.cvss-medium {
    color: var(--med-rating-color);
}

.cvss-low {
    color: var(--low-rating-color);
}

.cvss-info {
    color: var(--info-rating-color);
}

.baseMetricScore {
    display: block;
}

.envMetricScore {
    display: block;
}

.temporalMetricScore {
    display: block;
}

.baseSeverity {
    margin-bottom: 10px;
    display: block;
}

.envSeverity {
    margin-bottom: 10px;
    display: block;
}

.temporalSeverity {
    margin-bottom: 10px;
    display: block;
}